#goods-confirm {
  a:hover {
    text-decoration: underline;
  }
  .product-image {
    width: 90px;
    height: 100%;
  }

  @media (max-width: 576px) {
    .container-filter {
      display: block !important;
      h2 {
        margin-bottom: 10px !important;
      }
    }
  }
}
