<div class="card">
  <div class="card-header">
    <h2 class="card-title">{{ "summary" | transloco }}</h2>
  </div>
  <div class="card-body payment-summary-body">
    <div class="row">
      <div class="col-lg-2">
        <h4>{{ "exchange.service" | transloco }}</h4>
      </div>
      <div class="col">
        <p>{{ getPaymentMethodLabel() | transloco }}</p>
      </div>
    </div>
    <div
      *ngIf="paymentMethod === 'bank' && details.account_name"
      class="row mt-3"
    >
      <div class="col-lg-2">
        <h4>{{ "exchange.account_name" | transloco }}</h4>
      </div>
      <div class="col">
        <p>{{ details.account_name }}</p>
      </div>
    </div>
    <div
      *ngIf="paymentMethod === 'bank' && details.account_number"
      class="row mt-3"
    >
      <div class="col-lg-2">
        <h4>{{ "exchange.account_number" | transloco }}</h4>
      </div>
      <div class="col">
        <p>{{ details.account_number }}</p>
      </div>
    </div>
    <div
      *ngIf="paymentMethod === 'bank' && details.account_url"
      class="row mt-3"
    >
      <div class="col-lg-2">
        <h4>{{ "exchange.account" | transloco }}</h4>
      </div>
      <div class="col">
        <p>{{ "exchange.account_details_as_image" | transloco }}</p>
      </div>
    </div>
    <div *ngIf="paymentMethod === 'alipay'" class="row mt-3">
      <div class="col-lg-2">
        <h4>{{ "exchange.account_request_sent_to" | transloco }}</h4>
      </div>
      <div class="col">
        <p>{{ getAlipayAccountName(details.alipay_account_id) }}</p>
      </div>
    </div>
    <h4 class="mt-4 mb-4">{{ "exchange.amount_due_details" | transloco }}</h4>
    <div *ngIf="paymentMethod === 'alipay'" class="row">
      <div class="col-lg-2">
        <h4>{{ "exchange.sub_amount_details" | transloco }}</h4>
      </div>
      <div class="col-2">
        <p class="text-center">{{ getSplitAmount() }}</p>
      </div>
      <div class="col-2">
        <p>{{ "yuan" | transloco }}</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-2">
        <h4>{{ "exchange.total_yuan" | transloco }}</h4>
      </div>
      <div class="col-2">
        <p class="text-center">
          {{ getTotalAmount() }}
        </p>
      </div>
      <div class="col-2">
        <p>{{ "yuan" | transloco }}</p>
      </div>
    </div>
    <div *ngIf="paymentMethod === 'alipay'" class="row mt-3">
      <div class="col-lg-2">
        <h4>{{ "exchange.use_refund_balance" | transloco }}</h4>
      </div>
      <div class="col-2">
        <p class="text-center">{{ getTotalWalletAmount() }}</p>
      </div>
      <div class="col-2">
        <p>{{ "yuan" | transloco }}</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-2">
        <h4>{{ "exchange.exchange_rate" | transloco }}</h4>
      </div>
      <div class="col-2">
        <p class="text-center">{{ getExchangeRate() }}</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-2">
        <h4>{{ "exchange.total_amount_to_pay" | transloco }}</h4>
      </div>
      <div class="col-2">
        <p class="text-center">{{ getResult() }}</p>
      </div>
      <div class="col-2">
        <p>{{ "baht" | transloco }}</p>
      </div>
    </div>
    <div class="row warning-row">
      <h4 class="text-danger">
        {{ "exchange.wait_for_order_status" | transloco }}
      </h4>
    </div>
    <div class="button-container">
      <button class="btn btn-danger mr-2" type="button" (click)="onCancel()">
        {{ "cancel" | transloco }}
      </button>
      <button class="btn btn-primary" type="button" (click)="onSubmit()">
        {{ "exchange.confirm_create_payment" | transloco }}
      </button>
    </div>
  </div>
</div>
