.payment-summary-body {
  padding: 2.5rem 3rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1rem;
}

.warning-row {
  padding-left: 15px;
  margin-top: 1rem;
}
