<div class="card">
  <div class="card-header">
    <h2 class="card-title">สรุปรายการ</h2>
  </div>
  <div class="card-body payment-summary-body">
    <div class="row">
      <div class="col-lg-2">
        <h4>บริการ</h4>
      </div>
      <div class="col">
        <p>{{ getPaymentMethodLabel() }}</p>
      </div>
    </div>
    <div
      *ngIf="paymentMethod === 'bank' && details.account_name"
      class="row mt-3"
    >
      <div class="col-lg-2">
        <h4>ชื่อบัญชี</h4>
      </div>
      <div class="col">
        <p>{{ details.account_name }}</p>
      </div>
    </div>
    <div
      *ngIf="paymentMethod === 'bank' && details.account_number"
      class="row mt-3"
    >
      <div class="col-lg-2">
        <h4>เลขบัญชี</h4>
      </div>
      <div class="col">
        <p>{{ details.account_number }}</p>
      </div>
    </div>
    <div
      *ngIf="paymentMethod === 'bank' && details.account_url"
      class="row mt-3"
    >
      <div class="col-lg-2">
        <h4>บัญชี</h4>
      </div>
      <div class="col">
        <p>แจ้งรายละเอียดบัญชีเป็นไฟล์ภาพ</p>
      </div>
    </div>
    <div *ngIf="paymentMethod === 'alipay'" class="row mt-3">
      <div class="col-lg-2">
        <h4>บัญชีที่ส่งยอดเข้า</h4>
      </div>
      <div class="col">
        <p>{{ getAlipayAccountName(details.alipay_account_id) }}</p>
      </div>
    </div>
    <h4 class="mt-4 mb-4">รายละเอียดยอดเงินที่ต้องชำระ</h4>
    <div *ngIf="paymentMethod === 'alipay'" class="row">
      <div class="col-lg-2">
        <h4>รายละเอียดยอดย่อย</h4>
      </div>
      <div class="col-2">
        <p class="text-center">{{ getSplitAmount() }}</p>
      </div>
      <div class="col-2">
        <p>หยวน</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-2">
        <h4>ยอดรวมหยวน</h4>
      </div>
      <div class="col-2">
        <p class="text-center">
          {{ getTotalAmount() }}
        </p>
      </div>
      <div class="col-2">
        <p>หยวน</p>
      </div>
    </div>
    <div *ngIf="paymentMethod === 'alipay'" class="row mt-3">
      <div class="col-lg-2">
        <h4>ใช้ยอดเงินคืน</h4>
      </div>
      <div class="col-2">
        <p class="text-center">{{ getTotalWalletAmount() }}</p>
      </div>
      <div class="col-2">
        <p>หยวน</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-2">
        <h4>อัตราแลกเปลี่ยน</h4>
      </div>
      <div class="col-2">
        <p class="text-center">{{ getExchangeRate() }}</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-2">
        <h4>สรุปยอดเงินที่ต้องชำระ</h4>
      </div>
      <div class="col-2">
        <p class="text-center">{{ getResult() }}</p>
      </div>
      <div class="col-2">
        <p>บาท</p>
      </div>
    </div>
    <div class="row warning-row">
      <h4 class="text-danger">
        *กรุณารอสถานะรายการเปลี่ยนเป็น “รอชำระเงิน” ก่อนทำการชำระเงิน
      </h4>
    </div>
    <div class="button-container">
      <button class="btn btn-danger mr-2" type="button" (click)="onCancel()">
        ยกเลิก
      </button>
      <button class="btn btn-primary" type="button" (click)="onSubmit()">
        ยืนยันสร้างรายการชำระ
      </button>
    </div>
  </div>
</div>
