<section>
  <div class="card card-container">
    <div class="card-header">
      <h2 class="card-title">{{ "exchange.yuan_wallet" | transloco }}</h2>
      <button
        class="btn btn-icon btn-3 btn-primary"
        (click)="displayAddModal()"
      >
        <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
        <span class="btn-inner--text">{{ "exchange.create_wallet" | transloco }}</span>
      </button>
    </div>
    <div class="card-body">
      <div class="overflow-x-auto">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th>{{ "exchange.yuan_wallet" | transloco }}</th>
              <th>{{ "exchange.created_at" | transloco }}</th>
              <th>{{ "exchange.yuan_refund_balance" | transloco }}</th>
              <th>{{ "remark" | transloco }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let wallet of wallets; let i = index">
              <td>{{ wallet.name }}</td>
              <td>{{ getDateTimeText(wallet.create_date) }}</td>
              <td>{{ wallet.credit_amount }} {{ "yuan" | transloco }}</td>
              <td>{{ wallet.remark || "-" }}</td>
              <td>
                <div>
                  <a
                    role="button"
                    href="javascript:void(0)"
                    (click)="displayEditModal(wallet.id)"
                  >
                    <i class="fas fa-edit action-icon mr-3"></i>
                  </a>
                  <a
                    role="button"
                    href="javascript:void(0)"
                    (click)="displayConfirmDeleteModal(wallet.id)"
                  >
                    <i class="fas fa-trash-alt action-icon"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="btc-modal" *ngIf="isDisplayAddModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-lg-12">
            <h3>{{ "exchange.create_wallet" | transloco }}</h3>
          </div>
        </div>
        <div class="modal-body pb-0 pt-0">
          <div class="col-lg-12 mb-3">
            <h4>{{ "exchange.wallet_name" | transloco }}</h4>
          </div>
          <div class="col-lg-12">
            <input
              type="text"
              class="form-control"
              [ngClass]="{ 'border-danger': !isValidName('add') }"
              [(ngModel)]="addWalletName"
            />
            <div
              class="error-msg mt-2"
              [ngClass]="{ 'text-danger': !isValidName('add') }"
              *ngIf="!isValidName('add')"
            >
              <small
                >{{ "exchange.wallet_name_exists" | transloco }}</small
              >
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-end">
          <button
            type="button"
            class="btn btn-danger mr-2"
            (click)="isDisplayAddModal = false"
          >
            {{ "close" | transloco }}
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="addWallet()"
            [disabled]="isDiabledSubmitButton('add')"
          >
            {{ "confirm" | transloco }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="btc-modal" *ngIf="isDisplayEditModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-lg-12">
            <h3>{{ "edit" | transloco }} {{ editingWallet.name }}</h3>
          </div>
        </div>
        <div class="modal-body pb-0 pt-0">
          <div class="col-lg-12 mb-3">
            <h4>{{ "exchange.wallet_name" | transloco }}</h4>
          </div>
          <div class="col-lg-12">
            <input
              type="text"
              class="form-control"
              [ngClass]="{ 'border-danger': !isValidName('edit') }"
              [(ngModel)]="editWalletName"
            />
            <div
              class="error-msg mt-2"
              [ngClass]="{ 'text-danger': !isValidName('edit') }"
              *ngIf="!isValidName('edit')"
            >
              <small
                >{{ "exchange.wallet_name_exists" | transloco }}</small
              >
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-end">
          <button
            type="button"
            class="btn btn-danger mr-2"
            (click)="isDisplayEditModal = false"
          >
            {{ "close" | transloco }}
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="editWallet()"
            [disabled]="isDiabledSubmitButton('edit')"
          >
            {{ "confirm" | transloco }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="btc-modal" *ngIf="isDisplayConfirmDeleteModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-lg-12">
            <h3>{{ "delete" | transloco }} {{ deletingWallet.name }}</h3>
          </div>
        </div>
        <div class="modal-body pb-0 pt-0">
          <div class="col-lg-12">
            <h4>{{ "exchange.confirm_delete_wallet" | transloco: { name: deletingWallet.name } }}</h4>
          </div>
        </div>
        <div class="modal-footer justify-content-end">
          <button
            type="button"
            class="btn btn-danger mr-2"
            (click)="isDisplayConfirmDeleteModal = false"
          >
            {{ "close" | transloco }}
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="deleteWallet()"
          >
            {{ "confirm" | transloco }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
