<section *ngIf="!isLoading" class="exchange-container">
  <div *ngIf="verificationState === 'verified'">
    <div class="top-section">
      <div class="left-panel">
        <h2 class="text-center">{{ "announcement" | transloco }}</h2>
        <div class="left-panel-details">
          <div [innerHTML]="annoucementHtml"></div>
        </div>
      </div>
      <div class="right-panel">
        <img
          class="logo"
          src="../../../../../assets/img/logo/GET_TA_YUAN_LOGO.jpeg"
        />
        <table class="table align-items-center table-flush mt-4">
          <tbody>
            <tr class="rate-table-row">
              <td colspan="2">{{ "exchange.daily_rate_title" | transloco }}</td>
            </tr>
            <tr class="rate-table-row">
              <td class="w-50">{{ "exchange.baht_to_yuan" | transloco }}</td>
              <td class="w-50">{{ "exchange.yuan_to_baht" | transloco }}</td>
            </tr>
            <tr class="rate-table-row">
              <td class="w-50">{{ getExchangeRate() }}</td>
              <td class="w-50">{{ "exchange.ask_via_line" | transloco }}</td>
            </tr>
          </tbody>
        </table>
        <h4>{{ "exchange.service_conditions" | transloco }}</h4>
        <div [innerHTML]="serviceConditionHtml"></div>
      </div>
    </div>
    <all-exchange *ngIf="currentState === 'all'"></all-exchange>
    <create-new-exchange *ngIf="currentState === 'new'"></create-new-exchange>
    <payment-summary *ngIf="currentState === 'summary'"></payment-summary>
  </div>
  <div class="btc-modal flex-center" *ngIf="verificationState === 'unverified'">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-center align-self-center mb-4">
          <h1 class="mb-3 mt-3">{{ "verify_identity_before_use" | transloco }}</h1>
          <div class="d-flex row justify-content-center mb-3">
            <h1>{{ "status" | transloco }}</h1>
            <h1 class="text-danger ml-2">{{ "identity_not_verified" | transloco }}</h1>
          </div>
          <h2 class="mb-3">{{ "upload_photo_with_id_card" | transloco }}</h2>
          <h2 class="text-danger mb-3">
            {{ "photo_with_id_card_hint" | transloco }}
          </h2>
          <div class="align-self-center mt-4 mb-4">
            <input
              type="file"
              (change)="handleFileInput($event.target.files)"
            />
          </div>
          <div class="d-flex flex-column">
            <button
              type="button"
              class="btn btn-primary submit-file-button mb-4"
              (click)="uploadValidationFile()"
              [disabled]="!uploadedFile"
            >
              <h2 class="text-white">{{ "verify_identity" | transloco }}</h2>
            </button>
            <button
              type="button"
              class="btn btn-danger"
              [routerLink]="['/web/warehouse-address']"
            >
              <h2 class="text-white">{{ "back_to_account_overview" | transloco }}</h2>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="btc-modal flex-center"
    *ngIf="verificationState === 'waiting' || verificationState === 'reviewing'"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-center align-self-center">
          <h1 class="mb-3 mt-3">{{ "verify_identity_before_use" | transloco }}</h1>
          <div class="d-flex row justify-content-center mb-5">
            <h1>{{ "status" | transloco }}</h1>
            <h1 class="text-warning ml-2">{{ "under_review" | transloco }}</h1>
          </div>
          <p class="mt-5">{{ "wait_for_identity_review" | transloco }}</p>

          <p>{{ "notified_after_review_1" | transloco }}</p>
          <p>{{ "notified_after_review_2" | transloco }}</p>
        </div>
        <div class="modal-footer justify-content-center mb-3">
          <button
            type="button"
            class="btn btn-danger"
            [routerLink]="['/web/warehouse-address']"
          >
            <h2 class="text-white">{{ "back_to_account_overview" | transloco }}</h2>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
