.card-header {
  background-color: #ca3342fc;
  color: #fff;

  display: flex;
  flex-direction: column;

  @media (min-width: 550px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.card-title {
  color: #fff;
  margin-bottom: 0;
}

.card-body {
  padding: 30px 50px;
}
