<section id="create-bill">
  <div class="create-bill-section1">
    <div class="card container-card">
      <div
        class="card-header d-flex align-items-center justify-content-between"
      >
        <h2 class="card-title">{{ "payment.delivery_summary" | transloco }}</h2>
        <div class="wrap-link">
          <button
            class="btn btn-primary text-white"
            (click)="isDisplayAddAddress = true"
          >
            {{ "payment.add_new_addresses" | transloco }}
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="wrapper-table overflow-x-auto">
          <table class="table align-items-center">
            <thead class="thead-light">
              <tr>
                <th class="th-parcel-number">{{ "tracking_number" | transloco }}</th>
                <th class="th-delivery-method">{{ "payment.delivery_service" | transloco }}</th>
                <th class="th-shipping-address">{{ "payment.select_shipping_address" | transloco }}</th>
                <th class="th-billing-address">
                  {{ "payment.select_billing_address" | transloco }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="item">
                <td class="td-parcel-number">
                  <div class="quotation" *ngFor="let quotation of quotations">
                    {{ quotation.lot.shopping_serial }}
                  </div>
                </td>
                <td class="td-delivery-method align-top">
                  <div class="btc-select-wrapper">
                    <select
                      class="select-delivery-method"
                      (change)="handleDeliveryMethod($event.target.value)"
                    >
                      <option
                        *ngFor="let carrier of carriers"
                        [value]="carrier.id"
                      >
                        {{ carrier.name }}
                      </option>
                    </select>
                  </div>
                  <div
                    class="btc-select-wrapper mt-3"
                    *ngIf="isExpressDisplay && localDelivery.length > 0"
                  >
                    <select
                      class="select-local-delivery-method"
                      (change)="handleChangeExpress($event.target.value)"
                    >
                      <option
                        *ngFor="let express of localDelivery"
                        [value]="express.id"
                      >
                        {{ express.name }}
                      </option>
                    </select>
                  </div>
                  <div
                    class="btc-select-wrapper mt-3"
                    *ngIf="isExpressDisplay && localDelivery.length === 0"
                  >
                    <select class="select-local-delivery-method">
                      <option>{{ "payment.no_carrier_for_address" | transloco }}</option>
                    </select>
                  </div>
                </td>
                <td class="td-shipping-address align-top">
                  <div class="btc-select-wrapper">
                    <select
                      class="select-shipping-address"
                      (change)="handleShippingAddress($event.target.value)"
                    >
                      <option
                        *ngFor="let addr of addresses"
                        [value]="addr.id"
                        [selected]="addr.id === defaultShippingAddress.id"
                      >
                        {{ addr.name }} - {{ addr.person }} ({{
                          addr.telephone
                        }}) {{ addr.address }},
                        {{ transformAddress(addr.district) }}
                      </option>
                    </select>
                  </div>
                </td>
                <td class="td-billing-address align-top">
                  <div class="btc-select-wrapper">
                    <select
                      class="select-billing-address"
                      (change)="handleBillingAddress($event.target.value)"
                    >
                      <option
                        *ngFor="let addr of addresses"
                        [value]="addr.id"
                        [selected]="addr.id === defaultBillingAddress.id"
                      >
                        {{ addr.name }} - {{ addr.person }} ({{
                          addr.telephone
                        }}) {{ addr.address }},
                        {{ transformAddress(addr.district) }}
                      </option>
                    </select>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="create-bill-section2 mt-5">
    <div class="card container-card">
      <div class="card-header">
        <h2 class="card-title">{{ "payment.payment_summary" | transloco }}</h2>
      </div>
      <div class="card-body">
      </div>
      <div class="card-body">
        <div class="wrapper-table overflow-x-auto">
          <table class="table align-items-center">
            <thead class="thead-light">
              <tr>
                <th class="th-list-summary">{{ "summary" | transloco }}</th>
                <th class="th-amount">{{ "payment.amount" | transloco }}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="item">
                <td class="td-transportation-cost">{{ "shipping_fee" | transloco }}</td>
                <td class="td-amount">{{ totalDeliveryCost }} {{ "baht" | transloco }}</td>
              </tr>
              <tr class="item">
                <td class="td-other-expenses">{{ "other_fees" | transloco }}</td>
                <td class="td-amount">{{ totalOtherCost }} {{ "baht" | transloco }}</td>
              </tr>
              <tr class="item">
                <td class="td-shipping-cost">{{ "payment.delivery_fee" | transloco }}</td>
                <td class="td-amount">0.00 {{ "baht" | transloco }}</td>
              </tr>
              <tr class="item">
                <td class="td-other-expenses-in-shipping">
                  {{ "payment.other_delivery_fees" | transloco }}
                </td>
                <td class="td-amount">{{ totalThOtherCost }} {{ "baht" | transloco }}</td>
              </tr>
              <tr class="item">
                <td class="td-discount">{{ "discount" | transloco }}</td>
                <td class="td-amount">0.00 {{ "baht" | transloco }}</td>
              </tr>
              <tr class="item">
                <th class="td-other-expenses">{{ "payment.total_amount_due" | transloco }}</th>
                <th class="td-amount">{{ totalPrice }} {{ "baht" | transloco }}</th>
              </tr>
            </tbody>
          </table>
          <div class="message text-right p-4">
            <p class="text-danger mb-2">
              {{ "payment.wait_for_bill_status" | transloco }}
            </p>
            <div class="wrap-btn">
              <button (click)="onCancel()" class="btn btn-danger">
                {{ "cancel" | transloco }}
              </button>
              <button
                class="btn btn-success confirm-bill"
                (click)="createQuotation()"
                [disabled]="isSubmitDisabled()"
              >
                {{ "payment.confirm_create_bill" | transloco }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="btc-modal flex-center" *ngIf="isDisplayAddAddress">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ "add_new_address" | transloco }}</h5>
          <button
            type="button"
            class="close-btn"
            data-dismiss="modal"
            [attr.aria-label]="'close' | transloco"
            (click)="onCloseAddAddress()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-address-name">
                  {{ "address_name" | transloco }}
                </label>
                <input
                  class="form-control"
                  id="input-address-name"
                  [placeholder]="'address_name' | transloco"
                  type="text"
                  maxlength="50"
                  [(ngModel)]="newAddressName"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-name">
                  {{ "full_name" | transloco }}
                </label>
                <input
                  class="form-control"
                  id="input-name"
                  [placeholder]="'full_name' | transloco"
                  type="text"
                  maxlength="50"
                  [(ngModel)]="newReceiverName"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-phone-number">
                  {{ "phone_number" | transloco }}
                </label>

                <input
                  class="form-control"
                  id="input-phone-number"
                  [placeholder]="'phone_number' | transloco"
                  type="tel"
                  pattern="[0-9]*"
                  maxlength="15"
                  [(ngModel)]="newTelephone"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div
                  class="custom-control custom-checkbox custom-control-inline"
                >
                  <input
                    [(ngModel)]="isCheckAddJuristic"
                    type="checkbox"
                    id="customCheckboxAddJuristic"
                    name="customCheckboxAddJuristic"
                    class="custom-control-input"
                  />
                  <label
                    class="custom-control-label"
                    for="customCheckboxAddJuristic"
                    >{{ "juristic_person" | transloco }}</label
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-vat">
                  {{ "tax_id" | transloco }}
                </label>

                <input
                  class="form-control"
                  id="input-vat"
                  [placeholder]="'tax_id' | transloco"
                  type="text"
                  [(ngModel)]="newVat"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-address-1">
                  {{ "address_line_hint" | transloco }}
                </label>
                <input
                  class="form-control"
                  id="input-address-1"
                  [placeholder]="'address_line_hint' | transloco"
                  type="text"
                  maxlength="100"
                  [(ngModel)]="newAddressLine1"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="select-new-address">
                  {{ "address" | transloco }}
                </label>
                <select-address
                  [id]="'select-new-address'"
                  (addressSelected)="onNewAddressSelected($event)"
                ></select-address>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div
                  class="custom-control custom-checkbox custom-control-inline"
                >
                  <input
                    [(ngModel)]="isCheckAddShippingAddress"
                    type="checkbox"
                    id="customCheckboxAddDefaultAddress"
                    name="customCheckboxAddDefaultAddress"
                    class="custom-control-input"
                  />
                  <label
                    class="custom-control-label"
                    for="customCheckboxAddDefaultAddress"
                    >{{ "shipping_address" | transloco }}</label
                  >
                </div>
                <div
                  class="custom-control custom-checkbox custom-control-inline"
                >
                  <input
                    [(ngModel)]="isCheckAddBillingAddress"
                    type="checkbox"
                    id="customCheckboxAddRegisterAddress"
                    name="customCheckboxAddRegisterAddress"
                    class="custom-control-input"
                  />
                  <label
                    class="custom-control-label"
                    for="customCheckboxAddRegisterAddress"
                    >{{ "billing_address" | transloco }}</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            (click)="onCloseAddAddress()"
          >
            {{ "close" | transloco }}
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="createAddress()"
          >
            {{ "save" | transloco }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
