.exchange-container {
  margin: 30px 40px;
}

.card-header {
  background-color: #ca3342fc;
  color: #fff;

  display: flex;
  flex-direction: column;

  @media (min-width: 550px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.card-title {
  color: #fff;
  margin-bottom: 0;
}

.card-body {
  padding: 30px 50px;
}

.top-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  @media (min-width: 780px) {
    flex-direction: row;
    justify-content: space-between;
    height: 370px;
  }
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 55vw;
  box-shadow: 0px 0px 4px 2px #00000040;
  padding: 15px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  background-color: #fff;

  @media (min-width: 780px) {
    height: auto;
    min-height: unset;
    flex: 2;
    margin-right: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.left-panel-details {
  padding: 0 1rem;
  margin-bottom: 0.5rem;

  @media (min-width: 780px) {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
}

.right-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  box-shadow: 0px 0px 32px 0px #8898aa26;
  padding: 15px;
  border-radius: 6px;
  background-color: #fff;

  @media (min-width: 780px) {
    overflow-y: scroll;
  }
}

.logo {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: #afb1b4;
  border-radius: 4px;
}

h2 {
  margin-bottom: 0;
}

table,
td {
  text-align: center;
}

.rate-table-row {
  border: 1px solid #e9ecef !important;
}

.btc-modal .modal-dialog .modal-content {
  height: fit-content;
}

.text-white {
  color: white;
}

.create-button {
  margin-top: 0.5rem;

  @media (min-width: 780px) {
    margin-top: 0;
  }
}

.submit-file-button {
  width: fit-content;
  align-self: center;
}
