<section id="payment-notice" *ngIf="bill">
  <div class="payment-notice-section1 card container-card">
    <div class="card-header">
      <span class="text-white">{{ "notify_payment" | transloco }}</span>
    </div>
    <div class="card-body">
      <h4 class="mb-2">{{ "payment.transfer_to" | transloco }}</h4>
      <div class="card information px-3 py-2 mb-0 text-white">
        <div class="item">
          <span>{{ "payment.bank_label" | transloco }} </span>
          <span>{{
            getPaymentAccount(bill.service_type).bankName | transloco
          }}</span>
        </div>
        <div class="item">
          <span>{{ "payment.branch_label" | transloco }} </span>
          <span>{{
            (getPaymentAccount(bill.service_type).branchName | transloco) || "-"
          }}</span>
        </div>
        <div class="item">
          <span>{{ "payment.account_name_label" | transloco }} </span>
          <span>{{
            getPaymentAccount(bill.service_type).accountName
          }}</span>
        </div>
        <div class="item">
          <span>{{ "payment.account_type_label" | transloco }} </span>
          <span>{{
            (getPaymentAccount(bill.service_type).accountTypeName | transloco) ||
              "-"
          }}</span>
        </div>
        <div class="item">
          <span>{{ "payment.account_number_label" | transloco }} </span>
          <span>{{
            getPaymentAccount(bill.service_type).accountNumber
          }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="payment-notice-section2 card container-card bill">
    <div class="card-header">
      <span class="text-white">{{ "payment.bill_number" | transloco }} #{{ bill.name }}</span>
    </div>
    <div class="card-body">
      <div class="item item1">
        <span>{{ "payment.total_to_pay_label" | transloco }} </span>
        <span class="text-green">{{ bill.amount_currency }} {{ "baht" | transloco }}</span>
      </div>
      <div class="item item2">
        <span class="text-red text-underline"
          >{{ "payment.pay_via_shown_channel" | transloco }}</span
        >
      </div>
      <div class="item item3">
        <span
          >{{ "payment.transferred_amount" | transloco }}<span class="text-red">{{ "payment.numbers_only" | transloco }}</span>
        </span>
        <input
          type="number"
          min="1"
          class="form-control"
          [(ngModel)]="amountPay"
          (focusout)="checkValue()"
          (keydown)="handleAmountPay($event)"
        />
      </div>
      <div class="item item4">
        <span>{{ "payment.transfer_date" | transloco }}<span class="text-red">*</span></span>
        <input
          type="text"
          id="input-payment-date"
          placeholder=""
          class="form-control"
          bsDatepicker
          [bsConfig]="{
            isAnimated: true,
            containerClass: 'theme-red',
            dateInputFormat: 'YYYY-MM-DD'
          }"
          [bsValue]="paymentDate"
          [(ngModel)]="paymentDate"
        />
      </div>
      <div class="item item5 timepicker">
        <span
          >{{ "payment.transfer_time" | transloco }}<span class="text-red"
            >{{ "payment.time_24h" | transloco }}</span
          >
        </span>
        <timepicker
          [(ngModel)]="paymentTime"
          [showMeridian]="isMeridian"
          [hoursPlaceholder]="'hours' | transloco"
          [minutesPlaceholder]="'minutes' | transloco"
        ></timepicker>
      </div>
      <div class="item item6">
        <span>{{ "payment.proof_of_payment" | transloco }}</span>
        <span class="block my-2"></span>
        <div class="dropzone-wrapper">
          <ngx-dropzone (change)="onSelectFile($event)" [multiple]="false">
            <ngx-dropzone-label>{{ "drop_files_here_to_upload" | transloco }}</ngx-dropzone-label>
            <ngx-dropzone-image-preview
              ngProjectAs="ngx-dropzone-preview"
              *ngFor="let f of files"
              [file]="f"
              [removable]="true"
              (removed)="onRemoveFile(f)"
            >
              <ngx-dropzone-label
                >{{ f.name }} ({{ f.type }})</ngx-dropzone-label
              >
            </ngx-dropzone-image-preview>
          </ngx-dropzone>
        </div>
      </div>
      <div class="confirm mt-2">
        <button class="btn btn-primary" (click)="billSubmit()">{{ "save" | transloco }}</button>
      </div>
    </div>
  </div>
</section>
