<section id="manage-parcel" *ngIf="isMainContentDisplay">
  <div class="card container-card">
    <div class="card-header">
      <h2 class="card-title">จัดการพัสดุ</h2>
    </div>
    <div class="card-body" *ngIf="saleSummaryItems.length === 0">
      <h3 class="text-center p-3">ไม่มีรายการจัดการพัสดุ</h3>
    </div>
    <div class="card-body" *ngIf="saleSummaryItems.length > 0">
      <div
        class="container-filter mb-3 d-flex align-items-center justify-content-between"
      >
        <h2>รายการพัสดุ</h2>
        <div class="d-flex wrapper-input">
          <div class="d-flex align-items-center mr-3 no-order">
            <span class="text-nowrap mr-3 title">เลขพัสดุ</span>
            <input type="text" class="form-control" placeholder="" />
          </div>
          <div class="d-flex align-items-center mr-3 export-date">
            <span class="export-date text-nowrap mr-3 title"
              >วันที่ออกจากจีน
            </span>
            <div
              class="input-group input-group-alternative input-group-birthdate"
            >
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-calendar-grid-58"></i
                ></span>
              </div>

              <input
                type="string"
                id="input-birthdate"
                placeholder=""
                class="form-control"
                bsDatepicker
                [bsValue]="bsValue"
                [bsConfig]="{
                  isAnimated: true,
                  containerClass: 'theme-red',
                  dateInputFormat: 'YYYY-MM-DD'
                }"
              />
            </div>
          </div>
          <div class="d-flex align-items-center mr-3 status">
            <span class="mr-3 title">สถานะ</span>
            <div class="btc-select-wrapper status">
              <select class="select-status">
                <option>เข้าโกดังจีน</option>
                <option>ออกจีน</option>
                <option>ถึงไทย</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper-table overflow-x-auto">
        <table class="table align-items-center">
          <thead class="thead-light">
            <tr>
              <th>เลขที่รายการ</th>
              <th>เลขพัสดุ</th>
              <th>ค่าขนส่ง</th>
              <th>เรท</th>
              <th>ค่าคอมมิชชั่น</th>
              <th>ส่วนลด</th>
            </tr>
          </thead>
          <tbody>
            <tr class="item" *ngFor="let item of saleSummaryItems">
              <td>{{ item.id }}</td>
              <td class="text-left">
                <p *ngFor="let tracking_id of item.tracking_ids">
                  {{ tracking_id }}
                </p>
              </td>
              <td>
                <div class="shipping-price">
                  <div class="space-3-columns">
                    <span>ค่าขนส่ง</span>
                    <span>{{ item.delivery_price.delivery_price }}</span>
                    <span>บาท</span>
                  </div>
                  <div class="space-3-columns">
                    <span>ค่าใช้จ่ายอื่นๆ</span>
                    <span>{{ item.delivery_price.other_cost }}</span>
                    <span>บาท</span>
                  </div>
                  <div class="space-3-columns">
                    <span>ค่าจัดเก็บพัสดุ</span>
                    <span>{{ item.delivery_price.storage_cost }}</span>
                    <span>บาท</span>
                  </div>
                  <div class="space-3-columns">
                    <span>รวม</span>
                    <span>{{ item.delivery_price.total_cost }}</span>
                    <span>บาท</span>
                  </div>
                </div>
              </td>
              <td>
                <div class="rate">
                  <div class="space-3-columns">
                    <span>ราคาทุน</span>
                    <span>{{ item.rate.cost_price }}</span>
                    <span>บาท</span>
                  </div>
                  <div class="space-3-columns">
                    <span>ราคาขาย</span>
                    <span>{{ item.rate.selling_price }}</span>
                    <span>บาท</span>
                  </div>
                </div>
              </td>
              <td>ค่าคอมมิชชั่น {{ item.final_commission }} บาท</td>
              <td>
                <div>ส่วนลดปัจจุบัน {{ item.discount_commission }} บาท</div>
                <div class="mt-3">
                  <input
                    type="number"
                    placeholder="กรอกส่วนลด"
                    class="form-control discount my-2"
                    (keydown)="handleAmountPay($event)"
                    #discountValue
                  />
                  <button
                    class="btn btn-success py-1 px-2 w-100"
                    (click)="editDiscount(item, discountValue)"
                  >
                    แก้ไขส่วนลด
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="pagination-wrapper d-flex justify-content-end mt-4"
        *ngIf="pagination.pageSize > 1"
      >
        <ul class="pagination">
          <li
            class="page-item"
            [ngClass]="{
              disabled: pagination && pagination.page === pagination.startPage
            }"
          >
            <a
              class="page-link"
              (click)="handleChangePage(pagination.page - 1)"
            >
              <i class="fa fa-angle-left"></i>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li
            *ngFor="let pageNumber of pageNumbers"
            class="page-item"
            [ngClass]="{ active: pagination && pagination.page === pageNumber }"
          >
            <a class="page-link" (click)="handleChangePage(pageNumber)">{{
              pageNumber
            }}</a>
          </li>
          <li
            class="page-item"
            [ngClass]="{
              disabled: pagination && pagination.page === pagination.endPage
            }"
          >
            <a
              class="page-link"
              (click)="handleChangePage(pagination.page + 1)"
            >
              <i class="fa fa-angle-right"></i>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<affiliate-modal
  (isMainContentDisplay)="setMainContentDisplay($event)"
></affiliate-modal>
