<section id="transport-payment">
  <div class="card container-card">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h2 class="card-title">{{ "payment.pending_shipping_payment" | transloco }}</h2>
      <a
        class="btn btn-primary text-white"
        href="javascript:void(0)"
        (click)="isNoPendingPaymentChecked()"
        >{{ "payment.create_payment_order" | transloco }}</a
      >
    </div>
    <div class="card-body" *ngIf="items.length === 0">
      <h3 class="text-center p-3">{{ "payment.no_pending_shipping_payment" | transloco }}</h3>
    </div>
    <div class="card-body" *ngIf="items.length > 0">
      <div
        class="container-filter mb-3 d-flex align-items-center justify-content-between"
      >
        <h2>{{ "pending_payment_list" | transloco }}</h2>
        <div class="d-flex wrap-input">
          <div class="d-flex align-items-center mr-3 item-input">
            <span class="text-nowrap mr-3 title">{{ "tracking_number" | transloco }}</span>
            <input type="text" class="form-control" placeholder="" />
          </div>
          <div class="d-flex align-items-center mr-3 item-input">
            <span class="export-date text-nowrap mr-3 title"
              >{{ "china_departure_date" | transloco }}
            </span>
            <div
              class="input-group input-group-alternative input-group-birthdate"
            >
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-calendar-grid-58"></i
                ></span>
              </div>

              <input
                type="string"
                id="input-birthdate"
                placeholder=""
                class="form-control"
                bsDatepicker
                [bsValue]="bsValue"
                [bsConfig]="{
                  isAnimated: true,
                  containerClass: 'theme-red',
                  dateInputFormat: 'YYYY-MM-DD'
                }"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card-header bg-white">
        <h2 class="card-title text-dark">{{ "parcel_list" | transloco }}</h2>
      </div>
      <div class="wrapper-table overflow-x-auto">
        <table class="table align-items-center">
          <thead class="thead-light">
            <tr>
              <th>
                <input type="checkbox" (click)="checkAllBox($event.target)" />
              </th>
              <th>{{ "tracking_number" | transloco }}</th>
              <th>{{ "weight" | transloco }}</th>
              <th>{{ "volume" | transloco }}</th>
              <th>{{ "shipping_fee" | transloco }}</th>
              <th>{{ "payment.crating_fee" | transloco }}</th>
              <th>{{ "payment.qc_fee" | transloco }}</th>
              <th>{{ "other_fees" | transloco }}</th>
              <th>{{ "storage_fee" | transloco }}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="item" *ngFor="let item of items; let i = index">
              <td class="td-checkbox">
                <input
                  type="checkbox"
                  [(ngModel)]="item.is_checked"
                  (click)="checkBox(item)"
                />
              </td>
              <td class="td-shopping-serial">
                <div>
                  <p>
                    {{ "container_no" | transloco }}
                    <span>{{
                      renderText(item.lot?.shipping_lot_display?.name)
                    }}</span>
                  </p>
                  <p>
                    {{ "tracking_number" | transloco }}
                    <span class="text-primary bold">{{
                      renderText(item.lot?.shopping_serial)
                    }}</span>
                  </p>
                  <p>
                    {{ "parcel_quantity" | transloco }} {{ renderText(item.lot?.quantity) }} {{ "pieces" | transloco }}
                  </p>
                </div>
              </td>
              <td class="td-total-weight">
                <span>{{ "total_weight" | transloco }}</span>
                <span class="block"></span>
                <span>
                  {{ renderTotalWeight(item.lot?.total_weight) }} {{ "kg" | transloco }}</span
                >
              </td>
              <td class="td-total-volume">
                <div>
                  <div class="space-3-columns">
                    <span>{{ "width" | transloco }}</span>
                    <span>{{ renderText(item.lot?.width) }}</span>
                    <span>{{ "cm" | transloco }}</span>
                  </div>
                  <div class="space-3-columns">
                    <span>{{ "length" | transloco }}</span>
                    <span>{{ renderText(item.lot?.depth) }}</span>
                    <span>{{ "cm" | transloco }}</span>
                  </div>
                  <div class="space-3-columns">
                    <span>{{ "height" | transloco }}</span>
                    <span>{{ renderText(item.lot?.height) }}</span>
                    <span>{{ "cm" | transloco }}</span>
                  </div>
                </div>
                <div class="mt-2">
                  <span>{{ "total_volume" | transloco }}</span>
                  <span class="block"></span>
                  <span class="mx-2">
                    {{ renderText(item.lot?.total_volume).toFixed(4) }}
                  </span>
                  <span>{{ "m3" | transloco }}</span>
                </div>
              </td>
              <td class="td-delivery-cost">
                <span class="text-danger mr-2">
                  {{ renderText(item.lot?.delivery_cost) }}
                </span>
                <span>{{ "baht" | transloco }}</span>
              </td>
              <td class="td-packing-cost">
                <span class="mr-2">
                  {{ renderText(item.lot?.packing_cost) }}</span
                >
                <span>{{ "baht" | transloco }}</span>
              </td>
              <td class="td-qc-cost">
                <span class="mr-2"> {{ renderText(item.lot?.qc_cost) }}</span>
                <span>{{ "baht" | transloco }}</span>
              </td>
              <td class="td-other-cost">
                <span class="text-danger mr-2">
                  {{ renderText(item.lot?.other_cost).toFixed(2) }}
                </span>
                <span>{{ "baht" | transloco }}</span>
              </td>
              <td class="td-storage-cost">
                <span class="mr-2">
                  {{ renderText(item.lot?.storage_cost) }}</span
                >
                <span>{{ "baht" | transloco }}</span>
              </td>
            </tr>
          </tbody>
          <thead class="t-footer">
            <tr>
              <th colspan="2">{{ "payment.total_parcel_quantity" | transloco }} {{ totalQuantity }} {{ "pieces" | transloco }}</th>
              <th>
                {{ "total_weight" | transloco }}
                <br />
                {{ totalWeight }} {{ "kg" | transloco }}
              </th>
              <th>
                <p>
                  {{ "total_volume" | transloco }}<br />
                  {{ totalVolume }} {{ "m3" | transloco }}
                </p>
              </th>
              <th class="total-cost">
                <div>
                  <p>
                    {{ "shipping_fee" | transloco }}<br />
                    {{ totalDeliveryCost }} {{ "baht" | transloco }}
                  </p>
                </div>
              </th>
              <th>
                <p>
                  {{ "payment.crating_fee" | transloco }}<br />
                  {{ totalPackingCost }} {{ "baht" | transloco }}
                </p>
              </th>
              <th>
                <p>
                  {{ "payment.qc_fee" | transloco }}<br />
                  {{ renderText(totalQcCost) }} {{ "baht" | transloco }}
                </p>
              </th>
              <th>
                <p>
                  {{ "other_fees" | transloco }}<br />
                  {{ totalOtherCost }} {{ "baht" | transloco }}
                </p>
              </th>
              <th>
                <p>
                  {{ "storage_fee" | transloco }}<br />
                  {{ totalStorageCost }} {{ "baht" | transloco }}
                </p>
              </th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="d-flex justify-content-end mt-4">
        <ul class="pagination">
          <li
            class="page-item"
            [ngClass]="{
              disabled: pagination && pagination.page === pagination.startPage
            }"
          >
            <a
              class="page-link"
              (click)="handleChangePage(pagination.page - 1)"
            >
              <i class="fa fa-angle-left"></i>
              <span class="sr-only">{{ "paginator.previous" | transloco }}</span>
            </a>
          </li>
          <li
            *ngFor="let pageNumber of pageNumbers"
            class="page-item"
            [ngClass]="{ active: pagination && pagination.page === pageNumber }"
          >
            <a class="page-link" (click)="handleChangePage(pageNumber)">{{
              pageNumber
            }}</a>
          </li>
          <li
            class="page-item"
            [ngClass]="{
              disabled: pagination && pagination.page === pagination.endPage
            }"
          >
            <a
              class="page-link"
              (click)="handleChangePage(pagination.page + 1)"
            >
              <i class="fa fa-angle-right"></i>
              <span class="sr-only">{{ "paginator.next" | transloco }}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="transport-payment-footer p-3 mb-0 card">
        <div class="wrapper">
          <div class="form-group">
            <label for="total-parcel">{{ "payment.total_parcels" | transloco }}</label>
            <input
              type="text"
              class="form-control"
              id="total-parcel"
              [(ngModel)]="totalQuantity"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="total-price">{{ "payment.total_price" | transloco }}</label>
            <input
              type="text"
              class="form-control"
              id="total-price"
              [(ngModel)]="totalPrice"
              readonly
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btc-modal flex-center" *ngIf="isDisplayNoPendingPaymentChecked">
    <div class="modal-dialog confirm-delete-modal-dialog">
      <div class="modal-content align-items-center justify-content-center">
        <div class="modal-header">
          <h1>{{ "payment.select_items_first" | transloco }}</h1>
        </div>
        <div class="modal-footer justify-content-center">
          <button
            type="button"
            class="btn btn-danger"
            (click)="isDisplayNoPendingPaymentChecked = false"
          >
            {{ "close" | transloco }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
