<section id="pending-payment-list">
  <div class="card container-card">
    <div class="card-header">
      <h2 class="card-title">{{ "pending_payment_list" | transloco }}</h2>
    </div>
    <div class="card-body">
      <div class="wrapper-filter mb-3">
        <div class="filter1 d-flex align-items-center">
          <h2 class="mr-3">{{ "shop.order" | transloco }}</h2>
          <div class="form-group mb-0">
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>
      <div class="wrapper-table overflow-x-auto">
        <table class="table align-items-center">
          <thead class="thead-light">
            <tr>
              <th>{{ "shop.order" | transloco }}</th>
              <th>{{ "shop.shop_count" | transloco }}</th>
              <th>{{ "shop.order_created_date" | transloco }}</th>
              <th>{{ "item_quantity" | transloco }}</th>
              <th>{{ "amount_due" | transloco }}</th>
              <th>{{ "status" | transloco }}</th>
              <th>{{ "view_details" | transloco }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Order No.1</td>
              <td>Shop</td>
              <td>DD/MM/YY</td>
              <td>1</td>
              <td>Baht</td>
              <td>{{ "shop.status_awaiting_review" | transloco }}</td>
              <td>{{ "view_details" | transloco }}</td>
            </tr>
            <tr>
              <td>Order No.2</td>
              <td>Shop</td>
              <td>DD/MM/YY</td>
              <td>20</td>
              <td>Baht</td>
              <td>
                <span>{{ "shop.status_awaiting_payment" | transloco }}</span>
                <div class="block"></div>
                <a [routerLink]="['/web/payment-notice']">{{ "notify_payment" | transloco }}</a>
              </td>
              <td>{{ "view_details" | transloco }}</td>
            </tr>
            <tr>
              <td>Order No.3</td>
              <td>Shop</td>
              <td>DD/MM/YY</td>
              <td>100</td>
              <td>Baht</td>
              <td>{{ "shop.status_paid" | transloco }}</td>
              <td>{{ "view_details" | transloco }}</td>
            </tr>
            <tr>
              <td>Order No.4</td>
              <td>Shop</td>
              <td>DD/MM/YY</td>
              <td>15</td>
              <td>Baht</td>
              <td>{{ "shipped" | transloco }}</td>
              <td>{{ "view_details" | transloco }}</td>
            </tr>
            <tr>
              <td>Order No.5</td>
              <td>Shop</td>
              <td>DD/MM/YY</td>
              <td>88</td>
              <td>Baht</td>
              <td>{{ "shop.status_cancelled" | transloco }}</td>
              <td>{{ "view_details" | transloco }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
