<section id="exchange">
    <div class="container">
        <h3>
            <u>{{ "faq.exchange_title" | transloco }}</u>
        </h3>
        <p>{{ "faq.exchange_intro" | transloco }}</p>
        <ol>
            <li>{{ "faq.exchange_outside_hours" | transloco }}
                <ul>
                    <li>{{ "faq.exchange_service_days" | transloco }} <br/>
                    {{ "faq.exchange_service_days_note" | transloco }}</li>
                    <li>{{ "faq.exchange_service_hours" | transloco }}</li>
                </ul>
            </li>
            <li>{{ "faq.exchange_rate_not_updated" | transloco }}<br/>
            {{ "faq.exchange_rate_notify_hint" | transloco }}</li>
            <li>{{ "faq.exchange_closed" | transloco }}<br />
            {{ "faq.exchange_closed_note" | transloco }}</li>
            <li>{{ "faq.exchange_not_verified_1" | transloco }} <span class="text-primary">{{ "menu.yuan_service" | transloco }}</span>
            {{ "faq.exchange_not_verified_2" | transloco }}</li>
        </ol>
    </div>
</section>