<section>
  <div class="card parcel-list-card">
    <div class="card-header">
      <h2 class="card-title">ติดตามสถานะสินค้า</h2>
    </div>
    <div class="card-body">
      <div *ngIf="isDesktop">
        <div class="row">
          <div class="col-3">
            <h2>หมายเลขคำสั่งซื้อ</h2>
          </div>
          <div class="col">
            <h2>oooooooooooo</h2>
          </div>
        </div>
        <div class="row mt-4 mb-4 align-items-center">
          <div class="col-1"></div>
          <div class="col-1 mr-5">
            <div class="image"></div>
          </div>
          <div class="col-2">
            <h3>หมายเลขติดตามพัสดุ</h3>
          </div>
          <div class="col-2">
            <h3>oooooooooooo</h3>
          </div>
        </div>
        <div class="row">
          <div class="axis"></div>
          <div class="col-3 text-center">
            <div class="d-flex justify-content-center mb-4">
              <div class="circle active-circle"></div>
            </div>
            <h4>DD/MM/YYYY</h4>
            <h4 class="mt-3 mb-0">สั่งซื้อสินค้า</h4>
          </div>
          <div class="col-3 text-center">
            <div class="d-flex justify-content-center mb-4">
              <div class="d-flex justify-content-center">
                <div class="circle active-circle"></div>
              </div>
            </div>
            <h4>DD/MM/YYYY</h4>
            <h4 class="mt-3 mb-0">ชำระเงิน</h4>
          </div>
          <div class="col-3 text-center">
            <div class="d-flex justify-content-center mb-4">
              <div class="circle"></div>
            </div>
            <h4>DD/MM/YYYY</h4>
            <h4 class="mt-3 mb-0">ร้านค้าจัดส่งสินค้า</h4>
          </div>
          <div class="col-3 text-center">
            <div class="d-flex justify-content-center mb-4">
              <div class="circle"></div>
            </div>
            <h4>DD/MM/YYYY</h4>
            <h4 class="mt-3 mb-0">ถึงโกดังจีน</h4>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row mt-4 mb-4 align-items-center">
          <div class="col-1"></div>
          <div class="col-1 mr-5">
            <div class="image"></div>
          </div>
          <div class="col-2">
            <h3>หมายเลขติดตามพัสดุ</h3>
          </div>
          <div class="col-2">
            <h3>oooooooooooo</h3>
          </div>
        </div>
        <div class="row">
          <div class="axis"></div>
          <div class="col-3 text-center">
            <div class="d-flex justify-content-center mb-4">
              <div class="circle active-circle"></div>
            </div>
            <h4>DD/MM/YYYY</h4>
            <h4 class="mt-3 mb-0">สั่งซื้อสินค้า</h4>
          </div>
          <div class="col-3 text-center">
            <div class="d-flex justify-content-center mb-4">
              <div class="d-flex justify-content-center">
                <div class="circle active-circle"></div>
              </div>
            </div>
            <h4>DD/MM/YYYY</h4>
            <h4 class="mt-3 mb-0">ชำระเงิน</h4>
          </div>
          <div class="col-3 text-center">
            <div class="d-flex justify-content-center mb-4">
              <div class="circle active-circle"></div>
            </div>
            <h4>DD/MM/YYYY</h4>
            <h4 class="mt-3 mb-0">ร้านค้าจัดส่งสินค้า</h4>
          </div>
          <div class="col-3 text-center">
            <div class="d-flex justify-content-center mb-4">
              <div class="circle"></div>
            </div>
            <h4>DD/MM/YYYY</h4>
            <h4 class="mt-3 mb-0">ถึงโกดังจีน</h4>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row mt-4 mb-4 align-items-center">
          <div class="col-1"></div>
          <div class="col-1 mr-5">
            <div class="image"></div>
          </div>
          <div class="col-2">
            <h3>หมายเลขติดตามพัสดุ</h3>
          </div>
          <div class="col-2">
            <h3>oooooooooooo</h3>
          </div>
        </div>
        <div class="row">
          <div class="axis"></div>
          <div class="col-3 text-center">
            <div class="d-flex justify-content-center mb-4">
              <div class="circle active-circle"></div>
            </div>
            <h4>DD/MM/YYYY</h4>
            <h4 class="mt-3 mb-0">สั่งซื้อสินค้า</h4>
          </div>
          <div class="col-3 text-center">
            <div class="d-flex justify-content-center mb-4">
              <div class="d-flex justify-content-center">
                <div class="circle active-circle"></div>
              </div>
            </div>
            <h4>DD/MM/YYYY</h4>
            <h4 class="mt-3 mb-0">ชำระเงิน</h4>
          </div>
          <div class="col-3 text-center">
            <div class="d-flex justify-content-center mb-4">
              <div class="circle active-circle"></div>
            </div>
            <h4>DD/MM/YYYY</h4>
            <h4 class="mt-3 mb-0">ร้านค้าจัดส่งสินค้า</h4>
          </div>
          <div class="col-3 text-center">
            <div class="d-flex justify-content-center mb-4">
              <div class="circle active-circle"></div>
            </div>
            <h4>DD/MM/YYYY</h4>
            <h4 class="mt-3 mb-0">ถึงโกดังจีน</h4>
          </div>
        </div>
        <div class="divider"></div>
      </div>
      <app-tracking-details-mobile
        *ngIf="!isDesktop"
      ></app-tracking-details-mobile>
    </div>
  </div>
</section>
