.overview-container {
    margin-top: 32px;
}

.card-header {
    background-color: #ca3342fc;
    color: #fff;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-title {
    color: #fff;
    margin-bottom: 0;
    font-size: 1rem;
}

.card-body {
    padding: 20px;
}

.table {
    width: 100%;
}

.table th, table td {
    border-top: 0px;
    font-size: 0.875rem;
    padding: 0.25rem;
    text-align: left;
}

.overview-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.remark-list {
    color: #ce1527;
    font-size: 0.8rem;
}

span {
    font-size: 0.8rem;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 0.875rem;
}