<section id="goods-type-special">
    <div class="container">
        <div class="goods-type-special-section1">
            <h3>{{ "faq.goods_type_special_title" | transloco }}</h3>
            <p class="mb-0">{{ "faq.special_subtitle" | transloco }}</p>
            <ol>
                <li>{{ "faq.special_duration" | transloco }}</li>
                <li>{{ "faq.special_mixed" | transloco }}</li>
            </ol>
        </div>
        <div class="goods-type-special-section2 text-danger">
            <p class="mb-0">{{ "faq.special_note_label" | transloco }}</p>
            <ul>
                <li>{{ "faq.special_note_1" | transloco }}</li>
                <li>{{ "faq.special_note_2" | transloco }}</li>
                <li>{{ "faq.special_note_3" | transloco }}</li>
            </ul>
        </div>
    </div>
</section>