<section id="goods-type-special">
    <div class="container">
        <div class="goods-type-special-section1">
            <h3>การขนส่งสินค้าลิขสิทธิ์และอย.</h3>
            <p class="mb-0">การขนส่งสินค้าอย.และสินค้าลิขสิทธิ์</p>
            <ol>
                <li>ใช้เวลาขนส่งประมาณ 2-4 สัปดาห์</li>
                <li>หากมีสินค้าทั่วไปปนมากับสินค้าลิขสิทธิ์ จะถูกคิดเป็นสินค้าลิขสิทธิ์ทั้งหมด</li>
            </ol>
        </div>
        <div class="goods-type-special-section2 text-danger">
            <p class="mb-0">**หมายเหตุ</p>
            <ul>
                <li>หากมีการจัดส่งพัสดุที่มีสินค้าอย.หรือลิขสิทธิ์มาแล้วถือว่ายอมรับความเสี่ยงที่อาจเกิดขึ้นและเงื่อนไขการขนส่งทุกกรณีโดยไม่มีข้อโต้แย้ง</li>
                <li>การขนส่งสินค้าประเภทดังกล่าวมีความเสี่ยงที่ด่านจะดึงสินค้าออกไปบางส่วนหรือสูญหายไปทั้งหมด
                ซึ่งทางเราไม่สามารถประสานงานนำสินค้ากลับมาได้ สินค้าภายในกล่องหรือกระสอบที่ใช้บรรจุสูญหายมากกว่า 5 ชิ้นขึ้นไป
                หรือสูญหายทั้งหมด ทางเราไม่สามารถรับผิดชอบได้ทุกกรณีค่ะ</li>
                <li>ทั้งนี้ เนื่องจากการขนส่งมีความเสี่ยงสูง ทางเราจะคอยดูช่วงเวลาที่ขนส่งได้เพื่อเลี่ยงไม่เกิดปัญหาดังกล่าวเสมอ
                แต่อุบัติเหตุหรือเหตุสุดวิสัยอื่นๆ ที่อาจเกิดขึ้น ทางเราไม่สามารถล่วงรู้และรับผิดชอบได้ทุกกรณีนะคะ</li>
            </ul>
        </div>
    </div>
</section>