<section id="status">
    <div class="container">
        <h3>การเช็คสถานะพัสดุและเพิ่มเลขพัสดุใหม่</h3>
        <p>ข้อมูลพัสดุที่ถึงโกดังจีนแล้วจะถูกอัพเดตเข้าระบบทุกวันทำการในช่วงเย็น
        ดังนั้นลูกค้าจึงสามารถเช็คข้อมูลพัสดุได้ในวันถัดไปค่ะ</p>
        <h4>วิธีการเช็คสถานะ</h4>
        <ol>
            <li>นำเลขพัสดุมาบันทึกในระบบ hub.btccargo.com โดยเลือกแถบเมนู "สร้าง/ติดตามพัสดุ" จากนั้นกดที่ปุ่ม "เพิ่มพัสดุใหม่"</li>
            <li>กรอกเลขพัสดุและข้อมูลอื่นๆ จากนั้นกดบันทึก ข้อมูลจะถูกบันทึกเข้าสู่ระบบ และหน้าเว็บจะเปลี่ยนกลับมาหน้าหลักเมนู
            "สร้าง/ติดตามพัสดุ"</li>
            <li>ลูกค้าสามารถใช้ตัวกรอกข้อมูลเพื่อค้นหาพัสดุที่ต้องการ</li>
        </ol>
    </div>
</section>