#navbar-main {
  background-color: var(--btc-color);
  margin-bottom: var(--navbarAdminMarginBottom);
}
.signOut-btn {
  outline: none;
}
.notification-container {
  max-height: 460px;
  overflow-y: auto;
}

.navbar-user {
  display: none !important;
}
.navbar-links {
  margin-left: auto !important;
}
@media (min-width: 992px) {
  .navbar-user {
    display: block !important;
  }
}
