<section>
  <div class="card parcel-card">
    <div class="card-header">
      <h2 class="card-title">{{ "parcel_list" | transloco }}</h2>
      <a
        class="btn btn-icon btn-3 btn-primary create-button"
        type="button"
        [routerLink]=""
        (click)="addItem()"
      >
        <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
        <span class="btn-inner--text">{{ "parcel.add_parcel" | transloco }}</span>
      </a>
    </div>
    <div class="card-body">
      <h2 class="mb-3">{{ "parcel_list" | transloco }}</h2>
      <div class="overflow-x">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">{{ "tracking_number" | transloco }}</th>
              <th scope="col">{{ "parcel.shipping_type" | transloco }}</th>
              <th scope="col">{{ "parcel.wooden_crate" | transloco }}</th>
              <th scope="col">{{ "parcel.view_photo" | transloco }}</th>
              <th scope="col">QC</th>
              <th class="min-200" scope="col">{{ "remark" | transloco }}</th>
              <th class="unset-min-width"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items; let i = index">
              <td class="text-center">
                <input
                  type="text"
                  class="form-control"
                  [placeholder]="'tracking_number' | transloco"
                  [(ngModel)]="item.parcelNo"
                  maxlength="50"
                />
              </td>
              <td class="text-center">
                <div class="dropdown" dropdown>
                  <button
                    class="btn btn-secondary dropdown-toggle"
                    type="button"
                    id="shipping-dropdownMenuButton"
                    dropdownToggle
                  >
                    {{ getDeliveryTypeName(item.deliveryTypeId) }}
                  </button>
                  <div
                    aria-labelledby="shipping-dropdownMenuButton"
                    *dropdownMenu
                    class="dropdown-menu"
                  >
                    <a
                      *ngFor="let type of deliveryTypes"
                      class="dropdown-item"
                      (click)="item.deliveryTypeId = type.id"
                      >{{ type.description }}</a
                    >
                  </div>
                </div>
              </td>
              <td class="text-center">
                <div class="dropdown" dropdown>
                  <button
                    class="btn btn-secondary dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    dropdownToggle
                  >
                    {{ "parcel." + item.boxType | transloco }}
                  </button>
                  <div
                    aria-labelledby="dropdownMenuButton"
                    *dropdownMenu
                    class="dropdown-menu"
                  >
                    <a class="dropdown-item" (click)="item.boxType = 'crate_none'"
                      >{{ "parcel.crate_none" | transloco }}</a
                    >
                    <a class="dropdown-item" (click)="item.boxType = 'crate_frame'"
                      >{{ "parcel.crate_frame" | transloco }}</a
                    >
                    <a class="dropdown-item" (click)="item.boxType = 'crate_solid'"
                      >{{ "parcel.crate_solid" | transloco }}</a
                    >
                  </div>
                </div>
              </td>
              <td class="text-center">
                <div class="dropdown" dropdown>
                  <button
                    class="btn btn-secondary dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    dropdownToggle
                  >
                    {{ "parcel." + item.pictureType | transloco }}
                  </button>
                  <div
                    aria-labelledby="dropdownMenuButton"
                    *dropdownMenu
                    class="dropdown-menu"
                  >
                    <a
                      class="dropdown-item"
                      (click)="item.pictureType = 'photo_not_required'"
                      >{{ "parcel.photo_not_required" | transloco }}</a
                    >
                    <a
                      class="dropdown-item"
                      (click)="item.pictureType = 'photo_required'"
                      >{{ "parcel.photo_required" | transloco }}</a
                    >
                  </div>
                </div>
              </td>
              <td class="text-center">
                <div class="dropdown" dropdown>
                  <button
                    class="btn btn-secondary dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    dropdownToggle
                  >
                    {{ "parcel." + item.qcType | transloco }}
                  </button>
                  <div
                    aria-labelledby="dropdownMenuButton"
                    *dropdownMenu
                    class="dropdown-menu"
                  >
                    <a class="dropdown-item" (click)="item.qcType = 'qc_not_required'"
                      >{{ "parcel.qc_not_required" | transloco }}</a
                    >
                    <a class="dropdown-item" (click)="item.qcType = 'qc_required'">{{ "parcel.qc_required" | transloco }}</a>
                  </div>
                </div>
              </td>
              <td class="text-center">
                <input
                  type="text"
                  class="form-control"
                  [placeholder]="'remark' | transloco"
                  maxlength="150"
                  [(ngModel)]="item.note"
                />
              </td>
              <td>
                <a
                  role="button"
                  href="javascript:void(0)"
                  (click)="removeItem(i)"
                >
                  <i class="fas fa-trash-alt remove-button"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="parcel-card-footer">
        <button
          class="btn btn-danger mr-2 footer-button"
          type="button"
          (click)="onCancel()"
        >
          {{ "cancel" | transloco }}
        </button>
        <button
          class="btn btn-primary footer-button"
          type="button"
          (click)="onValidate()"
          [disabled]="isDisabledSubmitButton()"
        >
          {{ "parcel.confirm_parcels" | transloco }}
      </button>
      </div>
    </div>
  </div>
</section>
