<section>
  <div class="card parcel-list-card">
    <div class="card-header">
      <h2 class="card-title">{{ "shop.track_order_status" | transloco }}</h2>
    </div>
    <div class="card-body">
      <div class="order-header">
        <h2>{{ "shop.order" | transloco }}</h2>
        <input
          type="text"
          class="form-control input-text"
          placeholder=""
          maxlength="50"
        />
      </div>
      <div class="overflow-x-auto">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">{{ "shop.order" | transloco }}</th>
              <th scope="col">{{ "shop.shop_count" | transloco }}</th>
              <th scope="col">{{ "shop.order_created_date" | transloco }}</th>
              <th scope="col">{{ "item_quantity" | transloco }}</th>
              <th scope="col">{{ "amount_due" | transloco }}</th>
              <th scope="col">{{ "shop.track_order_status" | transloco }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a [routerLink]="['/web/tracking-details']">Order No.</a>
              </td>
              <td>Shop</td>
              <td>DD/MM/YY</td>
              <td>1</td>
              <td>xxx Baht</td>
              <td>
                <a [routerLink]="['/web/tracking-details']"
                  >{{ "shop.track_order_status" | transloco }}</a
                >
              </td>
            </tr>
            <tr>
              <td>
                <a [routerLink]="['/web/tracking-details']">Order No.</a>
              </td>
              <td>Shop</td>
              <td>DD/MM/YY</td>
              <td>20</td>
              <td>xxx Baht</td>
              <td>
                <a [routerLink]="['/web/tracking-details']"
                  >{{ "shop.track_order_status" | transloco }}</a
                >
              </td>
            </tr>
            <tr>
              <td>
                <a [routerLink]="['/web/tracking-details']">Order No.</a>
              </td>
              <td>Shop</td>
              <td>DD/MM/YY</td>
              <td>100</td>
              <td>xxx Baht</td>
              <td>
                <a [routerLink]="['/web/tracking-details']"
                  >{{ "shop.track_order_status" | transloco }}</a
                >
              </td>
            </tr>
            <tr>
              <td>
                <a [routerLink]="['/web/tracking-details']">Order No.</a>
              </td>
              <td>Shop</td>
              <td>DD/MM/YY</td>
              <td>15</td>
              <td>xxx Baht</td>
              <td>
                <a [routerLink]="['/web/tracking-details']"
                  >{{ "shop.track_order_status" | transloco }}</a
                >
              </td>
            </tr>
            <tr>
              <td>
                <a [routerLink]="['/web/tracking-details']">Order No.</a>
              </td>
              <td>Shop</td>
              <td>DD/MM/YY</td>
              <td>88</td>
              <td>xxx Baht</td>
              <td>
                <a [routerLink]="['/web/tracking-details']"
                  >{{ "shop.track_order_status" | transloco }}</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
