<app-auth-layout></app-auth-layout>
<div class="main-content">
  <div class="container pb-5 pt-8">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small>ลงทะเบียน</small>
            </div>

            <ng-container *ngIf="isMsgBoxDisplay">
              <div
                class="card text-white mb-3 bg-success"
                *ngIf="isRegisterSuccess"
              >
                <div class="card-body modal-box">
                  <div class="card-text">
                    {{ registerMsg }}
                  </div>
                </div>
              </div>
              <div
                class="card text-white mb-3 bg-danger"
                *ngIf="!isRegisterSuccess"
              >
                <div class="card-body modal-box">
                  <div class="card-text" [innerHtml]="registerMsg">
                    {{ registerMsg }}
                  </div>
                </div>
              </div>
            </ng-container>

            <form
              id="register-form"
              [formGroup]="registerForm"
              (ngSubmit)="register()"
            >
              <div class="form-group" [ngClass]="{ focused: focus === true }">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-single-02"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="ชื่อผู้ใช้งาน"
                    type="text"
                    (focus)="focus = true"
                    (blur)="focus = false"
                    autocapitalize="off"
                    autocorrect="off"
                    formControlName="username"
                  />
                </div>
                <div
                  class="error-msg"
                  *ngIf="username.invalid && username.touched"
                >
                  <small *ngIf="username.errors.required"
                    >กรุณาใส่ชื่อผู้ใช้งาน</small
                  >
                  <small *ngIf="username.errors.pattern"
                    >ชื่อผู้ใช้งานต้องเป็นภาษาอังกฤษ ตัวเลข สัญลักษณ์
                    และห้ามมีช่องว่าง</small
                  >
                  <small *ngIf="username.errors.minlength"
                    >ชื่อผู้ใช้งานต้องอยู่ระหว่าง 4-16 ตัวอักษร</small
                  >
                  <small *ngIf="username.errors.maxlength"
                    >ชื่อผู้ใช้งานต้องอยู่ระหว่าง 4-16 ตัวอักษร</small
                  >
                </div>
              </div>
              <div class="form-group" [ngClass]="{ focused: focus1 === true }">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-email-83"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="อีเมล"
                    type="email"
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                    autocapitalize="off"
                    autocorrect="off"
                    formControlName="email"
                  />
                </div>
                <div class="error-msg" *ngIf="email.invalid && email.touched">
                  <small *ngIf="email.errors.required">กรุณาใส่อีเมล</small>
                  <small *ngIf="email.errors.pattern"
                    >รูปแบบอีเมลไม่ถูกต้อง</small
                  >
                </div>
              </div>
              <div class="form-group" [ngClass]="{ focused: focus2 === true }">
                <div
                  class="input-group input-group-alternative mb-3 wrap-password1"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-lock-circle-open"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="รหัสผ่าน"
                    type="password"
                    [type]="showPassword1 ? 'text' : 'password'"
                    (focus)="focus2 = true"
                    (blur)="focus2 = false"
                    autocapitalize="off"
                    autocorrect="off"
                    formControlName="password1"
                  />
                  <div
                    class="eye-icon"
                    (click)="showPassword1 = !showPassword1"
                  >
                    <i
                      class="fas"
                      [ngClass]="showPassword1 ? 'fa-eye-slash' : 'fa-eye'"
                    ></i>
                  </div>
                </div>
                <div
                  class="error-msg"
                  *ngIf="password1.invalid && password1.touched"
                >
                  <small *ngIf="password1.errors.required"
                    >กรุณาใส่รหัสผ่าน</small
                  >
                  <small *ngIf="password1.errors.pattern"
                    >รหัสผ่านต้องเป็นภาษาอังกฤษ ตัวเลข หรือสัญลักษณ์เท่านั้น
                    และห้ามมีช่องว่าง</small
                  >
                  <small *ngIf="password1.errors.minlength"
                    >รหัสผ่านต้องอยู่ระหว่าง 8-16 ตัวอักษร</small
                  >
                  <small *ngIf="password1.errors.maxlength"
                    >รหัสผ่านต้องอยู่ระหว่าง 8-16 ตัวอักษร</small
                  >
                </div>
              </div>
              <div class="form-group" [ngClass]="{ focused: focus4 === true }">
                <div
                  class="input-group input-group-alternative mb-3 wrap-password2"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-lock-circle-open"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="รหัสผ่านยืนยัน"
                    type="password"
                    [type]="showPassword2 ? 'text' : 'password'"
                    (focus)="focus4 = true"
                    (blur)="focus4 = false"
                    autocapitalize="off"
                    autocorrect="off"
                    formControlName="password2"
                  />
                  <div
                    class="eye-icon"
                    (click)="showPassword2 = !showPassword2"
                  >
                    <i
                      class="fas"
                      [ngClass]="showPassword2 ? 'fa-eye-slash' : 'fa-eye'"
                    ></i>
                  </div>
                </div>
                <div
                  class="error-msg"
                  *ngIf="password2.invalid && password2.touched"
                >
                  <small *ngIf="password2.errors.required"
                    >กรุณาใส่รหัสผ่านยืนยัน</small
                  >
                  <small *ngIf="password2.errors.MustMatch"
                    >รหัสผ่านยืนยันไม่ตรงกับรหัสผ่าน</small
                  >
                </div>
              </div>
              <div
                class="form-group"
                [ngClass]="{ focused: focus3 === true }"
                formGroupName="extendeduser"
              >
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-circle-08"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="รหัสอ้างอิง"
                    type="text"
                    (focus)="focus3 = true"
                    (blur)="focus3 = false"
                    autocapitalize="off"
                    autocorrect="off"
                    formControlName="referralCode"
                  />
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4">
                  ถัดไป
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 text-right">
            <a class="text-white" [routerLink]="['/login']">
              <small>เข้าสู่ระบบ</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
