<div>
  <div *ngIf="formState === 'selectAccount'">
    <h4 class="mb-2">{{ "exchange.bank_details_prompt" | transloco }}</h4>
    <div class="custom-control custom-radio custom-control-inline">
      <input
        type="radio"
        id="customRadioInputForm"
        name="customRadioInputForm"
        class="custom-control-input"
        [(ngModel)]="form"
        value="input"
        (click)="handleChangeFormState('input')"
      />
      <label class="custom-control-label" for="customRadioInputForm"
        >{{ "exchange.bank_can_fill" | transloco }}</label
      >
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input
        type="radio"
        id="customRadioImageForm"
        name="customRadioImageForm"
        class="custom-control-input"
        [(ngModel)]="form"
        value="image"
        (click)="handleChangeFormState('image')"
      />
      <label class="custom-control-label" for="customRadioImageForm"
        >{{ "exchange.bank_send_image" | transloco }}</label
      >
    </div>
    <div *ngIf="form === 'input'">
      <h4 class="mt-3">{{ "exchange.bank_fill_prompt" | transloco }}</h4>
      <h4 class="mt-3">{{ "exchange.account_name_chinese" | transloco }}</h4>
      <input
        type="text"
        class="form-control mt-2"
        [placeholder]="'exchange.account_name' | transloco"
        [(ngModel)]="accountName"
      />
      <h4 class="mt-2">{{ "exchange.account_number" | transloco }}</h4>
      <input
        type="text"
        class="form-control mt-2"
        [placeholder]="'exchange.account_number' | transloco"
        [(ngModel)]="accountNumber"
      />
    </div>
    <div *ngIf="form === 'image'" class="mt-3 mb-3">
      <input type="file" (change)="handleFileInput($event.target.files)" />
    </div>
    <div class="button-container">
      <button class="btn btn-danger mr-2" type="button" (click)="onCancel()">
        {{ "cancel" | transloco }}
      </button>
      <button
        class="btn btn-primary"
        type="button"
        (click)="handleNextFormState()"
        [disabled]="isDisabledNextButton()"
      >
        {{ "continue" | transloco }}
      </button>
    </div>
  </div>
  <payment-details *ngIf="formState === 'paymentDetails'"> </payment-details>
</div>
