<section id="bill-detail">
  <div class="card container-card">
    <div class="card-header">
      <h2 class="card-title">เลขที่บิล #00000{{ billNumber || 0 }}</h2>
    </div>
    <div class="card-body">
      <div class="bill-detail-section1 mb-4">
        <div class="item bill-status">
          <div class="sub-item1">สถานะบิล</div>
          <div class="sub-item2">จัดส่งแล้ว</div>
        </div>
        <div class="item bill-creation-date">
          <div class="sub-item1">วันที่สร้างบิล</div>
          <div class="sub-item2">DD/MM/YYYY</div>
        </div>
        <div class="item delivery-address">
          <div class="sub-item1">ที่อยู่จัดส่ง</div>
          <div class="sub-item2">
            <p>ชื่อ-นามสกุล</p>
            <p>ที่อยู่</p>
            <p>เบอร์โทร</p>
          </div>
        </div>
        <div class="item bill-status">
          <div class="sub-item1">ที่อยู่สำหรับออกบิล</div>
          <div class="sub-item2">
            <p>ชื่อ-นามสกุล</p>
            <p>ที่อยู่</p>
            <p>เบอร์โทร</p>
            <p>เลขประจำตัวผู้เสียภาษี</p>
          </div>
        </div>
        <div class="item shipping-method">
          <div class="sub-item1">วิธีการจัดส่ง</div>
          <div class="sub-item2">J&amp;T</div>
        </div>
        <div class="item receipt">
          <div class="sub-item1">ใบเสร็จรับเงิน/ใบรับส่งสินค้า</div>
          <div class="sub-item2">INVOICE</div>
        </div>
        <div class="item discount">
          <div class="sub-item1">ส่วนลด</div>
          <div class="sub-item2">CODE</div>
        </div>
        <div class="item proof-of-delivery">
          <div class="sub-item1">หลักฐานการจัดส่ง</div>
          <div class="sub-item2">
            <a href="javascriptvoid(0)"> Link to Image </a>
          </div>
        </div>
      </div>
      <div class="bill-detail-section2">
        <div class="wrapper-table overflow-x-auto">
          <table class="table align-items-center">
            <thead class="thead-light">
              <tr>
                <th class="th-no">ลำดับ</th>
                <th class="th-no-order">เลขตู้/ลำดับ</th>
                <th class="th-parcel-number">เลขพัสดุ</th>
                <th class="th-type">ประเภทสินค้า</th>
                <th class="th-width">กว้าง</th>
                <th class="th-length">ยาว</th>
                <th class="th-height">สูง</th>
                <th class="th-volume">ปริมาตร</th>
                <th class="th-total-volume">ปริมาตรรวม</th>
                <th class="th-weight">น้ำหนัก</th>
                <th class="th-quantity">จำนวนกล่อง</th>
                <th class="th-packing">ตีลัง</th>
                <th class="th-shipping-cost-china">ค่าขนส่งในจีน</th>
                <th class="th-etc">อื่นๆ</th>
                <th class="th-per-unit">หน่วยละ</th>
                <th class="th-shipping-cost">ค่าขนส่ง</th>
                <th class="th-storage-fees">ค่าจัดเก็บพัสดุ</th>
                <th class="th-qc-cost">ค่า QC</th>
                <th class="th-according">คิดตาม</th>
              </tr>
            </thead>
            <tbody>
              <tr class="item">
                <td class="td-no">1</td>
                <td class="td-no-order">Lot No.Order</td>
                <td class="td-parcel-number">Tracking No.</td>
                <td class="td-type">P/D/HY/SP/SD</td>
                <td class="td-width">width cm.</td>
                <td class="td-length">length cm.</td>
                <td class="td-height">height cm.</td>
                <td class="td-volume">volume m3</td>
                <td class="td-total-volume">total volume m3</td>
                <td class="td-weight">weight kg.</td>
                <td class="td-quantity">Quantity</td>
                <td class="td-packing">Baht</td>
                <td class="td-shipping-cost-china">Baht</td>
                <td class="td-etc">Baht</td>
                <td class="td-per-unit">Baht</td>
                <td class="td-shipping-cost">Baht</td>
                <td class="td-storage-fees">Baht</td>
                <td class="td-qc-cost">Baht</td>
                <td class="td-according">น้ำหนัก</td>
              </tr>
              <tr class="item">
                <td class="td-no">2</td>
                <td class="td-no-order">Lot No.Order</td>
                <td class="td-parcel-number">Tracking No.</td>
                <td class="td-type">P/D/HY/SP/SD</td>
                <td class="td-width">width cm.</td>
                <td class="td-length">length cm.</td>
                <td class="td-height">height cm.</td>
                <td class="td-volume">volume m3</td>
                <td class="td-total-volume">total volume m3</td>
                <td class="td-weight">weight kg.</td>
                <td class="td-quantity">Quantity</td>
                <td class="td-packing">Baht</td>
                <td class="td-shipping-cost-china">Baht</td>
                <td class="td-etc">Baht</td>
                <td class="td-per-unit">Baht</td>
                <td class="td-shipping-cost">Baht</td>
                <td class="td-storage-fees">Baht</td>
                <td class="td-qc-cost">Baht</td>
                <td class="td-according">คิวบิกเมตร</td>
              </tr>
              <tr class="item">
                <td class="td-no">3</td>
                <td class="td-no-order">Lot No.Order</td>
                <td class="td-parcel-number">Tracking No.</td>
                <td class="td-type">P/D/HY/SP/SD</td>
                <td class="td-width">width cm.</td>
                <td class="td-length">length cm.</td>
                <td class="td-height">height cm.</td>
                <td class="td-volume">volume m3</td>
                <td class="td-total-volume">total volume m3</td>
                <td class="td-weight">weight kg.</td>
                <td class="td-quantity">Quantity</td>
                <td class="td-packing">Baht</td>
                <td class="td-shipping-cost-china">Baht</td>
                <td class="td-etc">Baht</td>
                <td class="td-per-unit">Baht</td>
                <td class="td-shipping-cost">Baht</td>
                <td class="td-storage-fees">Baht</td>
                <td class="td-qc-cost">Baht</td>
                <td class="td-according">น้ำหนัก</td>
              </tr>
              <tr class="item">
                <td class="td-no">4</td>
                <td class="td-no-order">Lot No.Order</td>
                <td class="td-parcel-number">Tracking No.</td>
                <td class="td-type">P/D/HY/SP/SD</td>
                <td class="td-width">width cm.</td>
                <td class="td-length">length cm.</td>
                <td class="td-height">height cm.</td>
                <td class="td-volume">volume m3</td>
                <td class="td-total-volume">total volume m3</td>
                <td class="td-weight">weight kg.</td>
                <td class="td-quantity">Quantity</td>
                <td class="td-packing">Baht</td>
                <td class="td-shipping-cost-china">Baht</td>
                <td class="td-etc">Baht</td>
                <td class="td-per-unit">Baht</td>
                <td class="td-shipping-cost">Baht</td>
                <td class="td-storage-fees">Baht</td>
                <td class="td-qc-cost">Baht</td>
                <td class="td-according">คิวบิกเมตร</td>
              </tr>
              <tr class="item">
                <td class="td-no">5</td>
                <td class="td-no-order">Lot No.Order</td>
                <td class="td-parcel-number">Tracking No.</td>
                <td class="td-type">P/D/HY/SP/SD</td>
                <td class="td-width">width cm.</td>
                <td class="td-length">length cm.</td>
                <td class="td-height">height cm.</td>
                <td class="td-volume">volume m3</td>
                <td class="td-total-volume">total volume m3</td>
                <td class="td-weight">weight kg.</td>
                <td class="td-quantity">Quantity</td>
                <td class="td-packing">Baht</td>
                <td class="td-shipping-cost-china">Baht</td>
                <td class="td-etc">Baht</td>
                <td class="td-per-unit">Baht</td>
                <td class="td-shipping-cost">Baht</td>
                <td class="td-storage-fees">Baht</td>
                <td class="td-qc-cost">Baht</td>
                <td class="td-according">น้ำหนัก</td>
              </tr>
              <tr class="item">
                <td class="td-no">6</td>
                <td class="td-no-order">Lot No.Order</td>
                <td class="td-parcel-number">Tracking No.</td>
                <td class="td-type">P/D/HY/SP/SD</td>
                <td class="td-width">width cm.</td>
                <td class="td-length">length cm.</td>
                <td class="td-height">height cm.</td>
                <td class="td-volume">volume m3</td>
                <td class="td-total-volume">total volume m3</td>
                <td class="td-weight">weight kg.</td>
                <td class="td-quantity">Quantity</td>
                <td class="td-packing">Baht</td>
                <td class="td-shipping-cost-china">Baht</td>
                <td class="td-etc">Baht</td>
                <td class="td-per-unit">Baht</td>
                <td class="td-shipping-cost">Baht</td>
                <td class="td-storage-fees">Baht</td>
                <td class="td-qc-cost">Baht</td>
                <td class="td-according">น้ำหนัก</td>
              </tr>
              <tr class="item">
                <td class="td-no">7</td>
                <td class="td-no-order">Lot No.Order</td>
                <td class="td-parcel-number">Tracking No.</td>
                <td class="td-type">P/D/HY/SP/SD</td>
                <td class="td-width">width cm.</td>
                <td class="td-length">length cm.</td>
                <td class="td-height">height cm.</td>
                <td class="td-volume">volume m3</td>
                <td class="td-total-volume">total volume m3</td>
                <td class="td-weight">weight kg.</td>
                <td class="td-quantity">Quantity</td>
                <td class="td-packing">Baht</td>
                <td class="td-shipping-cost-china">Baht</td>
                <td class="td-etc">Baht</td>
                <td class="td-per-unit">Baht</td>
                <td class="td-shipping-cost">Baht</td>
                <td class="td-storage-fees">Baht</td>
                <td class="td-qc-cost">Baht</td>
                <td class="td-according">คิวบิกเมตร</td>
              </tr>
              <tr class="item">
                <td class="td-no">8</td>
                <td class="td-no-order">Lot No.Order</td>
                <td class="td-parcel-number">Tracking No.</td>
                <td class="td-type">P/D/HY/SP/SD</td>
                <td class="td-width">width cm.</td>
                <td class="td-length">length cm.</td>
                <td class="td-height">height cm.</td>
                <td class="td-volume">volume m3</td>
                <td class="td-total-volume">total volume m3</td>
                <td class="td-weight">weight kg.</td>
                <td class="td-quantity">Quantity</td>
                <td class="td-packing">Baht</td>
                <td class="td-shipping-cost-china">Baht</td>
                <td class="td-etc">Baht</td>
                <td class="td-per-unit">Baht</td>
                <td class="td-shipping-cost">Baht</td>
                <td class="td-storage-fees">Baht</td>
                <td class="td-qc-cost">Baht</td>
                <td class="td-according">น้ำหนัก</td>
              </tr>
              <tr class="item">
                <td class="td-no">9</td>
                <td class="td-no-order">Lot No.Order</td>
                <td class="td-parcel-number">Tracking No.</td>
                <td class="td-type">P/D/HY/SP/SD</td>
                <td class="td-width">width cm.</td>
                <td class="td-length">length cm.</td>
                <td class="td-height">height cm.</td>
                <td class="td-volume">volume m3</td>
                <td class="td-total-volume">total volume m3</td>
                <td class="td-weight">weight kg.</td>
                <td class="td-quantity">Quantity</td>
                <td class="td-packing">Baht</td>
                <td class="td-shipping-cost-china">Baht</td>
                <td class="td-etc">Baht</td>
                <td class="td-per-unit">Baht</td>
                <td class="td-shipping-cost">Baht</td>
                <td class="td-storage-fees">Baht</td>
                <td class="td-qc-cost">Baht</td>
                <td class="td-according">คิวบิกเมตร</td>
              </tr>
              <tr class="item">
                <td class="td-no">10</td>
                <td class="td-no-order">Lot No.Order</td>
                <td class="td-parcel-number">Tracking No.</td>
                <td class="td-type">P/D/HY/SP/SD</td>
                <td class="td-width">width cm.</td>
                <td class="td-length">length cm.</td>
                <td class="td-height">height cm.</td>
                <td class="td-volume">volume m3</td>
                <td class="td-total-volume">total volume m3</td>
                <td class="td-weight">weight kg.</td>
                <td class="td-quantity">Quantity</td>
                <td class="td-packing">Baht</td>
                <td class="td-shipping-cost-china">Baht</td>
                <td class="td-etc">Baht</td>
                <td class="td-per-unit">Baht</td>
                <td class="td-shipping-cost">Baht</td>
                <td class="td-storage-fees">Baht</td>
                <td class="td-qc-cost">Baht</td>
                <td class="td-according">น้ำหนัก</td>
              </tr>
              <tr class="item">
                <td class="td-no">11</td>
                <td class="td-no-order">Lot No.Order</td>
                <td class="td-parcel-number">Tracking No.</td>
                <td class="td-type">P/D/HY/SP/SD</td>
                <td class="td-width">width cm.</td>
                <td class="td-length">length cm.</td>
                <td class="td-height">height cm.</td>
                <td class="td-volume">volume m3</td>
                <td class="td-total-volume">total volume m3</td>
                <td class="td-weight">weight kg.</td>
                <td class="td-quantity">Quantity</td>
                <td class="td-packing">Baht</td>
                <td class="td-shipping-cost-china">Baht</td>
                <td class="td-etc">Baht</td>
                <td class="td-per-unit">Baht</td>
                <td class="td-shipping-cost">Baht</td>
                <td class="td-storage-fees">Baht</td>
                <td class="td-qc-cost">Baht</td>
                <td class="td-according">น้ำหนัก</td>
              </tr>
              <tr class="item">
                <td class="td-no">12</td>
                <td class="td-no-order">Lot No.Order</td>
                <td class="td-parcel-number">Tracking No.</td>
                <td class="td-type">P/D/HY/SP/SD</td>
                <td class="td-width">width cm.</td>
                <td class="td-length">length cm.</td>
                <td class="td-height">height cm.</td>
                <td class="td-volume">volume m3</td>
                <td class="td-total-volume">total volume m3</td>
                <td class="td-weight">weight kg.</td>
                <td class="td-quantity">Quantity</td>
                <td class="td-packing">Baht</td>
                <td class="td-shipping-cost-china">Baht</td>
                <td class="td-etc">Baht</td>
                <td class="td-per-unit">Baht</td>
                <td class="td-shipping-cost">Baht</td>
                <td class="td-storage-fees">Baht</td>
                <td class="td-qc-cost">Baht</td>
                <td class="td-according">คิวบิกเมตร</td>
              </tr>
              <tr class="item">
                <td class="td-no">13</td>
                <td class="td-no-order">Lot No.Order</td>
                <td class="td-parcel-number">Tracking No.</td>
                <td class="td-type">P/D/HY/SP/SD</td>
                <td class="td-width">width cm.</td>
                <td class="td-length">length cm.</td>
                <td class="td-height">height cm.</td>
                <td class="td-volume">volume m3</td>
                <td class="td-total-volume">total volume m3</td>
                <td class="td-weight">weight kg.</td>
                <td class="td-quantity">Quantity</td>
                <td class="td-packing">Baht</td>
                <td class="td-shipping-cost-china">Baht</td>
                <td class="td-etc">Baht</td>
                <td class="td-per-unit">Baht</td>
                <td class="td-shipping-cost">Baht</td>
                <td class="td-storage-fees">Baht</td>
                <td class="td-qc-cost">Baht</td>
                <td class="td-according">น้ำหนัก</td>
              </tr>
              <tr class="item">
                <td class="td-no">14</td>
                <td class="td-no-order">Lot No.Order</td>
                <td class="td-parcel-number">Tracking No.</td>
                <td class="td-type">P/D/HY/SP/SD</td>
                <td class="td-width">width cm.</td>
                <td class="td-length">length cm.</td>
                <td class="td-height">height cm.</td>
                <td class="td-volume">volume m3</td>
                <td class="td-total-volume">total volume m3</td>
                <td class="td-weight">weight kg.</td>
                <td class="td-quantity">Quantity</td>
                <td class="td-packing">Baht</td>
                <td class="td-shipping-cost-china">Baht</td>
                <td class="td-etc">Baht</td>
                <td class="td-per-unit">Baht</td>
                <td class="td-shipping-cost">Baht</td>
                <td class="td-storage-fees">Baht</td>
                <td class="td-qc-cost">Baht</td>
                <td class="td-according">คิวบิกเมตร</td>
              </tr>
              <tr class="item">
                <td class="td-no">15</td>
                <td class="td-no-order">Lot No.Order</td>
                <td class="td-parcel-number">Tracking No.</td>
                <td class="td-type">P/D/HY/SP/SD</td>
                <td class="td-width">width cm.</td>
                <td class="td-length">length cm.</td>
                <td class="td-height">height cm.</td>
                <td class="td-volume">volume m3</td>
                <td class="td-total-volume">total volume m3</td>
                <td class="td-weight">weight kg.</td>
                <td class="td-quantity">Quantity</td>
                <td class="td-packing">Baht</td>
                <td class="td-shipping-cost-china">Baht</td>
                <td class="td-etc">Baht</td>
                <td class="td-per-unit">Baht</td>
                <td class="td-shipping-cost">Baht</td>
                <td class="td-storage-fees">Baht</td>
                <td class="td-qc-cost">Baht</td>
                <td class="td-according">น้ำหนัก</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="bill-detail-section3">
        <div class="total p-3">
          <div class="item total-shipping-price">
            <div class="sub-item1">ค่าขนส่ง</div>
            <div class="sub-item2">0.00 บาท</div>
          </div>
          <div class="item total-other-costs">
            <div class="sub-item1">ค่าใช้จ่ายอื่นๆ</div>
            <div class="sub-item2">0.00 บาท</div>
          </div>
          <div class="item total-shipping-cost">
            <div class="sub-item1">ค่าจัดส่งสินค้า</div>
            <div class="sub-item2">0.00 บาท</div>
          </div>
          <div class="item total-other-shipping-cost">
            <div class="sub-item1">ค่าใช้จ่ายอื่นๆ ในการจัดส่งสินค้า</div>
            <div class="sub-item2">0.00 บาท</div>
          </div>
          <div class="item total-parcel-storage-fee">
            <div class="sub-item1">ค่าจัดเก็บพัสดุ</div>
            <div class="sub-item2">0.00 บาท</div>
          </div>
          <div class="item total-discount">
            <div class="sub-item1">ส่วนลด</div>
            <div class="sub-item2">0.00 บาท</div>
          </div>
          <div class="item total-all">
            <div class="sub-item1">ยอดรวม</div>
            <div class="sub-item2">0.00 บาท</div>
          </div>
          <div class="item total-tax">
            <div class="sub-item1">หัก ณ ที่จ่าย 1%</div>
            <div class="sub-item2">0.00 บาท</div>
          </div>
          <div class="item grand-total-price">
            <div class="sub-item1">รวมยอดที่ต้องชำระ</div>
            <div class="sub-item2">0.00 บาท</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
