<section>
  <div class="card parcel-list-card">
    <div class="card-header">
      <h2 class="card-title">ติดตามรายการพัสดุ</h2>
    </div>
    <div class="card-body">
      <div *ngIf="!isEmptyDetails()">
        <div class="title-section">
          <h2>รายการพัสดุ</h2>
          <div class="filter-section">
            <div class="title-with-input">
              <p class="text-nowrap mr-3">เลขพัสดุ</p>
              <input
                type="text"
                class="form-control mr-3 input-text w-auto"
                placeholder=""
                maxlength="50"
              />
            </div>
            <div class="title-with-input">
              <p class="text-nowrap mr-3">วันที่ออกจากจีน</p>
              <div class="form-group mr-3 mb-0">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="ni ni-calendar-grid-58"></i>
                    </span>
                  </div>
                  <input
                    type="text"
                    placeholder=""
                    class="form-control"
                    bsDatepicker
                    [bsValue]="bsValue"
                    [bsConfig]="{
                      isAnimated: true,
                      containerClass: 'theme-red'
                    }"
                  />
                </div>
              </div>
            </div>
            <div class="title-with-input">
              <p class="text-nowrap mr-3">สถานะ</p>
              <div class="dropdown" dropdown>
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  dropdownToggle
                >
                  {{ status }}
                </button>
                <div
                  aria-labelledby="dropdownMenuButton"
                  *dropdownMenu
                  class="dropdown-menu"
                >
                  <a class="dropdown-item" (click)="status = 'เข้าโกดังจีน'"
                    >เข้าโกดังจีน</a
                  >
                  <a class="dropdown-item" (click)="status = 'ออกจีน'"
                    >ออกจีน</a
                  >
                  <a class="dropdown-item" (click)="status = 'ถึงไทย'"
                    >ถึงไทย</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overflow-x-auto">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">เลขพัสดุ</th>
                <th scope="col">QC</th>
                <th scope="col">วันที่</th>
                <th scope="col">ค่าขนส่ง</th>
                <th scope="col">หมายเหตุ</th>
                <th scope="col">สถานะ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of details">
                <td>
                  <div class="d-flex flex-row justify-content-between">
                    <div>
                      <div>เลขตู้ {{ renderText(item.lot?.shipping_lot) }}</div>
                      <div class="d-flex">
                        <div>เลขพัสดุ</div>
                        <h5 class="text-primary">
                          {{ renderText(item.china_tracking.shopping_serial) }}
                        </h5>
                      </div>

                      <div>
                        จำนวนพัสดุ {{ renderText(item.lot?.total_amount) }} ชิ้น
                      </div>

                      <div>
                        ปริมาตรรวม
                        {{ renderText(item.lot?.child_ids[0].volume) }} cbm
                      </div>

                      <div>
                        น้ำหนัก
                        {{ renderText(item.lot?.child_ids[0].weight) }} kg
                      </div>
                    </div>
                    <div class="thumbnail"></div>
                  </div>
                </td>
                <td>
                  <div class="qc-section">
                    <div class="video">Video</div>
                    <div class="mt-2">0 ชิ้น</div>
                  </div>
                </td>
                <td>
                  <div class="d-flex flex-row">
                    <div class="d-flex flex-2 flex-column">
                      <div class="key-text">วันที่เข้าโกดังจีน</div>
                      <div class="key-text">วันที่ออกจากจีน</div>
                      <div class="key-text">วันที่คาดว่าจะถึงไทย</div>
                      <div class="key-text">วันที่ถึงไทย</div>
                      <div class="key-text">วันที่จัดส่ง</div>
                    </div>
                    <div class="d-flex flex-1 flex-column">
                      <div>dd/mm/yy</div>
                      <div class="text-danger">dd/mm/yy</div>
                      <div>dd/mm/yy</div>
                      <div class="text-danger">dd/mm/yy</div>
                      <div>dd/mm/yy</div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex flex-row">
                    <div
                      class="d-flex flex-2 flex-column justify-content-between mr-4"
                    >
                      <div>
                        <div class="key-text">ค่าขนส่ง</div>
                        <div class="key-text">ค่าใช้จ่ายอื่นๆ</div>
                        <div class="key-text">ค่าจัดเก็บพัสดุ</div>
                      </div>
                      <div class="key-text">รวม</div>
                    </div>
                    <div
                      class="d-flex flex-1 flex-column justify-content-between mr-3"
                    >
                      <div>
                        <div class="text-danger">500</div>
                        <div class="text-danger">
                          {{
                            getPackingAndQcCost(
                              item.lot?.packing_cost,
                              item.lot?.qc_cost
                            )
                          }}
                        </div>
                        <div>-</div>
                      </div>
                      <div>2100</div>
                    </div>
                    <div
                      class="d-flex flex-1 flex-column justify-content-between"
                    >
                      <div>
                        <div>บาท</div>
                        <div>บาท</div>
                        <div>บาท</div>
                      </div>
                      <div>บาท</div>
                    </div>
                  </div>
                </td>
                <td>
                  <div>
                    {{ renderText(item.lot?.remarks) }}
                  </div>
                </td>
                <td class="text-nowrap">
                  {{ getLocationText(item.lot?.current_location) }}
                  <i
                    *ngIf="
                      getLocationText(item.lot?.current_location) ===
                      'เข้าโกดังจีน'
                    "
                    class="fas fa-warehouse ml-2"
                  ></i>
                  <i
                    *ngIf="
                      getLocationText(item.lot?.current_location) === 'ถึงไทย'
                    "
                    class="fas fa-truck-loading ml-2"
                  ></i>
                  <i
                    *ngIf="
                      getLocationText(item.lot?.current_location) ===
                      'ออกจากจีน'
                    "
                    class="fas fa-truck ml-2"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="pagination?.records > 10" class="d-flex justify-content-end mt-4">
          <ul class="pagination">
            <li
              class="page-item"
              [ngClass]="{
                disabled: pagination && pagination.page === pagination.startPage
              }"
            >
              <a
                class="page-link"
                (click)="handleChangePage(pagination.page - 1)"
              >
                <i class="fa fa-angle-left"></i>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li
              *ngFor="let pageNumber of pageNumbers"
              class="page-item"
              [ngClass]="{
                active: pagination && pagination.page === pageNumber
              }"
            >
              <a class="page-link" (click)="handleChangePage(pageNumber)">{{
                pageNumber
              }}</a>
            </li>
            <li
              class="page-item"
              [ngClass]="{
                disabled: pagination && pagination.page === pagination.endPage
              }"
            >
              <a
                class="page-link"
                (click)="handleChangePage(pagination.page + 1)"
              >
                <i class="fa fa-angle-right"></i>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="isEmptyDetails()">
        <h3 class="text-center p-3">ไม่มีรายการพัสดุ</h3>
      </div>
    </div>
  </div>
</section>
