<section>
  <div class="card parcel-list-card">
    <div class="card-header">
      <h2 class="card-title">{{ "parcel.track_parcels" | transloco }}</h2>
    </div>
    <div class="card-body">
      <div *ngIf="!isEmptyDetails()">
        <div class="title-section">
          <h2>{{ "parcel_list" | transloco }}</h2>
          <div class="filter-section">
            <div class="title-with-input">
              <p class="text-nowrap mr-3">{{ "tracking_number" | transloco }}</p>
              <input
                type="text"
                class="form-control mr-3 input-text w-auto"
                placeholder=""
                maxlength="50"
              />
            </div>
            <div class="title-with-input">
              <p class="text-nowrap mr-3">{{ "china_departure_date" | transloco }}</p>
              <div class="form-group mr-3 mb-0">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="ni ni-calendar-grid-58"></i>
                    </span>
                  </div>
                  <input
                    type="text"
                    placeholder=""
                    class="form-control"
                    bsDatepicker
                    [bsValue]="bsValue"
                    [bsConfig]="{
                      isAnimated: true,
                      containerClass: 'theme-red'
                    }"
                  />
                </div>
              </div>
            </div>
            <div class="title-with-input">
              <p class="text-nowrap mr-3">{{ "status" | transloco }}</p>
              <div class="dropdown" dropdown>
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  dropdownToggle
                >
                  {{ status | transloco }}
                </button>
                <div
                  aria-labelledby="dropdownMenuButton"
                  *dropdownMenu
                  class="dropdown-menu"
                >
                  <a class="dropdown-item" (click)="status = 'status_in_china_warehouse'"
                    >{{ "status_in_china_warehouse" | transloco }}</a
                  >
                  <a class="dropdown-item" (click)="status = 'status_left_china'"
                    >{{ "status_left_china" | transloco }}</a
                  >
                  <a class="dropdown-item" (click)="status = 'status_arrived_thailand'"
                    >{{ "status_arrived_thailand" | transloco }}</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overflow-x-auto">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">{{ "tracking_number" | transloco }}</th>
                <th scope="col">QC</th>
                <th scope="col">{{ "parcel.date" | transloco }}</th>
                <th scope="col">{{ "shipping_fee" | transloco }}</th>
                <th scope="col">{{ "remark" | transloco }}</th>
                <th scope="col">{{ "status" | transloco }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of details">
                <td>
                  <div class="d-flex flex-row justify-content-between">
                    <div>
                      <div>{{ "container_no" | transloco }} {{ renderText(item.lot?.shipping_lot) }}</div>
                      <div class="d-flex">
                        <div>{{ "tracking_number" | transloco }}</div>
                        <h5 class="text-primary">
                          {{ renderText(item.china_tracking.shopping_serial) }}
                        </h5>
                      </div>

                      <div>
                        {{ "parcel_quantity" | transloco }} {{ renderText(item.lot?.total_amount) }} {{ "pieces" | transloco }}
                      </div>

                      <div>
                        {{ "total_volume" | transloco }} {{ renderText(item.lot?.child_ids[0].volume) }} cbm
                      </div>

                      <div>
                        {{ "weight" | transloco }} {{ renderText(item.lot?.child_ids[0].weight) }} kg
                      </div>
                    </div>
                    <div class="thumbnail"></div>
                  </div>
                </td>
                <td>
                  <div class="qc-section">
                    <div class="video">Video</div>
                    <div class="mt-2">0 {{ "pieces" | transloco }}</div>
                  </div>
                </td>
                <td>
                  <div class="d-flex flex-row">
                    <div class="d-flex flex-2 flex-column">
                      <div class="key-text">{{ "parcel.date_in_china_warehouse" | transloco }}</div>
                      <div class="key-text">{{ "china_departure_date" | transloco }}</div>
                      <div class="key-text">{{ "parcel.date_expected_thailand" | transloco }}</div>
                      <div class="key-text">{{ "parcel.date_arrived_thailand" | transloco }}</div>
                      <div class="key-text">{{ "parcel.date_delivered" | transloco }}</div>
                    </div>
                    <div class="d-flex flex-1 flex-column">
                      <div>dd/mm/yy</div>
                      <div class="text-danger">dd/mm/yy</div>
                      <div>dd/mm/yy</div>
                      <div class="text-danger">dd/mm/yy</div>
                      <div>dd/mm/yy</div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex flex-row">
                    <div
                      class="d-flex flex-2 flex-column justify-content-between mr-4"
                    >
                      <div>
                        <div class="key-text">{{ "shipping_fee" | transloco }}</div>
                        <div class="key-text">{{ "other_fees" | transloco }}</div>
                        <div class="key-text">{{ "storage_fee" | transloco }}</div>
                      </div>
                      <div class="key-text">{{ "total" | transloco }}</div>
                    </div>
                    <div
                      class="d-flex flex-1 flex-column justify-content-between mr-3"
                    >
                      <div>
                        <div class="text-danger">500</div>
                        <div class="text-danger">
                          {{
                            getPackingAndQcCost(
                              item.lot?.packing_cost,
                              item.lot?.qc_cost
                            )
                          }}
                        </div>
                        <div>-</div>
                      </div>
                      <div>2100</div>
                    </div>
                    <div
                      class="d-flex flex-1 flex-column justify-content-between"
                    >
                      <div>
                        <div>{{ "baht" | transloco }}</div>
                        <div>{{ "baht" | transloco }}</div>
                        <div>{{ "baht" | transloco }}</div>
                      </div>
                      <div>{{ "baht" | transloco }}</div>
                    </div>
                  </div>
                </td>
                <td>
                  <div>
                    {{ renderText(item.lot?.remarks) }}
                  </div>
                </td>
                <td class="text-nowrap">
                  {{
                    (getLocationKey(item.lot?.current_location) | transloco) ||
                      "-"
                  }}
                  <i
                    *ngIf="getLocationKey(item.lot?.current_location) === 'status_in_china_warehouse'"
                    class="fas fa-warehouse ml-2"
                  ></i>
                  <i
                    *ngIf="getLocationKey(item.lot?.current_location) === 'status_arrived_thailand'"
                    class="fas fa-truck-loading ml-2"
                  ></i>
                  <i
                    *ngIf="getLocationKey(item.lot?.current_location) === 'status_departed_china'"
                    class="fas fa-truck ml-2"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="pagination?.records > 10" class="d-flex justify-content-end mt-4">
          <ul class="pagination">
            <li
              class="page-item"
              [ngClass]="{
                disabled: pagination && pagination.page === pagination.startPage
              }"
            >
              <a
                class="page-link"
                (click)="handleChangePage(pagination.page - 1)"
              >
                <i class="fa fa-angle-left"></i>
                <span class="sr-only">{{ "paginator.previous" | transloco }}</span>
              </a>
            </li>
            <li
              *ngFor="let pageNumber of pageNumbers"
              class="page-item"
              [ngClass]="{
                active: pagination && pagination.page === pageNumber
              }"
            >
              <a class="page-link" (click)="handleChangePage(pageNumber)">{{
                pageNumber
              }}</a>
            </li>
            <li
              class="page-item"
              [ngClass]="{
                disabled: pagination && pagination.page === pagination.endPage
              }"
            >
              <a
                class="page-link"
                (click)="handleChangePage(pagination.page + 1)"
              >
                <i class="fa fa-angle-right"></i>
                <span class="sr-only">{{ "paginator.next" | transloco }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="isEmptyDetails()">
        <h3 class="text-center p-3">{{ "parcel.no_parcels" | transloco }}</h3>
      </div>
    </div>
  </div>
</section>
