<app-navbar></app-navbar>
<section id="faq">
    <div class="wrapper">
        <div class="faq-sidebar">
            <div class="faq-list">
                <h1>{{ "faq.title" | transloco }}</h1>
                <div class="faq-item faq-item1">
                    <a routerLink="conditions" routerLinkActive="active">
                        {{ "faq.conditions_title" | transloco }}
                    </a>
                </div>
                <div class="faq-item faq-item2">
                    <a routerLink="how-to-calculate" routerLinkActive="active">
                        {{ "faq.how_to_calculate_title" | transloco }}
                    </a>
                </div>
                <div class="faq-item faq-item3">
                    <a routerLink="storage-fee" routerLinkActive="active">
                        {{ "faq.storage_fee_title" | transloco }}

                    </a>
                </div>
                <div class="faq-item faq-item4">
                    <a routerLink="invoice" routerLinkActive="active">
                        {{ "faq.invoice_menu_1" | transloco }}<br/>
                        {{ "faq.invoice_menu_2" | transloco }}
                    </a>
                </div>
                <div class="faq-item faq-item5">
                    <a routerLink="delivery" routerLinkActive="active">
                        {{ "faq.delivery_title" | transloco }}
                    </a>
                </div>
                <div class="faq-item faq-item6">
                    <a routerLink="status" routerLinkActive="active">
                        {{ "faq.status_title" | transloco }}
                    </a>
                </div>
                <div class="faq-item faq-item7">
                    <a routerLink="goods-type" routerLinkActive="active">
                        {{ "faq.goods_type_title" | transloco }}
                    </a>
                </div>
                <div class="faq-item faq-item8">
                    <a routerLink="goods-type-special" routerLinkActive="active">
                        {{ "faq.goods_type_special_title" | transloco }}
                    </a>
                </div>
                <div class="faq-item faq-item9">
                    <a routerLink="pallet" routerLinkActive="active">
                        {{ "faq.pallet_title" | transloco }}
                    </a>
                </div>
                <div class="faq-item faq-item10">
                    <a routerLink="exchange" routerLinkActive="active">
                        {{ "faq.exchange_menu" | transloco }}
                    </a>
                </div>

                <a [routerLink]="['/web']" class="to-main-page">
                    {{ "faq.back_to_home" | transloco }}
                </a>
            </div>
        </div>
        <div class="faq-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>