<section id="goods-type">
    <div class="container">
        <h3>สินค้าแต่ละประเภทดูอย่างไร</h3>
        <p><span class="font-weight-bold">สินค้าทั่วไป</span> คือ สินค้าทั่วๆ ไปที่ไม่ใช่เครื่องใช้ไฟฟ้า อาหาร ยา
            เครื่องสำอางค์ และสินค้าต้องไม่มีแบรนด์
            หรือลายลิขสิทธิ์ ระยะเวลาในการขนส่งประมาณ 5-9 วัน <span class="text-danger">*</span></p>
        <p><span class="font-weight-bold">สินค้า มอก.</span> คือ สินค้าที่เป็นเครื่องใช้ไฟฟ้าที่ไม่มีแบรนด์
            หรือตัวแทนจำหน่ายในไทย รวมถึงของเล่นบางชนิด
            วัสดุและอุปกรณ์ที่เกี่ยวข้องกับการใช้ไฟฟ้า ระยะเวลาในการขนส่งประมาณ 5-9 วัน<span
                class="text-danger">*</span></p>
        <p><span class="font-weight-bold">สินค้าแบรนด์/ลิขสิทธิ์</span> คือ สินค้าที่มีแบรนด์ และลายลิขสิทธิ์
            ไม่ว่าจะเป็นสินค้าแบรนด์แท้ หรือทำเลียนแบบแบรนด์ก็ตาม ระยะเวลาในการขนส่งประมาณ 3-4
            สัปดาห์<span class="text-danger">*</span></p>
        <p class="text-danger">*ระยะเวลาในการขนส่งไม่รวมช่วงรอสินค้าถึงโกดังจีนและเหตุสุดวิสัยต่างๆที่อาจเกิดขึ้น</p>
    </div>
</section>