<section id="goods-type">
    <div class="container">
        <h3>{{ "faq.goods_type_title" | transloco }}</h3>
        <p><span class="font-weight-bold">{{ "faq.general_goods" | transloco }}</span> {{ "faq.general_goods_desc" | transloco }} <span class="text-danger">*</span></p>
        <p><span class="font-weight-bold">{{ "faq.tis_goods" | transloco }}</span> {{ "faq.tis_goods_desc" | transloco }}<span
                class="text-danger">*</span></p>
        <p><span class="font-weight-bold">{{ "faq.brand_goods" | transloco }}</span> {{ "faq.brand_goods_desc" | transloco }}<span class="text-danger">*</span></p>
        <p class="text-danger">{{ "faq.goods_type_note" | transloco }}</p>
    </div>
</section>