<div class="wrap-modal-box" *ngIf="isModalDisplay">
  <div class="btc-modal flex-center" *ngIf="verificationState === 'unverified'">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-center align-self-center mb-4">
          <h2 class="mb-1 mt-3">กรุณายืนยันตัวตนก่อนใช้บริการ</h2>
          <div class="d-flex row justify-content-center mb-3">
            <h1>สถานะ</h1>
            <h1 class="text-danger ml-1">ยังไม่ได้ยืนยันตัวตน</h1>
          </div>
          <div class="upload-file mt-5">
            <h1 class="mb-1">อัพโหลดรูปถ่ายหน้าตรงคู่กับบัตรประชาชน</h1>
            <h2 class="text-danger mb-2">
              (ให้เห็นหน้าคู่กับบัตรประชาชนอย่างชัดเจน)
            </h2>
            <input type="file" (change)="handleUploadFile($event, 'idCard')" />
          </div>
          <div class="consent-file my-5">
            <h1 class="mb-2">อัพโหลดสัญญา</h1>
            <input type="file" (change)="handleUploadFile($event, 'consent')" />
          </div>

          <div class="d-flex flex-column">
            <button
              type="button"
              class="btn btn-primary submit-file-button mb-3"
              (click)="handleSubmit()"
            >
              <h2 class="text-white">ยืนยันตัวตน</h2>
            </button>
            <button
              type="button"
              class="btn btn-danger"
              [routerLink]="['/web/warehouse-address']"
            >
              <h2 class="text-white">กลับไปที่หน้าภาพรวมบัญชี</h2>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btc-modal flex-center" *ngIf="verificationState === 'reviewing'">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-center align-self-center">
          <h1 class="mb-3 mt-3">กรุณายืนยันตัวตนก่อนใช้บริการ</h1>
          <div class="d-flex row justify-content-center mb-5">
            <h1>สถานะ</h1>
            <h1 class="text-warning ml-2">อยู่ระหว่างการตรวจสอบ</h1>
          </div>
          <p class="mt-5">กรุณารอเจ้าหน้าที่ทำการตรวจสอบข้อมูลการยืนยันตัวตน</p>

          <p>ท่านจะได้รับการแจ้งเตือนในระบบเมื่อเจ้าหน้าที่</p>
          <p>ทำการตรวจสอบข้อมูลแล้ว</p>
        </div>
        <div class="modal-footer justify-content-center mb-3">
          <button
            type="button"
            class="btn btn-danger"
            [routerLink]="['/web/warehouse-address']"
          >
            <h2 class="text-white">กลับไปที่หน้าภาพรวมบัญชี</h2>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
