.container {
  display: flex;
  flex-direction: column;
}

.purchase-card {
  margin: 35px;
  padding: 35px;

  @media (min-width: 720px) {
    padding: 40px 60px;
  }
}

.input-link {
  display: flex;
  flex-direction: column;

  @media (min-width: 500px) {
    flex-direction: row;
  }
}

.search-button {
  width: 100%;
  margin-top: 1rem;

  @media (min-width: 500px) {
    width: 100px;
    margin-top: 0;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #dee2e6;
  margin: 30px 0px;
}

.result {
  display: flex;
  flex-direction: column;
  margin-top: 0;

  @media (min-width: 780px) {
    flex-direction: row;
    margin-top: 1rem;
  }
}

.image-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.item-image {
  height: 60vw;

  @media (min-width: 780px) {
    height: 20vw;
  }
}

.thumbnail-image {
  height: 20vh;

  @media (min-width: 780px) {
    height: 15vh;
  }
}

.details {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
  margin-right: 50px;

  @media (min-width: 780px) {
    margin-left: 50px;
  }
}

.details-divider {
  width: 100%;
  height: 1px;
  background-color: #dee2e6;
  margin: 30px 0px;
}

.quality-button {
  color: #8898aa;
  border-color: #dee2e6;
}

.input-group {
  width: 35%;
}

.input-group .form-control {
  text-align: center;
}

.add-to-cart {
  display: flex !important;
  justify-content: flex-end;
}

.chevron-down-icon {
  width: 15px;
  height: 15px;
}

.thumbnail-list {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  overflow-x: scroll;
}

.instruction {
  display: flex;
  flex-direction: column;

  @media (min-width: 720px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.attribute {
  margin-top: 0.25rem;

  flex-direction: column;

  @media (min-width: 500px) {
    flex-direction: row;
  }
}

.options {
  display: flex;
  align-items: center;
  flex-flow: wrap;
}

.option-button {
  margin-right: 0.5rem;

  @media (max-width: 500px) {
    margin-top: 0.5rem;
  }
}

.amount-input {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: 500px) {
    margin-top: 0.5rem;
  }
}

.custom-amount-input {
  width: 20%;
  height: 43px;
  margin-top: -2px;
  flex: none !important;
}

p {
  margin-bottom: 5px;
}
