<section id="purchase" class="min-vh-100">
  <div class="card purchase-card">
    <div class="instruction">
      <div>
        <h3>{{ "shop.ordering_steps" | transloco }}</h3>
        <ol>
          <li>{{ "shop.step_download" | transloco }}</li>
          <li>{{ "shop.step_fill" | transloco }}</li>
          <li>{{ "shop.step_upload" | transloco }}</li>
          <li>
            {{ "shop.step_company_orders" | transloco }}
          </li>
          <li>
            {{ "shop.step_status_changes" | transloco }}
          </li>
          <li>
            {{ "shop.step_first_payment" | transloco }} <br />
            {{ "shop.step_pay_within" | transloco }}
          </li>
          <li>
            {{ "shop.step_track" | transloco }}
          </li>
        </ol>
      </div>
      <div class="d-flex flex-column ml-3">
        <a href="javascript:void(0)">{{ "shop.how_to_view_shops" | transloco }}</a>
        <a class="text-danger" href="javascript:void(0)"
          >{{ "shop.order_import_conditions" | transloco }}</a
        >
      </div>
    </div>
  </div>
  <div class="card purchase-card">
    <h2 class="mb-2">{{ "shop.link" | transloco }}</h2>
    <div class="input-link">
      <input [(ngModel)]="url" type="text" class="form-control mr-4" />
      <button
        type="button"
        class="btn btn-danger search-button"
        (click)="getProduct()"
      >
        {{ "shop.go" | transloco }}
      </button>
    </div>
    <div *ngIf="product" class="d-flex flex-column">
      <div class="divider"></div>
      <div class="result">
        <div class="image-section">
          <img
            class="img-fluid item-image align-self-center"
            [src]="product.item_imgs[selectedImg]"
          />
          <div class="thumbnail-list">
            <img
              class="img-fluid thumbnail-image mr-2"
              *ngFor="let img of product.item_imgs; let i = index"
              [src]="img"
              (click)="selectedImg = i"
            />
          </div>
        </div>
        <div class="details">
          <h2 class="mb-2">{{ product.title }}</h2>
          <div class="row mb-2">
            <div class="col-2 d-flex align-items-center">
              <h3>{{ "shop.price" | transloco }}</h3>
            </div>
            <div class="col-6 d-flex align-items-center">
              <h3 class="mr-2">¥</h3>
              <h2
                *ngIf="product.has_discount === 'true'"
                class="text-through mr-2"
              >
                {{ originalPrice }}
              </h2>
              <h2>{{ price }}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-2 d-flex align-items-center">
              <h3>{{ "shop.freight" | transloco }}</h3>
            </div>
            <div class="col-6 d-flex align-items-center">
              <h3>{{ product.freight }}</h3>
            </div>
          </div>
          <div class="details-divider"></div>
          <div class="row attribute mt-1">
            <div class="col-2 d-flex align-items-center">
              <h3>{{ "shop.size" | transloco }}</h3>
            </div>
            <div class="col options">
              <div
                *ngFor="let prop of product.properties[20509].types"
                class="btn-group-toggle option-button"
                data-toggle="buttons"
              >
                <label
                  class="btn btn-secondary"
                  [ngClass]="{
                    active: selectedSize === prop.name
                  }"
                  btnCheckbox
                >
                  <input
                    type="checkbox"
                    checked=""
                    (click)="onSelectSize(prop.name,prop.id)"
                    autocomplete="off"
                  />
                  {{ prop.name }}
                </label>
              </div>
            </div>
          </div>
          <div class="row attribute mt-4">
            <div class="col-2 d-flex align-items-center">
              <h3>{{ "shop.color" | transloco }}</h3>
            </div>
            <div class="col options">
              <div
                *ngFor="let prop of product.properties[1627207].types"
                class="btn-group-toggle option-button"
                data-toggle="buttons"
              >
                <label
                  class="btn btn-secondary"
                  [ngClass]="{
                    active: selectedColor === prop.name
                  }"
                  btnCheckbox
                >
                  <input
                    type="checkbox"
                    checked=""
                    (click)="onSelectColor(prop.name,prop.id)"
                    autocomplete="off"
                  />
                  {{ prop.name }}
                </label>
              </div>
            </div>
          </div>
          <div class="row attribute mt-4">
            <div class="col-2 d-flex align-items-center">
              <h3>{{ "shop.quantity" | transloco }}</h3>
            </div>
              <div class="col input-group amount-input">
                <div class="input-group-prepend">
                  <button
                    class="btn btn-outline-primary quality-button"
                    type="button"
                    (click)="removeAmount()"
                  >
                    -
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control custom-amount-input"
                  placeholder=""
                  [(ngModel)]="amount"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-primary quality-button"
                    type="button"
                    (click)="addAmount()"
                  >
                    +
                  </button>
                </div>
              </div>
          </div>
          <div class="row mt-4">
            <div class="col d-flex align-items-center">
              <h3>{{ "remark" | transloco }}</h3>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col d-flex align-items-center">
              <textarea
                class="form-control"
                id="input-note"
                type="text"
                maxlength="150"
                rows="3"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="add-to-cart mt-3">
        <button type="button" class="btn btn-danger">{{ "shop.add_to_cart" | transloco }}</button>
      </div>
    </div>
  </div>
</section>
