<section id="agent" *ngIf="isMainContentDisplay">
  <div class="card container-card">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h2 class="card-title">{{ "menu.manage_agents" | transloco }}</h2>
      <a class="btn btn-primary text-white" href="javascript:void(0)"
        >{{ "affiliate.add_referral_code" | transloco }}</a
      >
    </div>
    <div class="card-body">
      <div class="agent-section1 mb-5">
        <h2 class="mb-3">{{ "affiliate.create_referral_code" | transloco }}</h2>
        <div class="wrapper">
          <div class="info referral-code">
            <label for="referral-code">{{ "affiliate.referral_code" | transloco }}</label>
            <input
              type="text"
              placeholder=""
              id="referral-code"
              class="form-control"
              [(ngModel)]="affiliateCode"
            />
          </div>
          <div class="info calculate-commission">
            <label for="">{{ "affiliate.commission_calculation" | transloco }}</label>
            <div class="btc-select-wrapper">
              <select (change)="handleCommission($event.target.value)">
                <option value="cost">{{ "affiliate.cost_rate" | transloco }}</option>
                <option value="percentage">{{ "affiliate.percent" | transloco }}</option>
              </select>
            </div>
          </div>
          <div class="info selling-price">
            <label for="selling-car-general">{{ "affiliate.selling_price" | transloco }}</label>
            <div class="wrap-input">
              <div class="weight">
                <div class="agent-input-wrapper">
                  <label for="selling-car-general">{{ "affiliate.general_truck_weight" | transloco }}</label>
                  <input
                    type="text"
                    placeholder=""
                    id="selling-car-general"
                    class="agent-input"
                    [(ngModel)]="sellingWeightPrice.p"
                  />
                </div>
                <div class="agent-input-wrapper">
                  <label for="selling-car-thai-industrial"
                    >{{ "affiliate.tis_truck_weight" | transloco }}</label
                  >
                  <input
                    type="text"
                    placeholder=""
                    id="selling-car-thai-industrial"
                    class="agent-input"
                    [(ngModel)]="sellingWeightPrice.d"
                  />
                </div>
                <div class="agent-input-wrapper">
                  <label for="selling-car-food-and-drug"
                    >{{ "affiliate.fda_truck_weight" | transloco }}</label
                  >
                  <input
                    type="text"
                    placeholder=""
                    id="selling-car-food-and-drug"
                    class="agent-input"
                    [(ngModel)]="sellingWeightPrice.hy"
                  />
                </div>
                <div class="agent-input-wrapper">
                  <label for="selling-car-brand">{{ "affiliate.brand_truck_weight" | transloco }}</label>
                  <input
                    type="text"
                    placeholder=""
                    id="selling-car-brand"
                    class="agent-input"
                    [(ngModel)]="sellingWeightPrice.m"
                  />
                </div>
                <div class="agent-input-wrapper">
                  <label for="selling-ship-general"
                    >{{ "affiliate.general_ship_weight" | transloco }}</label
                  >
                  <input
                    type="text"
                    placeholder=""
                    id="selling-ship-general"
                    class="agent-input"
                    [(ngModel)]="sellingWeightPrice.sp"
                  />
                </div>
                <div class="agent-input-wrapper">
                  <label for="selling-ship-thai-industrial-standard"
                    >{{ "affiliate.tis_ship_weight" | transloco }}</label
                  >
                  <input
                    type="text"
                    placeholder=""
                    id="selling-ship-thai-industrial-standard"
                    class="agent-input"
                    [(ngModel)]="sellingWeightPrice.sd"
                  />
                </div>
              </div>

              <div class="volume">
                <div class="agent-input-wrapper">
                  <label for="volume-car-general">{{ "affiliate.general_truck_volume" | transloco }}</label>
                  <input
                    type="text"
                    placeholder=""
                    id="volume-car-general"
                    class="agent-input"
                    [(ngModel)]="sellingVolumePrice.p"
                  />
                </div>
                <div class="agent-input-wrapper">
                  <label for="volume-car-thai-industrial"
                    >{{ "affiliate.tis_truck_volume" | transloco }}</label
                  >
                  <input
                    type="text"
                    placeholder=""
                    id="volume-car-thai-industrial"
                    class="agent-input"
                    [(ngModel)]="sellingVolumePrice.d"
                  />
                </div>
                <div class="agent-input-wrapper">
                  <label for="volume-car-food-and-drug">{{ "affiliate.fda_truck_volume" | transloco }}</label>
                  <input
                    type="text"
                    placeholder=""
                    id="volume-car-food-and-drug"
                    class="agent-input"
                    [(ngModel)]="sellingVolumePrice.hy"
                  />
                </div>
                <div class="agent-input-wrapper">
                  <label for="volume-car-brand">{{ "affiliate.brand_truck_volume" | transloco }}</label>
                  <input
                    type="text"
                    placeholder=""
                    id="volume-car-brand"
                    class="agent-input"
                    [(ngModel)]="sellingVolumePrice.m"
                  />
                </div>
                <div class="agent-input-wrapper">
                  <label for="volume-ship-general">{{ "affiliate.general_ship_volume" | transloco }}</label>
                  <input
                    type="text"
                    placeholder=""
                    id="volume-ship-general"
                    class="agent-input"
                    [(ngModel)]="sellingVolumePrice.sp"
                  />
                </div>
                <div class="agent-input-wrapper">
                  <label for="volume-ship-thai-industrial-standard"
                    >{{ "affiliate.tis_ship_volume" | transloco }}</label
                  >
                  <input
                    type="text"
                    placeholder=""
                    id="volume-ship-thai-industrial-standard"
                    class="agent-input"
                    [(ngModel)]="sellingVolumePrice.sd"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="info cost-price">
            <label for="cost-car-general">{{ "affiliate.cost_price" | transloco }}</label>
            <div class="wrap-input">
              <div class="weight">
                <div class="agent-input-wrapper readonly">
                  <label for="costing-car-general">{{ "affiliate.general_truck_weight" | transloco }}</label>
                  <input
                    type="text"
                    placeholder=""
                    id="costing-car-general"
                    class="form-control"
                    [(ngModel)]="costingWeightPrice.p"
                    readonly
                  />
                </div>
                <div class="agent-input-wrapper readonly">
                  <label for="costing-car-thai-industrial"
                    >{{ "affiliate.tis_truck_weight" | transloco }}</label
                  >
                  <input
                    type="text"
                    placeholder=""
                    id="costing-car-thai-industrial"
                    class="form-control"
                    [(ngModel)]="costingWeightPrice.d"
                    readonly
                  />
                </div>
                <div class="agent-input-wrapper readonly">
                  <label for="costing-car-food-and-drug"
                    >{{ "affiliate.fda_truck_weight" | transloco }}</label
                  >
                  <input
                    type="text"
                    placeholder=""
                    id="costing-car-food-and-drug"
                    class="form-control"
                    [(ngModel)]="costingWeightPrice.hy"
                    readonly
                  />
                </div>
                <div class="agent-input-wrapper readonly">
                  <label for="costing-car-brand">{{ "affiliate.brand_truck_weight" | transloco }}</label>
                  <input
                    type="text"
                    placeholder=""
                    id="costing-car-brand"
                    class="form-control"
                    [(ngModel)]="costingWeightPrice.m"
                    readonly
                  />
                </div>
                <div class="agent-input-wrapper readonly">
                  <label for="costing-ship-general"
                    >{{ "affiliate.general_ship_weight" | transloco }}</label
                  >
                  <input
                    type="text"
                    placeholder=""
                    id="costing-ship-general"
                    class="form-control"
                    [(ngModel)]="costingWeightPrice.sp"
                    readonly
                  />
                </div>
                <div class="agent-input-wrapper readonly">
                  <label for="costing-ship-thai-industrial-standard"
                    >{{ "affiliate.tis_ship_weight" | transloco }}</label
                  >
                  <input
                    type="text"
                    placeholder=""
                    id="costing-ship-thai-industrial-standard"
                    class="form-control"
                    [(ngModel)]="costingWeightPrice.sd"
                    readonly
                  />
                </div>
              </div>

              <div class="volume">
                <div class="agent-input-wrapper readonly">
                  <label for="selling-car-general">{{ "affiliate.general_truck_volume" | transloco }}</label>
                  <input
                    type="text"
                    placeholder=""
                    id="selling-car-general"
                    class="form-control"
                    [(ngModel)]="costingVolumePrice.p"
                    readonly
                  />
                </div>
                <div class="agent-input-wrapper readonly">
                  <label for="selling-car-thai-industrial"
                    >{{ "affiliate.tis_truck_volume" | transloco }}</label
                  >
                  <input
                    type="text"
                    placeholder=""
                    id="selling-car-thai-industrial"
                    class="form-control"
                    [(ngModel)]="costingVolumePrice.d"
                    readonly
                  />
                </div>
                <div class="agent-input-wrapper readonly">
                  <label for="selling-car-food-and-drug"
                    >{{ "affiliate.fda_truck_volume" | transloco }}</label
                  >
                  <input
                    type="text"
                    placeholder=""
                    id="selling-car-food-and-drug"
                    class="form-control"
                    [(ngModel)]="costingVolumePrice.hy"
                    readonly
                  />
                </div>
                <div class="agent-input-wrapper readonly">
                  <label for="selling-car-brand">{{ "affiliate.brand_truck_volume" | transloco }}</label>
                  <input
                    type="text"
                    placeholder=""
                    id="selling-car-brand"
                    class="form-control"
                    [(ngModel)]="costingVolumePrice.m"
                    readonly
                  />
                </div>
                <div class="agent-input-wrapper readonly">
                  <label for="selling-ship-general"
                    >{{ "affiliate.general_ship_volume" | transloco }}</label
                  >
                  <input
                    type="text"
                    placeholder=""
                    id="selling-ship-general"
                    class="form-control"
                    [(ngModel)]="costingVolumePrice.sp"
                    readonly
                  />
                </div>
                <div class="agent-input-wrapper readonly">
                  <label for="selling-ship-thai-industrial-standard"
                    >{{ "affiliate.tis_ship_volume" | transloco }}</label
                  >
                  <input
                    type="text"
                    placeholder=""
                    id="selling-ship-thai-industrial-standard"
                    class="form-control"
                    [(ngModel)]="costingVolumePrice.sd"
                    readonly
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="agent-section2 mb-5">
        <h2 class="mb-3">{{ "affiliate.supervisor_details" | transloco }}</h2>
        <div class="wrapper">
          <div class="info btc-password">
            <label for="btc-password">{{ "affiliate.btc_code" | transloco }}</label>
            <input
              type="text"
              placeholder=""
              id="btc-password"
              class="form-control"
              [(ngModel)]="btcCode"
            />
          </div>
          <div class="info name">
            <label for="name">{{ "full_name" | transloco }}</label>
            <input
              type="text"
              placeholder=""
              id="name"
              class="form-control"
              [(ngModel)]="name"
            />
          </div>
          <div class="info id-number">
            <label for="id-number">{{ "affiliate.national_id" | transloco }}</label>
            <input
              type="text"
              placeholder=""
              id="id-number"
              class="form-control"
              [(ngModel)]="vat"
            />
          </div>
          <div class="info telephone">
            <label for="telephone">{{ "telephone" | transloco }}</label>
            <input
              type="text"
              placeholder=""
              id="telephone"
              class="form-control"
              [(ngModel)]="phoneNumber"
            />
          </div>
          <div class="info email">
            <label for="email">{{ "affiliate.email" | transloco }}</label>
            <input
              type="text"
              placeholder=""
              id="email"
              class="form-control"
              [(ngModel)]="email"
            />
          </div>
          <div class="info address mt-3">
            <label for="address1">{{ "address" | transloco }}</label>
            <div class="wrap-input-address">
              <input
                type="text"
                [placeholder]="'address_line_hint' | transloco"
                id="address1"
                class="form-control"
                [(ngModel)]="addressLine1"
              />
              <select-address
                *ngIf="isDisplaySelectAddress"
                [id]="'select-address-agent'"
                [address]="addressLine2"
                (addressSelected)="onNewAddressSelected($event)"
              ></select-address>
            </div>
          </div>
        </div>
        <div class="wrap-btn text-right mt-4">
          <button class="btn btn-success" (click)="createAffiliate()">
            {{ (id ? "affiliate.update_info" : "affiliate.confirm_create") | transloco }}
          </button>
        </div>
      </div>
      <div class="agent-section3">
        <div class="wrapper-table overflow-x-auto">
          <table
            class="table align-items-center"
            *ngIf="teamMembers.length > 0"
          >
            <thead class="thead-light">
              <tr>
                <th rowspan="2">{{ "affiliate.referral_code" | transloco }}</th>
                <th colspan="6">{{ "affiliate.selling_rate_weight" | transloco }}</th>
                <th colspan="6">{{ "affiliate.selling_rate_volume" | transloco }}</th>
                <th rowspan="2">{{ "affiliate.edit_delete" | transloco }}</th>
              </tr>
              <tr>
                <!-- Cost Price -->
                <th>{{ "goods_general_truck" | transloco }}</th>
                <th>{{ "goods_tis_truck" | transloco }}</th>
                <th>{{ "affiliate.fda_truck" | transloco }}</th>
                <th>{{ "affiliate.brand_truck" | transloco }}</th>
                <th>{{ "affiliate.general_ship" | transloco }}</th>
                <th>{{ "goods_tis_ship" | transloco }}</th>
                <!-- Shipping Price -->
                <th>{{ "goods_general_truck" | transloco }}</th>
                <th>{{ "goods_tis_truck" | transloco }}</th>
                <th>{{ "affiliate.fda_truck" | transloco }}</th>
                <th>{{ "affiliate.brand_truck" | transloco }}</th>
                <th>{{ "affiliate.general_ship" | transloco }}</th>
                <th>{{ "goods_tis_ship" | transloco }}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="item" *ngFor="let item of teamMembers">
                <td>{{ item.affiliate_code }}</td>

                <!-- Selling Weight Price -->
                <td>{{ item.selling_id.weight_price.p }}</td>
                <td>{{ item.selling_id.weight_price.d }}</td>
                <td>{{ item.selling_id.weight_price.hy }}</td>
                <td>{{ item.selling_id.weight_price.m }}</td>
                <td>{{ item.selling_id.weight_price.sp }}</td>
                <td>{{ item.selling_id.weight_price.sd }}</td>
                <!-- Selling Volume Price -->
                <td>{{ item.selling_id.volume_price.p }}</td>
                <td>{{ item.selling_id.volume_price.d }}</td>
                <td>{{ item.selling_id.volume_price.hy }}</td>
                <td>{{ item.selling_id.volume_price.m }}</td>
                <td>{{ item.selling_id.volume_price.sp }}</td>
                <td>{{ item.selling_id.volume_price.sd }}</td>

                <td>
                  <button
                    class="btn bg-gray text-white"
                    (click)="editSellingPrice(item)"
                  >
                    {{ "edit" | transloco }}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<dialog-affiliate
  (isMainContentDisplay)="setMainContentDisplay($event)"
></dialog-affiliate>
