<section id="conditions">
    <div class="container">
        <div class="conditions-section1">
            <h3>ข้อตกลง/เงื่อนไขการใช้บริการ</h3>
            <p>เพื่อการรักษาผลประโยชน์ของลูกค้าและสามารถดำเนินงานได้อย่างราบรื่น โปรดศึกษากติกาและความรับผิดชอบของ BTC
                Cargo
                อย่างละเอียด หากไม่เข้าใจหรือมีข้อสงสัย สามารถสอบถามเพิ่มเติมได้ที่ ไลน์ @btccargo หรือ ทางอีเมล์
                ttxbtc@gmail.com
                ทั้งนี้ เมื่อมีการทำธุรกรรมใดๆ เกิดขึ้นระหว่างลูกค้าและ BTC Cargo แล้ว BTC Cargo
                จะถือว่าลูกค้าได้อ่านและตกลงในกติกาและความรับผิดชอบของ BTC Cargo ในทุกๆข้อ</p>
        </div>
        <div class="conditions-section2">
            <h4>การสั่งซื้อสินค้าและวัสดุจากประเทศจีนจากเว็บไซต์ ร้านค้าส่งและโรงงาน</h4>
            <ol>
                <li>BTC Cargo เป็นเพียงตัวกลางประสานงานกับบริษัทเก็ท ต้า หยวน
                    จำกัดให้ใช้แพลทฟอร์มออนไลน์ในการดำเนินการสั่งซื้อสินค้าและวัสดุจากประเทศจีนตามความต้องการของลูกค้า
                    ดังนั้น BTC Cargo
                    ไม่มีนโยบายแกะบรรจุภัณฑ์ของลูกค้า (เว้นแต่สินค้าหรือวัสดุนั้นถูกแกะตรวจที่ด่านจีนหรือด่านไทย
                    หรือบริษัท เก็ท ต้า หยวน
                    จำกัดไม่ทราบแน่ชัดว่าสินค้าหรือวัสดุนั้นเป็นของลูกค้าท่านใด จึงจะมีการแกะตรวจสอบสินค้าภายใน)
                    หากเว็บไซต์
                    ร้านค้าส่งและโรงงานที่ทำธุรกรรมนั้นส่งสินค้าผิดสี ผิดขนาดและผิดจำนวน และลูกค้าไม่แจ้ง บริษัทเก็ท ต้า
                    หยวน จำกัด
                    ให้ทราบภายในวันรุ่งขึ้นหลังจากที่ได้รับสินค้า บริษัทเก็ท ต้า หยวน
                    จำกัดไม่สามารถรับผิดชอบค่าเสียหายใดๆที่เกิดขึ้นได้
                </li>
                <li>หากเว็บไซต์ ร้านค้าส่งและโรงงานที่ทำธุรกรรมด้วยจัดส่งสินค้าผิดสี ผิดขนาดและผิดจำนวน BTC Cargo
                    ยินดีช่วยประสานงานกับบริษัทเก็ท ต้า หยวนจำกัดเพื่อเจรจาต่อรองกับเว็บไซต์
                    ร้านค้าส่งและโรงงานที่ทำธุรกรรม แต่ BTC Cargo
                    และบริษัทเก็ท ต้า หยวน จำกัดไม่สามารถชดใช้ค่าเสียหายใดๆที่เกิดขึ้นแทนเว็บไซต์
                    ร้านค้าส่งและโรงงานที่ทำธุรกรรมนั้นได้
                </li>
                <li>หากตรวจสอบแล้วพบว่าการขนส่งสินค้ามีข้อบกพร่องใดๆก็ตามที่เกิดขึ้นจาก BTC Cargo แต่เพียงผู้เดียว BTC
                    Cargo
                    ยินดีชดเชยค่าเสียหายตามจริงหรือสูงสุดที่ 3,000 บาท
                </li>
            </ol>
        </div>
        <div class="conditions-section3">
            <h4>การขนส่งสินค้าและวัสดุจากประเทศจีน</h4>
            <ol>
                <li>BTC Cargo เป็นเพียงผู้ขนส่งสินค้าและวัสดุในประเทศไทย
                    โดยมีบริษัทหลักในการส่งสินค้าหรือวัสดุมาที่บริษัท BTC Cargo
                    เพื่อคัดแยกและจัดส่ง ดังนั้น หากมีปัจจัยที่เหนือการควบคุมเกิดขึ้น เช่น อุบัติเหตุ ภัยพิบัติ
                    การตรวจเข้มของที่ด่านจีนหรือด่านไทยหรือปัจจัยอื่นๆที่ส่งผลให้การขนส่งสินค้าล่าช้ากว่าปกติ BTC Cargo
                    ไม่สามารถชดเชยค่าเสียหายเป็นเงินได้ แต่ BTC Cargo
                    ยินดีที่จะดำเนินการติดตามสถานะของสินค้าและวัสดุนั้นๆหรือพยายามหาวิธีแก้ไขปัญหาดังกล่าวโดยเร็วที่สุดเท่าที่
                    BTC Cargo
                    จะสามารถทำได้
                </li>
                <li>สินค้ามีคม สินค้าผิดกฎหมาย สินค้าต้องห้าม สินค้าต้องกำกัด ต้นไม้ และสารเคมีและของเหลวทุกประเภท
                    ไม่รับขนส่งทุกกรณี
                </li>
                <li>การขนส่งสินค้าหรือวัสดุพิเศษ เช่น สินค้ามีคม สินค้าควบคุม สินค้าต้องห้าม สินค้าผิดกฎหมาย
                    สินค้าที่มีลิขสิทธิ์ มอก
                    อุปกรณ์อิเล็กทรอนิกส์ ต้นไม้ สารเคมีและของเหลวทุกประเภท และอื่นๆ
                    เป็นไปตามประกาศของแต่ละส่วนงานและท้องที่ของแต่ละประเทศในช่วงเวลานั้นๆ จะต้องแจ้ง BTC Cargo ทุกครั้ง
                    หากไม่แจ้งก่อนสั่งซื้อสินค้าและส่งผลให้เกิดปัญหาการขนส่งล่าช้าหรือเกิดปัญหาที่ทำให้สินค้าของลูกค้าท่านอื่นภายในตู้เดียวกันเสียหายทุกกรณี
                    และหากมีพนักงานบาดเจ็บการทำงานที่เกิดจากสินค้าหรือพัสดุของลูกค้า
                    ลูกค้าที่ขนส่งสินค้าหรือวัสดุชนิดนั้นจะเป็นผู้รับผิดชอบปัญหาและอุบัติเหตุที่เกิดขึ้นต่อลูกค้าและพนักงานของ
                    BTC Cargo
                    ที่ได้รับผลกระทบเต็มจำนวนแต่เพียงผู้เดียวหรือเป็นไปตามกติกาและความรับผิดชอบของ BTC Cargo ณ วันนั้น
                </li>
                <li>สินค้าพิเศษเช่น สินค้าควบคุม สินค้าต้องห้าม สินค้าผิดกฎหมาย สินค้าที่มีลิขสิทธิ์ มอก
                    อุปกรณ์อิเล็กทรอนิกส์ ต้นไม้
                    สารเคมีและของเหลวทุกประเภท และอื่นๆเป็นไปตามประกาศของแต่ละส่วนงานและท้องที่ ที่ขนส่งโดยไม่ได้แจ้ง
                    BTC Cargo ก่อน
                    หรือส่งมาไทยแล้วพบว่าถูกด่านดึงสินค้าออกไป
                    รวมถึงปัญหาที่อาจเกิดขึ้นด้วยสาเหตุใดๆก็ตามที่ด่านไทยหรือที่ด่านจีน
                    ลูกค้าที่ขนส่งสินค้าหรือวัสดุชนิดนั้นจะต้องยอมรับในเหตุการณ์ที่เกิดขึ้นโดยไม่มีข้อโต้แย้ง และบริษัทฯ
                    ไม่สามารถชดเชยสินค้าที่สูญหายได้</li>
                <li>ลูกค้าที่ใช้บริการขนส่งสินค้าหรือวัสดุมายังประเทศไทยเพียงอย่างเดียว
                    จะต้องติดตามสถานะการเดินทางของสินค้าหรือวัสดุนั้นอย่างใกล้ชิด
                    หากตรวจสอบเลขพัสดุในประเทศจีนแล้วพบว่าสินค้าหรือวัสดุนั้นถึงปลายทางเพราะมีคนเซ็นรับแล้ว
                    แต่ทีมงานที่พำนักในประเทศจีนยังไม่ได้รับสินค้าหรือวัสดุนั้น ลูกค้าจะต้องติดตามกับทางเว็บไซต์
                    ร้านค้าหรือโรงงานด้วยตัวของลูกค้าเองโดย BTC Cargo ไม่สามารถชดเชยค่าเสียหายใดๆได้
                </li>
                <li>BTC Cargo ไม่สามารถรับผิดชอบในกรณีกล่องบรรจุสินค้าหรือวัสดุบุบหรือยับไม่เป็นทรงกล่อง แต่ BTC Cargo
                    ยินดีตรวจสอบและรับผิดชอบในกรณีการขนส่งส่งผลให้สินค้าหรือวัสดุภายในเสียหายและลูกค้าได้รับผลกระทบ
                    หากข้อผิดพลาดที่เกิดขึ้นเกิดจากทางเว็บไซต์ ร้านค้าส่งหรือโรงงานที่ลูกค้าทำธุรกรรม
                    ไม่ว่าจะจากสาเหตุบรรจุภัณฑ์ไม่แข็งแรง
                    บรรจุมาไม่เรียบร้อย ไม่สามารถปกป้องสินค้าได้ 100 % การชดใช้ค่าเสียหายเป็นไปตามข้อตกลงระหว่างเว็บไซต์
                    ร้านค้าส่งหรือโรงงานกับลูกค้าโดยทางเรายินดีประสานงานให้ แต่หากข้อผิดพลาดเกิดจากทาง BTC Cargo
                    แต่เพียงผู้เดียว BTC Cargo
                    ยินดีชดใช้ค่าเสียหายตามจริงหรือสูงสุดที่ 3,000 บาท
                </li>
                <li>การขนส่งสินค้าหรือวัสดุที่มีโอกาสแตกหักและเสียหายสูง รวมไปถึงสินค้าเปราะบาง
                    ต้องได้รับการดูแลเป็นพิเศษในการขนส่ง เช่น
                    สินค้าที่เป็นหรือมีส่วนผสมของของเหลว สินค้าจำพวกเซรามิค เครื่องจักร เหล็ก เฟอร์นิเจอร์ เป็นต้น
                    หากลูกค้าไม่ได้แจ้งร้านค้าหรือโรงงานให้ตีลังไม้เข้ามาหรือแจ้งทีมงานของที่พำนักที่จีนตีลังไม้ ทาง BTC
                    Cargo
                    จะไม่ชดเชยค่าเสียหายที่เกิดขึ้นใด เว้นแต่ ตรวจสอบแล้วพบว่าความเสียหายที่เกิดขึ้น เกิดจาก BTC Cargo
                    แต่เพียงผู้เดียว BTC
                    Cargo ยินดีชดเชยค่าเสียหายตามจริงหรือสูงสุด 3,000 บาท
                </li>
                <li>สินค้าหรือพัสดุที่มาถึงไทยแล้วลูกค้าไม่ทำรายการเพื่อจัดส่งเป็นระยะเวลามากกว่า 7 วัน
                    นับวันแรกที่มาถึงไทย
                    สินค้าหรือพัสดุดังกล่าว กรรมสิทธิ์และความเป็นเจ้าของจะตกเป็นของบริษัทฯ ทันทีและบริษัทฯ
                    สามารถจัดจำหน่ายเพื่อชดเชยค่าเสียหายที่เกิดขึ้นกับบริษัทฯ ได้โดยไม่มีข้อโต้แย้ง
                </li>
                <li>บริษัทฯ มีหน้าที่จัดส่งพัสดุตามเลขพัสดุที่ระบุไว้ในรายการจัดส่งพัสดุ
                    หากสินค้าที่ได้รับไปมีปัญหาหรือมีตำหนิใด ๆ
                    ลูกค้าต้องติดต่อร้านค้าหรือโรงงานเท่านั้น
                    เว้นแต่ว่าพัสดุที่ได้รับไปนั้นไม่ตรงตามเลขพัสดุที่ระบุในรายการจัดส่งพัสดุ
                    ดังนั้น หลังจากได้รับพัสดุ ผู้รับต้องถ่ายคลิปวิดีโอทุกครั้งให้เห็นชัดเจน
                    ไม่มีการเบนกล้องและ/หรือตัดต่อเพื่อใช้เป็นหลักฐานในการตรวจสอบ หากไม่มีคลิปวิดีโอตอนเปิดพัสดุ
                    หรือคลิปวิดีโอไม่ชัดเจน
                    มีการเบนกล้องและ/หรือตัดต่อ บริษัทฯ ขอสงวนสิทธิในการตรวจสอบและไม่สามารถรับผิดชอบได้ทุกกรณี
                </li>
                <li>ระยะเวลาการขนส่งจากจีนมาไทยทั้งทางรถและทางเรืออาจจะล่าช้ากว่าปกติได้
                    กล่าวคือการขนส่งทางรถปกติใช้เวลา 3-10 วันถึงไทย
                    และทางเรือปกติใช้เวลา 30-45 วันถึงไทย นับตั้งแต่วันที่ออกจากจีนบนฐานข้อมูลฝั่งจีน
                    ปัญหาล่าช้าดังกล่าวจะเกิดขึ้นจากสถานการณ์ที่ด่าน สภาพการจราจรที่เกี่ยวข้องกับการขนส่ง
                    ข้อกำหนดหรือข้อจำกัดเรื่องการขนส่งของรัฐบาล รวมไปถึงภัยธรรมชาติต่าง ๆ ที่อาจเกิดขึ้นในช่วงเวลานั้น
                    ซึ่งเป็นปัจจัยที่บริษัทฯ ไม่สามารถควบคุมได้และบริษัทฯ
                    ไม่สามารถรับผิดชอบได้หากเกิดปัญหาดังกล่าวทุกกรณี
                </li>
                <li>วิธีคำนวณค่าขนส่งพัสดุ
                </li>
            </ol>
        </div>
        <div class="conditions-section4">
            <div>
                <span class="font-weight-bold text-dark">การคำนวณค่าขนส่งคิดได้ 2 แบบ</span> * คิดจากขนาด
                และน้ำหนักของกล่องพัสดุ *
            </div>

            <div>
                <u>วิธีการคำนวณ</u>
            </div>

            <ol>
                <li>
                    หาขนาดคิวบิกเมตร<br />
                    โดยนำขนาดกล่อง กว้าง ยาว สูง (หน่วยเซนติเมตร) มาคูณกัน จากนั้นหารด้วย 1 ล้าน จะได้ขนาดคิวบิกเมตร
                </li>
                <li>นำคิวบิกเมตรที่คำนวณได้มาคูณกับ 200 เพื่อหาน้ำหนักที่ควรหนักของพัสดุ<br />
                    (1 คิวบิกเมตรจะต้องหนัก 200 กิโลกรัม)</li>
                <li>ผลลัพธ์ที่ได้จากข้อ 2 คือน้ำหนักที่พัสดุขนาดเท่านี้ควรหนัก (ขอเรียกว่า 'น้ำหนักควรหนัก')</li>
                <li>
                    เปรียบเทียบน้ำหนักจริงและน้ำหนักควรหนัก
                    <ul>
                        <li>หากน้ำหนักที่ชั่งจริง <u>มากกว่า</u> น้ำหนักควรหนัก = สินค้าหนัก :
                            ใช้เรทค่าขนส่งแบบกิโลกรัมคำนวณ</li>
                        <li>น้ำหนักที่ชั่งจริง <u>น้อยกว่า</u> น้ำหนักควรหนัก = สินค้าเบา :
                            ใช้เรทค่าขนส่งแบบคิวบิกเมตรคำนวณ</li>
                    </ul>
                </li>
            </ol>
        </div>
        <div class="conditions-section5">
            <p>ทั้งนี้ หากเกิดเหตุสุดวิสัยอื่นๆ ที่กติกาและความรับผิดชอบดังที่เขียนไว้ข้างต้นไม่ได้ครอบคลุม
                และตรวจสอบพบว่าข้อผิดพลาดที่เกิดขึ้นเป็นความผิดของ BTC Cargo แต่เพียงผู้เดียว BTC Cargo
                ยินดีชดใช้ค่าเสียหายตามจริงหรือสูงสุดที่ 3,000 บาท</p>
            <p>กรุณาแจ้งประเภทของสินค้าให้ถูกต้องตามจริง เพื่อการรักษาผลประโยชน์ของลูกค้าในการขนส่งสินค้าได้ราบรื่น
                ว่องไว
                เป็นไปตามกำหนดรอบขนส่ง ทางเรามีความจำเป็นจะต้องระบุประเภทสินค้าที่ขนส่งในแต่ละรอบอย่างชัดเจน
                เพื่อการนำสินค้าออกจากด่านได้อย่างว่องไวและทำงานได้อย่างมีประสิทธิภาพและราบรื่น</p>
            <p>ทั้งนี้ หากลูกค้าไม่แจ้งให้ทางเราทราบหรือแจ้งไม่ชัดเจน เบื้องต้น
                บริษัทหลักจะตรวจสอบโดยการแกะบรรจุภัณฑ์เพื่อคัดแยกสินค้าและวัสดุนั้นๆก่อนนำส่งเข้ามายังประเทศไทย</p>
            <p>หากบริษัทหลักคัดแยกสินค้าผิดประเภทจะทำให้การขนส่งรอบนั้นล่าช้า และอาจถูกปรับ ดังนั้น
                ผู้เป็นเจ้าของสินค้าชิ้นนั้นจะต้องเป็นผู้รับผิดชอบค่าเสียหายที่เกิดขึ้นทั้งหมดแต่เพียงผู้เดียว</p>
        </div>
    </div>
</section>