<section id="terms-and-conditions">
  <div class="container pdpa-conditions-container">
    <div [innerHTML]="consent.html"></div>
    <div class="row mt-4 ml-0 mr-0">
      <div class="custom-control custom-checkbox custom-control-inline">
        <input
          [(ngModel)]="isAcceptedDataManagement"
          class="custom-control-input"
          id="customCheckAcceptDataManagement"
          name="customCheckAcceptDataManagement"
          type="checkbox"
        />
        <label
          class="custom-control-label"
          for="customCheckAcceptDataManagement"
        >
          <p>ฉันยอมรับเงื่อนไขการจัดการข้อมูลส่วนบุคคล</p>
        </label>
      </div>
    </div>
    <div class="row justify-content-end mt-4 ml-0 mr-0">
      <button class="btn btn-danger" (click)="handleBack()">ย้อนกลับ</button>
      <button
        [disabled]="!isAcceptedDataManagement"
        class="btn btn-primary"
        (click)="handleNext()"
      >
        ถัดไป
      </button>
    </div>
  </div>
</section>
