.card-header {
  background-color: #ca3342fc;
  color: #fff;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-title {
  color: #fff;
  margin-bottom: 0;
}

.card-body {
  padding: 20px;
}

.parcel-list-card {
  margin: 0px 20px;
}

.overflow-x-auto {
  overflow-x: auto;
}

h2 {
  margin-bottom: 0;
}

.input-text {
  width: 100%;
  margin-top: 0.5rem;

  @media (min-width: 600px) {
    width: 30vw;
    margin-left: 1.5rem;
    margin-top: 0;
  }

  @media (min-width: 1100px) {
    width: 20vw;
    margin-top: 0;
  }
}

.dropdown-toggle.btn {
  width: 130px;
}

.order-header {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;


  @media (min-width: 600px) {
    flex-direction: row;
    align-items: center;
  }

}