<section>
  <div class="card parcel-list-card">
    <div class="card-header">
      <h2 class="card-title">ติดตามสถานะสินค้า</h2>
    </div>
    <div class="card-body">
      <div class="order-header">
        <h2>ออเดอร์</h2>
        <input
          type="text"
          class="form-control input-text"
          placeholder=""
          maxlength="50"
        />
      </div>
      <div class="overflow-x-auto">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">ออเดอร์</th>
              <th scope="col">จำนวนร้าน</th>
              <th scope="col">วันที่สร้างออเดอร์</th>
              <th scope="col">จำนวนสินค้า</th>
              <th scope="col">ยอดชำระ</th>
              <th scope="col">ติดตามสถานะสินค้า</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a [routerLink]="['/web/tracking-details']">Order No.</a>
              </td>
              <td>Shop</td>
              <td>DD/MM/YY</td>
              <td>1</td>
              <td>xxx Baht</td>
              <td>
                <a [routerLink]="['/web/tracking-details']"
                  >ติดตามสถานะสินค้า</a
                >
              </td>
            </tr>
            <tr>
              <td>
                <a [routerLink]="['/web/tracking-details']">Order No.</a>
              </td>
              <td>Shop</td>
              <td>DD/MM/YY</td>
              <td>20</td>
              <td>xxx Baht</td>
              <td>
                <a [routerLink]="['/web/tracking-details']"
                  >ติดตามสถานะสินค้า</a
                >
              </td>
            </tr>
            <tr>
              <td>
                <a [routerLink]="['/web/tracking-details']">Order No.</a>
              </td>
              <td>Shop</td>
              <td>DD/MM/YY</td>
              <td>100</td>
              <td>xxx Baht</td>
              <td>
                <a [routerLink]="['/web/tracking-details']"
                  >ติดตามสถานะสินค้า</a
                >
              </td>
            </tr>
            <tr>
              <td>
                <a [routerLink]="['/web/tracking-details']">Order No.</a>
              </td>
              <td>Shop</td>
              <td>DD/MM/YY</td>
              <td>15</td>
              <td>xxx Baht</td>
              <td>
                <a [routerLink]="['/web/tracking-details']"
                  >ติดตามสถานะสินค้า</a
                >
              </td>
            </tr>
            <tr>
              <td>
                <a [routerLink]="['/web/tracking-details']">Order No.</a>
              </td>
              <td>Shop</td>
              <td>DD/MM/YY</td>
              <td>88</td>
              <td>xxx Baht</td>
              <td>
                <a [routerLink]="['/web/tracking-details']"
                  >ติดตามสถานะสินค้า</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
