<div class="card">
  <div class="card-header">
    <h2 class="card-title">{{ "exchange.create_new_payment" | transloco }}</h2>
  </div>
  <div class="card-body">
    <h3>{{ "exchange.select_payment_channel" | transloco }}</h3>
    <div class="payment-container">
      <div class="payment-method-container">
        <div
          class="payment-method"
          [ngClass]="{ activePaymentMethod: paymentMethod === 'bank' }"
          (click)="onSelectPaymenyMethod('bank')"
        >
          {{ "exchange.pay_via_bank" | transloco }}
        </div>
        <div
          class="payment-method"
          [ngClass]="{ activePaymentMethod: paymentMethod === 'alipay' }"
          (click)="onSelectPaymenyMethod('alipay')"
        >
          {{ "exchange.pay_via_alipay" | transloco }}
        </div>
      </div>
      <div class="payment-details">
        <alipay-payment *ngIf="paymentMethod === 'alipay'"></alipay-payment>
        <bank-payment *ngIf="paymentMethod === 'bank'"></bank-payment>
      </div>
    </div>
  </div>
</div>
