<section id="profile">
  <div class="header pb-6 d-flex align-items-center">
    <span class="mask bg-gradient-danger opacity-8"> </span>

    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-12">
          <h1 class="display-2 text-white text-capitalize greeting">
            {{ "profile.hello" | transloco }} {{ userInfo.first_name || userInfo.username }}
          </h1>
        </div>
      </div>
    </div>
  </div>

  <section id="user-information">
    <div class="container-fluid mt--6">
      <div class="row parcel-number-mobile">
        <div class="col-xl-4">
          <div class="card bg-dark border-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase mb-0 text-white">
                    {{ "profile.parcels_at_china_warehouse" | transloco }}
                  </h5>

                  <span class="h2 font-weight-bold mb-0 text-white"> 123 </span>
                </div>
              </div>

              <p class="mt-3 mb-0 text-sm">
                <span class="text-light"> {{ "profile.click_to_view_all" | transloco }} </span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-4">
          <div class="card bg-primary border-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5
                    class="card-title text-uppercase mb-0 text-white"
                  >
                    {{ "profile.parcels_left_china_warehouse" | transloco }}
                  </h5>

                  <span class="h2 font-weight-bold mb-0 text-white"> 456 </span>
                </div>
              </div>

              <p class="mt-3 mb-0 text-sm">
                <span class="text-light"> {{ "profile.click_to_view_all" | transloco }} </span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-4">
          <div class="card bg-warning border-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase mb-0 text-white">
                    {{ "profile.parcels_at_thai_warehouse" | transloco }}
                  </h5>

                  <span class="h2 font-weight-bold mb-0 text-white"> 789 </span>
                </div>
              </div>

              <p class="mt-3 mb-0 text-sm">
                <span class="text-light"> {{ "profile.click_to_view_all" | transloco }} </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="user" class="col-xl-4 order-xl-2">
          <div class="card card-profile">
            <img
              alt="Image placeholder"
              class="card-img-top"
              src="assets/img/theme/img-1-1000x600.jpg"
            />

            <div class="card-body p-2">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats">
                    <div>
                      <span class="heading"> {{ "profile.shipping_orders_count" | transloco }} </span>

                      <span class="description text-dark"> 11 </span>
                    </div>

                    <div>
                      <span class="heading"> {{ "profile.purchase_orders_count" | transloco }} </span>

                      <span class="description text-dark"> 22 </span>
                    </div>

                    <div>
                      <span class="heading"> {{ "profile.exchange_orders_count" | transloco }} </span>

                      <span class="description text-dark"> 33 </span>
                    </div>

                    <div>
                      <span class="heading"> {{ "profile.product_orders_count" | transloco }} </span>

                      <span class="description text-dark"> 44 </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="user-form px-3">
                <form
                  action=""
                  id="user-form2"
                  [formGroup]="userForm2"
                  (ngSubmit)="handleSubmitUserForm2()"
                >
                  <div class="wrap-userForm2" formGroupName="extendeduser">
                    <div class="form-group">
                      <label for="telephone" class="form-control-label">
                        {{ "telephone" | transloco }}
                      </label>
                      <input
                        id="telephone"
                        [placeholder]="'telephone' | transloco"
                        type="text"
                        class="form-control"
                        formControlName="telephone"
                      />
                    </div>
                    <div
                      class="form-group"
                      *ngIf="this.userInfo.extendeduser.referralCode"
                    >
                      <label for="referral-code" class="form-control-label">
                        {{ "profile.referral_code_label" | transloco }}
                      </label>
                      <input
                        id="referral-code"
                        [placeholder]="'profile.agent_discount_code' | transloco"
                        type="text"
                        class="form-control"
                        [value]="this.userInfo.extendeduser?.referralCode"
                        readonly
                      />
                    </div>
                    <div class="text-right mb-2">
                      <button class="btn btn-sm btn-primary" type="submit">
                        {{ "save" | transloco }}
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="social-connect card px-3 pt-4">
            <div class="form-group">
              <label for="telephone" class="form-control-label"> Google </label>
              <span class="block"></span>
              <button
                class="btn btn-success"
                (click)="connectGoogle()"
                *ngIf="!userInfo.socials.google"
              >
                {{ "profile.connect_google" | transloco }}
              </button>
              <div class="social-info" *ngIf="userInfo.socials.google">
                <div class="wrap-user-thumbnail">
                  <img
                    src="{{ userInfo.socials.google.extra_data.picture }}"
                    class="user-thumbnail"
                  />
                </div>
                <span class="ml-1">{{
                  userInfo.socials.google.extra_data.name
                }}</span>
              </div>
            </div>
            <div class="form-group">
              <label for="telephone" class="form-control-label">
                Facebook
              </label>
              <span class="block"></span>
              <button
                class="btn btn-success"
                (click)="connectFacebook()"
                *ngIf="!userInfo.socials.facebook"
              >
                {{ "profile.connect_facebook" | transloco }}
              </button>
              <div class="social-info" *ngIf="userInfo.socials.facebook">
                <div class="wrap-user-thumbnail">
                  <img
                    src="{{
                      userInfo.socials.facebook.extra_data.picture.data.url
                    }}"
                    class="user-thumbnail"
                  />
                </div>
                <span class="ml-1">{{
                  userInfo.socials.facebook.extra_data.name
                }}</span>
              </div>
            </div>
            <div class="form-group">
              <label for="line" class="form-control-label"> LINE </label>
              <span class="block"></span>
              <button
                class="btn btn-success"
                (click)="connectLine()"
                *ngIf="!userInfo.socials.line"
              >
                {{ "profile.connect_line" | transloco }}
              </button>
              <div class="social-info" *ngIf="userInfo.socials.line">
                <div class="wrap-user-thumbnail">
                  <img
                    src="{{ userInfo.socials.line.extra_data.picture }}"
                    class="user-thumbnail"
                  />
                </div>
                <span class="ml-1">{{
                  userInfo.socials.line.extra_data.name
                }}</span>
              </div>
            </div>
          </div>
          <div class="social-connect card px-3 pt-4">
            <div class="form-group">
              <label for="line" class="form-control-label"> LINE NOTIFY</label>
              <span class="block"></span>
              <button
                class="btn btn-success"
                (click)="connectLineNotify()"
                *ngIf="!userInfo.extendeduser?.line_notify"
              >
                {{ "profile.connect_line_notify" | transloco }}
              </button>
              <button
                class="btn btn-danger"
                (click)="isDisplayConfirmRevokeLineNotify = true"
                *ngIf="userInfo.extendeduser?.line_notify"
              >
                {{ "profile.disconnect_line_notify" | transloco }}
              </button>
            </div>
          </div>
        </div>

        <div class="col-xl-8 order-xl-1">
          <div class="row parcel-number-desktop">
            <div class="col-lg-4">
              <div class="card bg-dark border-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase mb-0 text-white">
                        {{ "profile.parcels_at_china_warehouse" | transloco }}
                      </h5>

                      <span class="h2 font-weight-bold mb-0 text-white">
                        123
                      </span>
                    </div>
                  </div>

                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-light">
                      {{ "profile.click_to_view_all" | transloco }}
                    </span>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card bg-primary border-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5
                        class="card-title text-uppercase mb-0 text-white"
                      >
                        {{ "profile.parcels_left_china_warehouse" | transloco }}
                      </h5>

                      <span class="h2 font-weight-bold mb-0 text-white">
                        456
                      </span>
                    </div>
                  </div>

                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-light">
                      {{ "profile.click_to_view_all" | transloco }}
                    </span>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card bg-warning border-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase mb-0 text-white">
                        {{ "profile.parcels_at_thai_warehouse" | transloco }}
                      </h5>

                      <span class="h2 font-weight-bold mb-0 text-white">
                        789
                      </span>
                    </div>
                  </div>

                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-light">
                      {{ "profile.click_to_view_all" | transloco }}
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-12">
                  <h2 class="card-title">{{ "profile.edit_profile" | transloco }}</h2>
                </div>
              </div>
            </div>

            <div class="update-profile-modal-box col-12 mt-3">
              <div
                class="msg p-3"
                [ngClass]="isUpdateSuccess ? 'bg-success' : 'bg-danger'"
              >
                <span class="text-white">{{ modalBoxMsg || "test" }}</span>
              </div>
              <div class="close-modal-box" (click)="closeModalBox()">
                <i class="fas fa-times"></i>
              </div>
            </div>

            <div class="card-body">
              <form
                id="user-form1"
                [formGroup]="userForm1"
                (ngSubmit)="handleSubmitUserForm1()"
              >
                <h6 class="heading-small text-muted mb-4">{{ "profile.user_information" | transloco }}</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">
                          {{ "auth.username" | transloco }}
                        </label>

                        <input
                          class="form-control"
                          id="input-username"
                          [placeholder]="'auth.username' | transloco"
                          type="text"
                          [value]="userInfo ? userInfo.username : ''"
                          readonly
                        />
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-userId">
                          {{ "profile.user_id" | transloco }}
                        </label>

                        <input
                          class="form-control"
                          id="input-userId"
                          [placeholder]="'profile.user_id' | transloco"
                          type="text"
                          [value]="userInfo ? userInfo.id : ''"
                          readonly
                        />
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label
                          class="form-control-label"
                          for="input-first-name"
                        >
                          {{ "profile.first_name" | transloco }}
                        </label>

                        <input
                          class="form-control"
                          id="input-first-name"
                          [placeholder]="'profile.first_name' | transloco"
                          type="text"
                          formControlName="first_name"
                        />
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">
                          {{ "profile.last_name" | transloco }}
                        </label>

                        <input
                          class="form-control"
                          id="input-last-name"
                          [placeholder]="'profile.last_name' | transloco"
                          type="text"
                          formControlName="last_name"
                        />
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group" formGroupName="extendeduser">
                        <label class="form-control-label" for="input-birthdate">
                          {{ "profile.birthdate" | transloco }}
                        </label>
                        <div
                          class="input-group input-group-alternative input-group-birthdate"
                        >
                          <div class="input-group-prepend">
                            <span class="input-group-text"
                              ><i class="ni ni-calendar-grid-58"></i
                            ></span>
                          </div>

                          <input
                            type="string"
                            id="input-birthdate"
                            placeholder=""
                            class="form-control"
                            bsDatepicker
                            [bsValue]="bsValue"
                            [bsConfig]="{
                              isAnimated: true,
                              containerClass: 'theme-red',
                              dateInputFormat: 'YYYY-MM-DD'
                            }"
                            formControlName="birthDate"
                          />
                        </div>
                        <small class="text-danger" *ngIf="!isDateValid"
                          >{{ "profile.invalid_date_format" | transloco }}</small
                        >
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">
                          {{ "profile.email_address" | transloco }}
                        </label>

                        <input
                          class="form-control"
                          id="input-email"
                          [placeholder]="'auth.email' | transloco"
                          type="email"
                          formControlName="email"
                          readonly
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right">
                  <button class="btn btn-sm btn-primary" type="submit">
                    {{ "save" | transloco }}
                  </button>
                </div>

                <h6 class="heading-small text-muted mb-1 mt-1">
                  {{ "profile.address_information" | transloco }}
                </h6>
                <div class="text-right mb-3">
                  <button
                    class="btn btn-sm btn-primary"
                    (click)="isDisplayAddAddress = true"
                    type="button"
                  >
                    {{ "profile.add_address" | transloco }}
                  </button>
                </div>
                <div class="pl-lg-4" *ngFor="let addr of addresses">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="address text-left">
                        <div class="d-flex flex-row justify-content-between">
                          <h4>{{ addr.name }}</h4>
                          <div>
                            <a
                              role="button"
                              href="javascript:void(0)"
                              (click)="onEditAddress(addr.id)"
                              class="mr-2"
                            >
                              <i class="far fa-edit config-address"></i>
                            </a>
                            <a
                              role="button"
                              href="javascript:void(0)"
                              (click)="checkAbleToDeleteAddress(addr.id)"
                            >
                              <i class="fas fa-trash-alt config-address"></i>
                            </a>
                          </div>
                        </div>
                        <p>{{ addr.person }}</p>
                        <p>{{ addr.address }}</p>
                        <p>{{ addr.district | addressTransformer }}</p>
                        <p>{{ "phone_number" | transloco }} {{ addr.telephone }}</p>
                        <div class="mt-2">
                          <span
                            *ngIf="addr.id === shippingAddressId"
                            class="badge badge-pill badge-default mr-2"
                            >{{ "shipping_address" | transloco }}</span
                          >
                          <span
                            *ngIf="addr.id === billingAddressId"
                            class="badge badge-pill badge-primary"
                            >{{ "billing_address" | transloco }}</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="btc-modal flex-center" *ngIf="isDisplayAddAddress">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ "add_new_address" | transloco }}</h5>
          <button
            type="button"
            class="close-btn"
            data-dismiss="modal"
            [attr.aria-label]="'close' | transloco"
            (click)="isDisplayAddAddress = false"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-address-name">
                  {{ "address_name" | transloco }}
                </label>
                <input
                  class="form-control"
                  id="input-address-name"
                  [placeholder]="'address_name' | transloco"
                  type="text"
                  maxlength="50"
                  [(ngModel)]="newAddressName"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-name">
                  {{ "full_name" | transloco }}
                </label>
                <input
                  class="form-control"
                  id="input-name"
                  [placeholder]="'full_name' | transloco"
                  type="text"
                  maxlength="50"
                  [(ngModel)]="newReceiverName"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-phone-number">
                  {{ "phone_number" | transloco }}
                </label>

                <input
                  class="form-control"
                  id="input-phone-number"
                  [placeholder]="'phone_number' | transloco"
                  type="tel"
                  pattern="[0-9]*"
                  maxlength="15"
                  [(ngModel)]="newTelephone"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div
                  class="custom-control custom-checkbox custom-control-inline"
                >
                  <input
                    [(ngModel)]="isCheckAddJuristic"
                    type="checkbox"
                    id="customCheckboxAddJuristic"
                    name="customCheckboxAddJuristic"
                    class="custom-control-input"
                  />
                  <label
                    class="custom-control-label"
                    for="customCheckboxAddJuristic"
                    >{{ "juristic_person" | transloco }}</label
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-vat">
                  {{ "tax_id" | transloco }}
                </label>

                <input
                  class="form-control"
                  id="input-vat"
                  [placeholder]="'tax_id' | transloco"
                  type="text"
                  [(ngModel)]="newVat"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-address-1">
                  {{ "address_line_hint" | transloco }}
                </label>
                <input
                  class="form-control"
                  id="input-address-1"
                  [placeholder]="'address_line_hint' | transloco"
                  type="text"
                  maxlength="100"
                  [(ngModel)]="newAddressLine1"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="select-new-address">
                  {{ "address" | transloco }}
                </label>
                <select-address
                  #address2
                  [id]="'select-new-address'"
                  (addressSelected)="onNewAddressSelected($event)"
                ></select-address>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div
                  class="custom-control custom-checkbox custom-control-inline"
                >
                  <input
                    [(ngModel)]="isCheckAddShippingAddress"
                    type="checkbox"
                    id="customCheckboxAddDefaultAddress"
                    name="customCheckboxAddDefaultAddress"
                    class="custom-control-input"
                  />
                  <label
                    class="custom-control-label"
                    for="customCheckboxAddDefaultAddress"
                    >{{ "shipping_address" | transloco }}</label
                  >
                </div>
                <div
                  class="custom-control custom-checkbox custom-control-inline"
                >
                  <input
                    [(ngModel)]="isCheckAddBillingAddress"
                    type="checkbox"
                    id="customCheckboxAddRegisterAddress"
                    name="customCheckboxAddRegisterAddress"
                    class="custom-control-input"
                  />
                  <label
                    class="custom-control-label"
                    for="customCheckboxAddRegisterAddress"
                    >{{ "billing_address" | transloco }}</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            (click)="onCloseAddAddressModal()"
          >
            {{ "close" | transloco }}
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="createAddress()"
          >
            {{ "save" | transloco }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="btc-modal flex-center" *ngIf="isDisplayAddress">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ selectedAddress.name }}</h5>
          <button
            type="button"
            class="close-btn"
            data-dismiss="modal"
            [attr.aria-label]="'close' | transloco"
            (click)="isDisplayAddress = false"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-address-name">
                  {{ "address_name" | transloco }}
                </label>
                <input
                  [(ngModel)]="addressName"
                  class="form-control"
                  id="input-address-name"
                  [placeholder]="'address_name' | transloco"
                  type="text"
                  maxlength="50"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-name">
                  {{ "full_name" | transloco }}
                </label>
                <input
                  [(ngModel)]="receiverName"
                  class="form-control"
                  id="input-name"
                  [placeholder]="'full_name' | transloco"
                  type="text"
                  maxlength="50"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-phone-number">
                  {{ "phone_number" | transloco }}
                </label>

                <input
                  [(ngModel)]="telephone"
                  class="form-control"
                  id="input-phone-number"
                  [placeholder]="'phone_number' | transloco"
                  type="tel"
                  pattern="[0-9]*"
                  maxlength="15"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div
                  class="custom-control custom-checkbox custom-control-inline"
                >
                  <input
                    [(ngModel)]="isCheckJuristic"
                    type="checkbox"
                    id="customCheckboxJuristic"
                    name="customCheckboxJuristic"
                    class="custom-control-input"
                  />
                  <label
                    class="custom-control-label"
                    for="customCheckboxJuristic"
                    >{{ "juristic_person" | transloco }}</label
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-vat">
                  {{ "tax_id" | transloco }}
                </label>

                <input
                  [(ngModel)]="vat"
                  class="form-control"
                  id="input-vat"
                  [placeholder]="'tax_id' | transloco"
                  type="text"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-address-1">
                  {{ "address_line_hint" | transloco }}
                </label>
                <input
                  [(ngModel)]="addressLine1"
                  class="form-control"
                  id="input-address-1"
                  [placeholder]="'address_line_hint' | transloco"
                  type="text"
                  maxlength="100"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="select-address-1">
                  {{ "address" | transloco }}
                </label>
                <select-address
                  #address2
                  [id]="'select-address-1'"
                  [address]="addressLine2"
                  (addressSelected)="onUpdateAddressSelected($event)"
                ></select-address>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div
                  class="custom-control custom-checkbox custom-control-inline"
                >
                  <input
                    [(ngModel)]="isCheckShippingAddress"
                    type="checkbox"
                    id="customCheckboxDefaultAddress-1"
                    name="customCheckboxDefaultAddress-1"
                    class="custom-control-input"
                  />
                  <label
                    class="custom-control-label"
                    for="customCheckboxDefaultAddress-1"
                    >{{ "shipping_address" | transloco }}</label
                  >
                </div>
                <div
                  class="custom-control custom-checkbox custom-control-inline"
                >
                  <input
                    [(ngModel)]="isCheckBillingAddress"
                    type="checkbox"
                    id="customCheckboxRegisterAddress-1"
                    name="customCheckboxRegisterAddress-1"
                    class="custom-control-input"
                  />
                  <label
                    class="custom-control-label"
                    for="customCheckboxRegisterAddress-1"
                    >{{ "billing_address" | transloco }}</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            (click)="isDisplayAddress = false"
          >
            {{ "close" | transloco }}
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="updateAddress()"
          >
            {{ "save" | transloco }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="btc-modal flex-center" *ngIf="isDisplayConfirmDeleteAddress">
    <div class="modal-dialog confirm-delete-modal-dialog">
      <div class="modal-content confirm-delete-modal-content">
        <div class="modal-header"></div>
        <div class="modal-body text-center">
          <h3>{{ "profile.confirm_delete_address" | transloco: { name: targetDeleteAddressName } }}</h3>
        </div>
        <div class="modal-footer justify-content-center">
          <button
            type="button"
            class="btn btn-danger"
            (click)="isDisplayConfirmDeleteAddress = false"
          >
            {{ "close" | transloco }}
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="deleteAddress()"
          >
            {{ "confirm" | transloco }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="btc-modal flex-center" *ngIf="isDisplayFailDeleteAddress">
    <div class="modal-dialog confirm-delete-modal-dialog">
      <div class="modal-content fail-delete-modal-content">
        <div class="modal-header"></div>
        <div class="modal-body text-center">
          <h2>{{ "profile.cannot_delete_address" | transloco: { name: targetDeleteAddressName } }}</h2>
          <h4>
            {{ "profile.address_in_use" | transloco: { name: targetDeleteAddressName } }}
          </h4>
          <p>
            {{ "profile.choose_other_address_first" | transloco }}
          </p>
        </div>
        <div class="modal-footer justify-content-center">
          <button
            type="button"
            class="btn btn-danger"
            (click)="isDisplayFailDeleteAddress = false"
          >
            {{ "close" | transloco }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="btc-modal flex-center" *ngIf="isDisplayConfirmRevokeLineNotify">
    <div class="modal-dialog confirm-delete-modal-dialog">
      <div
        class="modal-content confirm-delete-modal-content"
        style="overflow-y: hidden"
      >
        <div class="modal-header"></div>
        <div class="modal-body text-center">
          <h3>{{ "profile.confirm_disconnect_line_notify" | transloco }}</h3>
        </div>
        <div class="modal-footer justify-content-center">
          <button
            type="button"
            class="btn btn-danger"
            (click)="isDisplayConfirmRevokeLineNotify = false"
          >
            {{ "close" | transloco }}
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="disconnectLineNotify()"
          >
            {{ "confirm" | transloco }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
