<section id="invoice">
    <div class="container">
        <h3>BTC Cargo สามารถออกใบเสร็จหรือใบกำกับภาษีได้หรือไม่</h3>
        <p>บริษัทสามารถออกใบเสร็จค่าขนส่งพัสดุได้ค่ะ แต่การออกบิลขายสินค้าหรือใบกำกับภาษี (Vat) ของเรา จะมีเงื่อนไขเล็กน้อย ดังนี้</p>
        <ol>
            <li>ต้องแยกส่งไปโกดังที่รับออกบิลขายสินค้าเท่านั้น ซึ่งจะเป็นคนละโกดังกับข้อมูลที่อยู่ในระบบของเรา</li>
            <li>ต้องฝากเราจ่ายเงินหยวนเท่านั้น โดยการจ่ายค่าสินค้า เราจะออกเป็นบิลมัดจำไว้ก่อน เพื่อให้ลูกค้าชำระค่าสินค้าเข้ามาก่อนค่ะ<br />
                เมื่อพัสดุมาถึงไทย เราจึงจะนำค่าสินค้ามาเฉลี่ยกับค่าขนส่งให้และหักลบกับมัดจำที่ลูกค้าจ่ายมาในครั้งแรก
            </li>
            <li>ลูกค้าจะต้องแจ้งรายละเอียดว่าแต่ละเลขพัสดุคือสินค้าอะไร ราคาหยวนเท่าไหร่ และมีจำนวนเท่าไหร่
            เราจะออกบิลให้ละเอียดตามที่ลูกค้าแจ้งมาค่ะ</li>
            <li>* ลูกค้าจะไม่สามารถเช็คสถานะพัสดุผ่านระบบได้ *<br />
            เนื่องจาก ถ้ามีข้อมูลในระบบเรา กลัวว่าจะมองเป็นการขนส่งค่ะ ดังนั้น เราจึงไม่สามารถให้ลูกค้าเช็คสถานะพัสดุได้ค่ะ</li>
            <li>การออกใบกำกับภาษีไม่มีค่าใช้จ่ายใดๆ และลูกค้าเป็นผู้ชำระภาษี (Vat) 7%</li>
        </ol>
        <p>การออกบิลขายสินค้าของบริษัทเราค่อนข้างละเอียดมากค่ะ ดังนั้น อาจจะมีความยุ่งยากเล็กน้อย
        แต่ทั้งหมดเพื่อความเรียบร้อยของงานบัญชีและการบริการค่ะ</p>
    </div>
</section>