<section id="invoice">
    <div class="container">
        <h3>{{ "faq.invoice_title" | transloco }}</h3>
        <p>{{ "faq.invoice_intro" | transloco }}</p>
        <ol>
            <li>{{ "faq.invoice_cond_1" | transloco }}</li>
            <li>{{ "faq.invoice_cond_2a" | transloco }}<br />
                {{ "faq.invoice_cond_2b" | transloco }}
            </li>
            <li>{{ "faq.invoice_cond_3" | transloco }}</li>
            <li>{{ "faq.invoice_cond_4a" | transloco }}<br />
            {{ "faq.invoice_cond_4b" | transloco }}</li>
            <li>{{ "faq.invoice_cond_5" | transloco }}</li>
        </ol>
        <p>{{ "faq.invoice_outro" | transloco }}</p>
    </div>
</section>