<section id="order-detail">
  <div class="inner bg-white">
    <div class="order-detail-header row">
      <div class="col-2 th">
        <span>ออเดอร์</span>
      </div>
      <div class="col-2 th">
        <span>ส่งออเดอร์</span>
      </div>
      <div class="col-3 th">
        <span>สถานะ</span>
      </div>
    </div>
    <div class="order-detail-items">
      <div class="item row">
        <div class="col-2 td td-order-number">
          <span>256466</span>
        </div>
        <div class="col-2 td td-date">
          <span>2022-05-30 13:01</span>
        </div>
        <div class="col-3 td td-status">
          <span>รอตรวจสอบ</span>
        </div>
        <div class="col-2 td td-details">
          <button class="btn btn-primary">รายละเอียด</button>
        </div>
      </div>

      <div class="item row">
        <div class="col-2 td td-order-number">
          <span>299422</span>
        </div>
        <div class="col-2 td td-date">
          <span>2022-05-16 01:44</span>
        </div>
        <div class="col-3 td td-status">
          <span>ตรวจสอบแล้ว รอชำระเงิน</span>
        </div>
        <div class="col-2 td td-details">
          <button class="btn btn-primary">รายละเอียด</button>
        </div>
      </div>

      <div class="item row">
        <div class="col-2 td td-order-number">
          <span>235222</span>
        </div>
        <div class="col-2 td td-date">
          <span>2022-02-17 23:02</span>
        </div>
        <div class="col-3 td td-status">
          <span>ปิดการสั่งซื้อ</span>
        </div>
        <div class="col-2 td td-details">
          <button class="btn btn-primary">รายละเอียด</button>
        </div>
      </div>

      <div class="item row">
        <div class="col-2 td td-order-number">
          <span>238456</span>
        </div>
        <div class="col-2 td td-date">
          <span>2022-03-15 21:01</span>
        </div>
        <div class="col-3 td td-status">
          <span>ยกเลิก</span>
        </div>
        <div class="col-2 td td-details">
          <button class="btn btn-primary">รายละเอียด</button>
        </div>
      </div>

      <div class="item row">
        <div class="col-2 td td-order-number">
          <span>235222</span>
        </div>
        <div class="col-2 td td-date">
          <span>2022-02-17 15:33</span>
        </div>
        <div class="col-3 td td-status">
          <span>ปิดการสั่งซื้อ</span>
        </div>
        <div class="col-2 td td-details">
          <button class="btn btn-primary">รายละเอียด</button>
        </div>
      </div>
    </div>
  </div>
</section>
