<section id="conditions">
    <div class="container">
        <div class="conditions-section1">
            <h3>{{ "faq.conditions_title" | transloco }}</h3>
            <p>{{ "faq.conditions_intro" | transloco }}</p>
        </div>
        <div class="conditions-section2">
            <h4>{{ "faq.conditions_ordering_title" | transloco }}</h4>
            <ol>
                <li>{{ "faq.conditions_ordering_1" | transloco }}
                </li>
                <li>{{ "faq.conditions_ordering_2" | transloco }}
                </li>
                <li>{{ "faq.conditions_ordering_3" | transloco }}
                </li>
            </ol>
        </div>
        <div class="conditions-section3">
            <h4>{{ "faq.conditions_shipping_title" | transloco }}</h4>
            <ol>
                <li>{{ "faq.conditions_shipping_1" | transloco }}
                </li>
                <li>{{ "faq.conditions_prohibited" | transloco }}
                </li>
                <li>{{ "faq.conditions_shipping_2" | transloco }}
                </li>
                <li>{{ "faq.conditions_shipping_3" | transloco }}</li>
                <li>{{ "faq.conditions_shipping_4" | transloco }}
                </li>
                <li>{{ "faq.conditions_shipping_5" | transloco }}
                </li>
                <li>{{ "faq.conditions_shipping_6" | transloco }}
                </li>
                <li>{{ "faq.conditions_shipping_7" | transloco }}
                </li>
                <li>{{ "faq.conditions_shipping_8" | transloco }}
                </li>
                <li>{{ "faq.conditions_shipping_9" | transloco }}
                </li>
                <li>{{ "faq.how_to_calculate_title" | transloco }}
                </li>
            </ol>
        </div>
        <div class="conditions-section4">
            <div>
                <span class="font-weight-bold text-dark">{{ "faq.calc_two_ways" | transloco }}</span> {{ "faq.calc_by_size_and_weight" | transloco }}
            </div>

            <div>
                <u>{{ "faq.calc_method" | transloco }}</u>
            </div>

            <ol>
                <li>
                    {{ "faq.calc_step1_title" | transloco }}<br />
                    {{ "faq.calc_step1_desc" | transloco }}
                </li>
                <li>{{ "faq.calc_step2" | transloco }}<br />
                    {{ "faq.calc_step2_note" | transloco }}</li>
                <li>{{ "faq.calc_step3" | transloco }}</li>
                <li>
                    {{ "faq.calc_step4" | transloco }}
                    <ul>
                        <li>{{ "faq.calc_if_actual_weight" | transloco }} <u>{{ "faq.greater_than" | transloco }}</u> {{ "faq.calc_heavy_full" | transloco }}</li>
                        <li>{{ "faq.calc_actual_weight" | transloco }} <u>{{ "faq.less_than" | transloco }}</u> {{ "faq.calc_light_full" | transloco }}</li>
                    </ul>
                </li>
            </ol>
        </div>
        <div class="conditions-section5">
            <p>{{ "faq.conditions_force_majeure" | transloco }}</p>
            <p>{{ "faq.conditions_declare_type_1" | transloco }}</p>
            <p>{{ "faq.conditions_declare_type_2" | transloco }}</p>
            <p>{{ "faq.conditions_declare_type_3" | transloco }}</p>
        </div>
    </div>
</section>