<section id="order-detail-consignment">
  <div class="inner bg-white">
    <div class="order-detail-consignment-header row">
      <div class="col-2 th">
        <span>{{ "shop.order" | transloco }}</span>
      </div>
      <div class="col-2 th">
        <span>{{ "shop.submit_order" | transloco }}</span>
      </div>
      <div class="col-3 th">
        <span>{{ "status" | transloco }}</span>
      </div>
    </div>
    <div class="order-detail-consignment-items">
      <div class="item row">
        <div class="col-2 td td-order-number">
          <span>256466</span>
        </div>
        <div class="col-2 td td-date">
          <span>2022-05-30 13:01</span>
        </div>
        <div class="col-3 td td-status">
          <span>{{ "shop.status_pending_review" | transloco }}</span>
        </div>
        <div class="col-2 td td-details">
          <button class="btn btn-primary">{{ "details" | transloco }}</button>
        </div>
      </div>

      <div class="item row">
        <div class="col-2 td td-order-number">
          <span>299422</span>
        </div>
        <div class="col-2 td td-date">
          <span>2022-05-16 01:44</span>
        </div>
        <div class="col-3 td td-status">
          <span>{{ "shop.status_reviewed_awaiting_payment" | transloco }}</span>
        </div>
        <div class="col-2 td td-details">
          <button class="btn btn-primary">{{ "details" | transloco }}</button>
        </div>
      </div>

      <div class="item row">
        <div class="col-2 td td-order-number">
          <span>235222</span>
        </div>
        <div class="col-2 td td-date">
          <span>2022-02-17 23:02</span>
        </div>
        <div class="col-3 td td-status">
          <span>{{ "shop.status_order_closed" | transloco }}</span>
        </div>
        <div class="col-2 td td-details">
          <button class="btn btn-primary">{{ "details" | transloco }}</button>
        </div>
      </div>

      <div class="item row">
        <div class="col-2 td td-order-number">
          <span>238456</span>
        </div>
        <div class="col-2 td td-date">
          <span>2022-03-15 21:01</span>
        </div>
        <div class="col-3 td td-status">
          <span>{{ "shop.status_cancelled" | transloco }}</span>
        </div>
        <div class="col-2 td td-details">
          <button class="btn btn-primary">{{ "details" | transloco }}</button>
        </div>
      </div>

      <div class="item row">
        <div class="col-2 td td-order-number">
          <span>235222</span>
        </div>
        <div class="col-2 td td-date">
          <span>2022-02-17 15:33</span>
        </div>
        <div class="col-3 td td-status">
          <span>{{ "shop.status_order_closed" | transloco }}</span>
        </div>
        <div class="col-2 td td-details">
          <button class="btn btn-primary">{{ "details" | transloco }}</button>
        </div>
      </div>
    </div>
  </div>
</section>
