<section id="delivery">
    <div class="container">
        <h3>{{ "faq.delivery_title" | transloco }}</h3>
        <p class="mb-3">{{ "faq.delivery_actual_cost" | transloco }}</p>
        <ol>
            <li class="mb-3">
                J&amp;T
                <ul>
                    <li>{{ "overview.jt_box_limit" | transloco }}</li>
                    <li>{{ "overview.jt_size_limit" | transloco }}</li>
                    <li>{{ "overview.admin_checks_after_order" | transloco }}</li>
                    <li>{{ "overview.cutoff_time" | transloco }}</li>
                    <li>{{ "overview.dispatch_queue" | transloco }}</li>
                </ul>
            </li>
            <li class="mb-3">
                {{ "faq.self_pickup" | transloco }}
                <ul>
                    <li>{{ "overview.self_pickup_hours" | transloco }}
                    </li>
                </ul>
            </li>
            <li class="mb-3">
                {{ "faq.provincial_carrier" | transloco }}
                <ul>
                    <li>{{ "faq.provincial_fee" | transloco }}</li>
                    <li>{{ "faq.provincial_pay_on_delivery" | transloco }}</li>
                    <li>{{ "faq.provincial_admin_helps" | transloco }}</li>
                    <li>{{ "overview.cutoff_time" | transloco }}</li>
                    <li>{{ "faq.provincial_dispatch_queue" | transloco }}</li>
                </ul>
            </li>
            <li class="mb-3">
                {{ "faq.company_truck" | transloco }}
                <ul>
                    <li>{{ "overview.truck_free_over_5000" | transloco }}</li>
                    <li>{{ "overview.truck_under_5000" | transloco }}</li>
                    <li>{{ "faq.truck_large_parcels" | transloco }}</li>
                    <li>{{ "overview.company_truck_schedule" | transloco }}</li>
                </ul>
            </li>
            <li class="mb-3">
                {{ "faq.post" | transloco }}
                <ul>
                    <li>{{ "overview.post_box_limit" | transloco }}</li>
                    <li>{{ "overview.post_registered_limit" | transloco }}</li>
                    <li>{{ "overview.post_ems_limit" | transloco }}</li>
                    <li>{{ "overview.cutoff_time" | transloco }}</li>
                    <li>{{ "overview.dispatch_queue" | transloco }}</li>
                </ul>
            </li>
        </ol>
    </div>
</section>