<section id="transport-payment-detail">
  <div class="card container-card">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h2 class="card-title">สินค้ารอชำระค่าขนส่ง</h2>
      <a class="btn btn-primary text-white" href="javascript:void(0)"
        >+ สร้างรายการชำระเงิน</a
      >
    </div>
    <div class="card-body">
      <div class="card-header bg-white">
        <h2 class="card-title text-dark">รายการพัสดุ</h2>
      </div>
      <ng-container *ngIf="items && items.lot">
        <div class="wrapper-table overflow-x-auto">
          <table class="table align-items-center">
            <thead class="thead-light">
              <tr>
                <th>
                  <input type="checkbox" (click)="checkAllBox($event.target)" />
                </th>
                <th>เลขพัสดุ</th>
                <th>น้ำหนัก</th>
                <th>กว้าง</th>
                <th>ยาว</th>
                <th>สูง</th>
                <th>ปริมาตร</th>
                <th>ค่าขนส่ง</th>
                <!-- <th>คิดตาม</th>
              <th>หน่วยละ</th> -->
              </tr>
            </thead>
            <tbody>
              <tr class="item">
                <td class="td-checkbox">
                  <input type="checkbox" [(ngModel)]="items.is_checked" />
                </td>
                <td>
                  <div>
                    <p>เลขตู้ {{ items.lot.serial_number }}</p>
                    <p>
                      เลขพัสดุ
                      <span class="text-primary bold">{{
                        items.lot.shopping_serial
                      }}</span>
                    </p>
                    <p>จำนวนพัสดุ {{ items.lot.quantity }} ชิ้น</p>
                  </div>
                </td>
                <td>
                  <div>
                    <p>
                      น้ำหนัก
                      {{ items.lot.weight }}
                      กก.
                    </p>
                    <p>
                      น้ำหนักรวม
                      {{ items.lot.total_weight }}
                      กก.
                    </p>
                  </div>
                </td>
                <td>
                  <p>กว้าง {{ items.lot.width }} ซม.</p>
                </td>
                <td>
                  <p>ยาว {{ items.lot.depth }} ซม.</p>
                </td>
                <td>
                  <p>สูง {{ items.lot.height }} ซม.</p>
                </td>
                <td>
                  <div class="space-3-columns">
                    <p>
                      <span>ปริมาตร</span>
                      <span>{{ items.lot.volume }}</span>
                      <span>ลบ.ม.</span>
                    </p>
                    <p>
                      <span>ปริมาตรรวม</span>
                      <span> {{ items.lot.total_volume }} </span>
                      <span>ลบ.ม.</span>
                    </p>
                  </div>
                </td>
                <td>
                  <div class="space-3-columns">
                    <p>
                      <span>ค่าขนส่ง</span>
                      <span class="text-danger">
                        {{ items.lot.delivery_cost }}
                      </span>
                      <span>บาท</span>
                    </p>
                    <p>
                      <span>ค่าใช้จ่ายอื่นๆ</span>
                      <span class="text-danger"> {{ items.lot.other_cost }} </span>
                      <span>บาท</span>
                    </p>

                    <p>
                      <span>ค่าจัดเก็บพัสดุ</span>
                      <span> {{ items.lot.storage_cost }} </span>
                      <span>บาท</span>
                    </p>
                    <p>
                      <span>รวม</span>
                      <span> {{ items.lot.total_cost }} </span>
                      <span>บาท</span>
                    </p>
                  </div>
                </td>
                <!-- <td>น้ำหนัก</td>
                <td>25</td> -->
              </tr>
            </tbody>
            <thead class="t-footer">
              <tr>
                <th colspan="2">
                  รวมจำนวนพัสดุ {{ renderText(items.lot?.quantity) }} ชิ้น
                </th>
                <th>
                  น้ำหนักรวม
                  {{ renderText(items.lot?.total_weight).toFixed(2) }} กก.
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                  ปริมาตรรวม
                  {{ renderText(items.lot?.total_volume) }} ลบ.ม.
                </th>
                <th class="total-cost">
                  <div>
                    <p>
                      ค่าขนส่ง
                      {{ renderText(items.lot?.delivery_cost) }} บาท
                    </p>
                    <p>
                      ค่าใช้จ่ายอื่นๆ
                      {{ renderText(items.lot?.other_cost) }} บาท
                    </p>
                    <p>
                      ค่าจัดเก็บพัสดุ
                      {{ renderText(items.lot?.storage_cost) }} บาท
                    </p>
                  </div>
                </th>
                <!-- <th></th>
              <th></th> -->
              </tr>
            </thead>
          </table>
        </div>
      </ng-container>
    </div>
  </div>
</section>
