<section id="transport-payment-detail">
  <div class="card container-card">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h2 class="card-title">{{ "payment.pending_shipping_payment" | transloco }}</h2>
      <a class="btn btn-primary text-white" href="javascript:void(0)"
        >{{ "payment.create_payment_order" | transloco }}</a
      >
    </div>
    <div class="card-body">
      <div class="card-header bg-white">
        <h2 class="card-title text-dark">{{ "parcel_list" | transloco }}</h2>
      </div>
      <ng-container *ngIf="items && items.lot">
        <div class="wrapper-table overflow-x-auto">
          <table class="table align-items-center">
            <thead class="thead-light">
              <tr>
                <th>
                  <input type="checkbox" (click)="checkAllBox($event.target)" />
                </th>
                <th>{{ "tracking_number" | transloco }}</th>
                <th>{{ "weight" | transloco }}</th>
                <th>{{ "width" | transloco }}</th>
                <th>{{ "length" | transloco }}</th>
                <th>{{ "height" | transloco }}</th>
                <th>{{ "volume" | transloco }}</th>
                <th>{{ "shipping_fee" | transloco }}</th>
                <!-- <th>คิดตาม</th>
              <th>หน่วยละ</th> -->
              </tr>
            </thead>
            <tbody>
              <tr class="item">
                <td class="td-checkbox">
                  <input type="checkbox" [(ngModel)]="items.is_checked" />
                </td>
                <td>
                  <div>
                    <p>{{ "container_no" | transloco }} {{ items.lot.serial_number }}</p>
                    <p>
                      {{ "tracking_number" | transloco }}
                      <span class="text-primary bold">{{
                        items.lot.shopping_serial
                      }}</span>
                    </p>
                    <p>{{ "parcel_quantity" | transloco }} {{ items.lot.quantity }} {{ "pieces" | transloco }}</p>
                  </div>
                </td>
                <td>
                  <div>
                    <p>
                      {{ "weight" | transloco }} {{ items.lot.weight }} {{ "kg" | transloco }}
                    </p>
                    <p>
                      {{ "total_weight" | transloco }} {{ items.lot.total_weight }} {{ "kg" | transloco }}
                    </p>
                  </div>
                </td>
                <td>
                  <p>{{ "width" | transloco }} {{ items.lot.width }} {{ "cm" | transloco }}</p>
                </td>
                <td>
                  <p>{{ "length" | transloco }} {{ items.lot.depth }} {{ "cm" | transloco }}</p>
                </td>
                <td>
                  <p>{{ "height" | transloco }} {{ items.lot.height }} {{ "cm" | transloco }}</p>
                </td>
                <td>
                  <div class="space-3-columns">
                    <p>
                      <span>{{ "volume" | transloco }}</span>
                      <span>{{ items.lot.volume }}</span>
                      <span>{{ "m3" | transloco }}</span>
                    </p>
                    <p>
                      <span>{{ "total_volume" | transloco }}</span>
                      <span> {{ items.lot.total_volume }} </span>
                      <span>{{ "m3" | transloco }}</span>
                    </p>
                  </div>
                </td>
                <td>
                  <div class="space-3-columns">
                    <p>
                      <span>{{ "shipping_fee" | transloco }}</span>
                      <span class="text-danger">
                        {{ items.lot.delivery_cost }}
                      </span>
                      <span>{{ "baht" | transloco }}</span>
                    </p>
                    <p>
                      <span>{{ "other_fees" | transloco }}</span>
                      <span class="text-danger"> {{ items.lot.other_cost }} </span>
                      <span>{{ "baht" | transloco }}</span>
                    </p>

                    <p>
                      <span>{{ "storage_fee" | transloco }}</span>
                      <span> {{ items.lot.storage_cost }} </span>
                      <span>{{ "baht" | transloco }}</span>
                    </p>
                    <p>
                      <span>{{ "total" | transloco }}</span>
                      <span> {{ items.lot.total_cost }} </span>
                      <span>{{ "baht" | transloco }}</span>
                    </p>
                  </div>
                </td>
                <!-- <td>น้ำหนัก</td>
                <td>25</td> -->
              </tr>
            </tbody>
            <thead class="t-footer">
              <tr>
                <th colspan="2">
                  {{ "payment.total_parcel_quantity" | transloco }} {{ renderText(items.lot?.quantity) }} {{ "pieces" | transloco }}
                </th>
                <th>
                  {{ "total_weight" | transloco }} {{ renderText(items.lot?.total_weight).toFixed(2) }} {{ "kg" | transloco }}
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                  {{ "total_volume" | transloco }} {{ renderText(items.lot?.total_volume) }} {{ "m3" | transloco }}
                </th>
                <th class="total-cost">
                  <div>
                    <p>
                      {{ "shipping_fee" | transloco }} {{ renderText(items.lot?.delivery_cost) }} {{ "baht" | transloco }}
                    </p>
                    <p>
                      {{ "other_fees" | transloco }} {{ renderText(items.lot?.other_cost) }} {{ "baht" | transloco }}
                    </p>
                    <p>
                      {{ "storage_fee" | transloco }} {{ renderText(items.lot?.storage_cost) }} {{ "baht" | transloco }}
                    </p>
                  </div>
                </th>
                <!-- <th></th>
              <th></th> -->
              </tr>
            </thead>
          </table>
        </div>
      </ng-container>
    </div>
  </div>
</section>
