<section id="overview" class="section">
  <div class="container-fluid overview-container">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{ "overview.domestic_title" | transloco }}</h5>
      </div>
      <div class="card-body">
        <h4 class="sub-title">{{ "overview.domestic_title" | transloco }}</h4>
        <small class="text-danger"
          >{{ "overview.domestic_free_storage_note" | transloco }}</small
        >
        <table style="width: 100%; text-align: center">
          <thead>
            <tr>
              <th class="float-left" style="width: 40%">{{ "overview.carrier" | transloco }}</th>
              <th style="width: 20%">{{ "overview.delivery_cost" | transloco }}</th>
              <th style="width: 20%">{{ "overview.delivery_service_fee" | transloco }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-left">
                J&amp;T :
                <br />
                <small>
                  <ul>
                    <li>
                      {{ "overview.jt_box_limit" | transloco }}
                    </li>
                    <li>
                      {{ "overview.jt_size_limit" | transloco }}
                    </li>
                    <li>
                      {{ "overview.admin_checks_after_order" | transloco }}
                    </li>
                    <li>{{ "overview.cutoff_time" | transloco }}</li>
                    <li>
                      {{ "overview.dispatch_queue" | transloco }}
                    </li>
                    <li>
                      {{ "overview.company_truck_schedule" | transloco }}
                    </li>
                  </ul>
                </small>
              </td>
              <td>{{ "overview.actual_delivery_cost" | transloco }}</td>
              <td>0</td>
            </tr>
            <tr>
              <td class="text-left">
                {{ "overview.self_pickup_label" | transloco }}
                <br />
                <small>
                  <ul>
                    <li>
                      {{ "overview.self_pickup_hours" | transloco }}
                    </li>
                  </ul>
                </small>
              </td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td class="text-left">
                {{ "overview.provincial_carrier_label" | transloco }}
                <br />
                <small>
                  <ul>
                    <li>
                      {{ "overview.provincial_service_fee" | transloco }}
                    </li>
                    <li>
                      {{ "overview.provincial_pay_on_delivery" | transloco }}
                    </li>
                    <li>
                      {{ "overview.provincial_company_helps" | transloco }}
                    </li>
                    <li>{{ "overview.cutoff_time" | transloco }}</li>
                    <li>
                      {{ "overview.provincial_dispatch_queue" | transloco }}
                    </li>
                  </ul>
                </small>
              </td>
              <td>{{ "overview.actual_delivery_cost" | transloco }}</td>
              <td>100</td>
            </tr>
            <tr>
              <td class="text-left">
                {{ "overview.company_truck_label" | transloco }}
                <br />
                <small>
                  <ul>
                    <li>
                      {{ "overview.truck_free_over_5000" | transloco }}
                    </li>
                    <li>
                      {{ "overview.truck_under_5000" | transloco }}
                    </li>
                    <li>
                      {{ "overview.truck_large_parcels_1" | transloco }}
                      <br />{{ "overview.truck_large_parcels_2" | transloco }}
                    </li>
                    <li>
                      {{ "overview.company_truck_schedule" | transloco }}
                    </li>
                  </ul>
                </small>
              </td>
              <td>{{ "overview.fee_0_400" | transloco }}</td>
              <td>0</td>
            </tr>
            <tr>
              <td class="text-left">
                {{ "overview.post_label" | transloco }}
                <br />
                <small>
                  <ul>
                    <li>
                      {{ "overview.post_box_limit" | transloco }}
                    </li>
                    <li>{{ "overview.post_registered_limit" | transloco }}</li>
                    <li>{{ "overview.post_ems_limit" | transloco }}</li>
                    <li>
                      {{ "overview.post_suitable" | transloco }}
                    </li>
                    <li>{{ "overview.cutoff_time" | transloco }}</li>
                    <li>
                      {{ "overview.dispatch_queue" | transloco }}
                    </li>
                  </ul>
                </small>
              </td>
              <td>{{ "overview.actual_delivery_cost" | transloco }}</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
