<section id="overview" class="section">
  <div class="container-fluid overview-container">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{ "overview.intl_rate_title" | transloco }}</h5>
      </div>
      <div class="card-body">
        <h4 class="sub-title">{{ "overview.intl_rate_title" | transloco }}</h4>
        <small class="text-danger"
          >{{ "overview.intl_study_criteria" | transloco }}
          <a routerLink="/faq/goods-type">{{ "overview.here" | transloco }}</a>
          {{ "overview.intl_ask_before_order" | transloco }}</small
        >
        <div class="table-container">
          <table class="table table-sm table-borderless">
            <thead class="text-center">
              <tr>
                <th>{{ "goods_type" | transloco }}</th>
                <th>{{ "overview.description" | transloco }}</th>
                <th>{{ "overview.rate_by_weight" | transloco }}</th>
                <th>{{ "overview.rate_by_volume" | transloco }}</th>
                <th>{{ "overview.import_lead_time" | transloco }}</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td>P</td>
                <td>{{ "goods_general_truck" | transloco }}</td>
                <td>25</td>
                <td>6200</td>
                <td>{{ "overview.days_5_15" | transloco }}</td>
              </tr>
              <tr>
                <td>D</td>
                <td>{{ "goods_tis_truck" | transloco }}</td>
                <td id="rateW-d">40</td>
                <td id="rateQ-d">7200</td>
                <td>{{ "overview.days_5_15" | transloco }}</td>
              </tr>
              <tr>
                <td>HY</td>
                <td>{{ "overview.goods_fda" | transloco }}</td>
                <td>70</td>
                <td>10500</td>
                <td>{{ "overview.from_2_weeks" | transloco }}</td>
              </tr>
              <tr>
                <td>M</td>
                <td>{{ "overview.goods_brand_min" | transloco }}</td>
                <td>180</td>
                <td>18000</td>
                <td>{{ "overview.from_2_weeks" | transloco }}</td>
              </tr>
              <tr>
                <td>SP</td>
                <td>{{ "goods_general_ship" | transloco }}</td>
                <td id="rateW-p">20</td>
                <td id="rateQ-p">4000</td>
                <td>{{ "overview.from_2_weeks" | transloco }}</td>
              </tr>
              <tr>
                <td>SD</td>
                <td>{{ "goods_tis_ship" | transloco }}</td>
                <td id="rateW-d">35</td>
                <td id="rateQ-d">6000</td>
                <td>{{ "overview.from_2_weeks" | transloco }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <span class="remark-title">{{ "overview.note_label" | transloco }} </span>
        <div [innerHTML]="remarkHTML"></div>
      </div>
    </div>
  </div>
</section>
