<section id="bills">
  <div class="card container-card">
    <div class="card-header">
      <h2 class="card-title">{{ "payment.all_bills_title" | transloco }}</h2>
    </div>
    <div class="card-body" *ngIf="bills.length === 0">
      <h3 class="text-center p-3">{{ "payment.no_bills" | transloco }}</h3>
    </div>
    <div class="card-body" *ngIf="bills.length > 0">
      <div class="wrapper-table overflow-x-auto">
        <table class="table align-items-center">
          <thead class="thead-light">
            <tr>
              <th>{{ "payment.bill_type" | transloco }}</th>
              <th>{{ "payment.bill_number" | transloco }}</th>
              <th>{{ "payment.bill_created_date" | transloco }}</th>
              <th>{{ "item_quantity" | transloco }}</th>
              <th>{{ "amount_due" | transloco }}</th>
              <th>{{ "status" | transloco }}</th>
              <th>{{ "view_details" | transloco }}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="item" *ngFor="let bill of bills">
              <td>{{ bill.service_type }}</td>
              <td>
                {{ bill.name }}
              </td>
              <td>{{ getNewFormatDate(bill.create_date) }}</td>
              <td>{{ bill.quantity_with_symbol }}</td>
              <td>{{ bill.thai_amount_with_symbol }}</td>
              <td>
                <span>{{ bill.state }}</span>
                <span class="block"></span>
                <a
                  [routerLink]="['/web/payment-notice/', bill.id]"
                  *ngIf="bill.state === 'wait'"
                >
                  {{ "payment.report_payment" | transloco }}
                </a>
              </td>
              <td>
                <span> {{ "view_details" | transloco }} </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-end mt-4">
        <ul class="pagination">
          <li
            class="page-item"
            [ngClass]="{
              disabled: pagination && pagination.page === pagination.startPage
            }"
          >
            <a
              class="page-link"
              (click)="handleChangePage(pagination.page - 1)"
            >
              <i class="fa fa-angle-left"></i>
              <span class="sr-only">{{ "paginator.previous" | transloco }}</span>
            </a>
          </li>
          <li
            *ngFor="let pageNumber of pageNumbers"
            class="page-item"
            [ngClass]="{ active: pagination && pagination.page === pageNumber }"
          >
            <a class="page-link" (click)="handleChangePage(pageNumber)">{{
              pageNumber
            }}</a>
          </li>
          <li
            class="page-item"
            [ngClass]="{
              disabled: pagination && pagination.page === pagination.endPage
            }"
          >
            <a
              class="page-link"
              (click)="handleChangePage(pagination.page + 1)"
            >
              <i class="fa fa-angle-right"></i>
              <span class="sr-only">{{ "paginator.next" | transloco }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
