<section id="how-to-calculate">
    <div class="container">
        <h3>{{ "faq.how_to_calculate_title" | transloco }}</h3>
        <p>
            <span class="font-weight-bold">{{ "faq.calc_two_ways" | transloco }} </span>
            <span class="text-danger">{{ "faq.calc_by_size_and_weight" | transloco }}</span>
        </p>
        <p>
            <u>{{ "faq.calc_method" | transloco }}</u>
        </p>
        <ol>
            <li>{{ "faq.calc_step1_title" | transloco }}<br />
                <small>{{ "faq.calc_step1_desc" | transloco }}</small>
            </li>
            <li>{{ "faq.calc_step2" | transloco }}<br />
                <small>{{ "faq.calc_step2_note" | transloco }}</small>
            </li>
            <li>{{ "faq.calc_step3" | transloco }}</li>
            <li>{{ "faq.calc_step4" | transloco }}
                <ol>
                    <li>{{ "faq.calc_if_actual_weight" | transloco }} <u>{{ "faq.greater_than" | transloco }}</u> {{ "faq.calc_heavy" | transloco }} <span
                            class="text-danger">{{ "faq.calc_use_kg_rate" | transloco }}</span></li>
                    <li>{{ "faq.calc_actual_weight" | transloco }} <u>{{ "faq.less_than" | transloco }}</u> {{ "faq.calc_light" | transloco }} <span
                            class="text-danger">{{ "faq.calc_use_cbm_rate" | transloco }}</span></li>
                </ol>
            </li>
        </ol>

        <div class="calculator pt-3">
            <p class="my-0">
                <u>{{ "faq.calculator" | transloco }}</u>
            </p>
            <div class="row pt-3">
                <div class="col-2">
                    <label>{{ "faq.width_cm" | transloco }}</label>
                    <input type="text" id="width" class="form-control form-control-sm">
                </div>
                <div class="col-2">
                    <label>{{ "faq.length_cm" | transloco }}</label>
                    <input type="text" id="long" class="form-control form-control-sm">
                </div>
                <div class="col-2">
                    <label>{{ "faq.height_cm" | transloco }}</label>
                    <input type="text" id="height" class="form-control form-control-sm">
                </div>
                <div class="col-2">
                    <label>{{ "faq.weight_kg" | transloco }}</label>
                    <input type="text" id="weight" class="form-control form-control-sm">
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-2">
                    <label>{{ "cubic_meter" | transloco }}</label>
                    <input type="text" id="cubic" class="form-control form-control-sm" disabled="">
                </div>
                <div class="col-2">
                    <label>{{ "faq.expected_weight" | transloco }}</label>
                    <input type="text" id="shouldweight" class="form-control form-control-sm" disabled="">
                </div>
                <div class="col-2">
                    <label>&nbsp;</label>
                    <p id="cal-result" class="text-success"></p>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-4">
                    <button (click)="cal()" class="btn btn-sm btn-primary">{{ "faq.calculate" | transloco }}</button>
                </div>
            </div>
        </div>
    </div>
</section>