<div class="card">
  <div class="card-header">
    <h2 class="card-title">{{ "exchange.all_exchange_orders" | transloco }}</h2>
    <div>
      <button
        class="btn btn-icon btn-3 btn-primary mr-3"
        [routerLink]="['/web/wallets']"
      >
        <span class="btn-inner--icon"><i class="fas fa-wallet"></i></span>
        <span class="btn-inner--text">{{ "exchange.yuan_wallet" | transloco }}</span>
      </button>
      <button
        class="btn btn-icon btn-3 btn-primary"
        (click)="createNewExchange()"
        [disabled]="!isServiceAvailable"
      >
        <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
        <span class="btn-inner--text">{{ "exchange.create_new_order" | transloco }}</span>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="text-right">
      <p>
        {{ "exchange.view" | transloco }}
        <a
          href="https://www.bestthaichina.com/downloads/how_to_use_hub_exchange.pdf"
          target="_blank"
          >{{ "exchange.how_to_use_payment_service" | transloco }}</a
        >
      </p>
      <p>
        {{ "exchange.view" | transloco }}
        <a
          href="https://www.bestthaichina.com/downloads/ขั้นตอนการขอคืนเงิน.pdf"
          target="_blank"
          >{{ "exchange.refund_procedure" | transloco }}</a
        >
      </p>
      <p>
        {{ "exchange.please_verify_alipay" | transloco }}
        <a
          href="https://bestthaichina.com/downloads/how_to_verify_alipay.pdf"
          target="_blank"
          >{{ "exchange.how_to_verify" | transloco }}</a
        >
      </p>
      <p>
        {{ "exchange.cannot_create_now" | transloco }}
        <a href="faq#exchange" target="_blank">{{ "exchange.see_more_info" | transloco }}</a>
      </p>
    </div>
    <div *ngIf="!isEmptyDetails()">
      <div class="overflow-x-auto">
        <table class="table align-items-center table-flush mt-4">
          <thead class="thead-light">
            <tr>
              <th scope="col">{{ "transaction_number" | transloco }}</th>
              <th scope="col">{{ "exchange.created_at" | transloco }}</th>
              <th scope="col">{{ "exchange.exchange_amount" | transloco }}</th>
              <th scope="col">{{ "exchange.amount_to_pay" | transloco }}</th>
              <th scope="col">{{ "status" | transloco }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data">
              <td>{{ item.name }}</td>
              <td>{{ getDateTimeText(item.create_date) }}</td>
              <td>{{ item.quantity_with_symbol }}</td>
              <td>{{ item.thai_amount_with_symbol }}</td>
              <td>
                <p>{{ item.status }}</p>
                <a
                  *ngIf="item.state === 'wait'"
                  href="javascript:void()"
                  [routerLink]="['/web/payment-notice', item.id]"
                  >{{ "notify_payment" | transloco }}</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="pagination?.records > 10" class="d-flex justify-content-end mt-4">
        <ul class="pagination">
          <li
            class="page-item"
            [ngClass]="{
              disabled: pagination && pagination.page === pagination.startPage
            }"
          >
            <a class="page-link" (click)="handleChangePage(pagination.page - 1)">
              <i class="fa fa-angle-left"></i>
              <span class="sr-only">{{ "paginator.previous" | transloco }}</span>
            </a>
          </li>
          <li
            *ngFor="let pageNumber of pageNumbers"
            class="page-item"
            [ngClass]="{
              active: pagination && pagination.page === pageNumber
            }"
          >
            <a class="page-link" (click)="handleChangePage(pageNumber)">{{
              pageNumber
            }}</a>
          </li>
          <li
            class="page-item"
            [ngClass]="{
              disabled: pagination && pagination.page === pagination.endPage
            }"
          >
            <a class="page-link" (click)="handleChangePage(pagination.page + 1)">
              <i class="fa fa-angle-right"></i>
              <span class="sr-only">{{ "paginator.next" | transloco }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="isEmptyDetails()">
      <h3 class="text-center p-3">{{ "exchange.no_exchange_orders" | transloco }}</h3>
    </div>
  </div>
</div>
